<h1>Patron Perks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @merchandises.each do |merchandise| %>
      <tr>
        <td><%= merchandise.name %></td>
        <td><%= merchandise.price %></td>
        <td><%= merchandise.desc %></td>
        <td><%= link_to 'Show', merchandise %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
