<div class="container pt-4 mt-4">
  <%= render 'layouts/flash_messages' %>
  <div class="row justify-content-center pt-3">

<% if current_user != nil  %>
  <script type="text/javascript">
    window.location.href="/invite"
  </script>
<% end %>
    <div class="col-lg-6 bg-light border p-3" style="padding:20px 0px 0px 0px">
      <div class="row justify-content-center well">
        <h2>
            You must be signed in to send an invite to get points!
        </h2>
         <%= link_to "Sign Up Here!", '/signup', class: "btn btn-primary border border-light" %>
         <%= link_to "Log In Here!", '/login', class: "btn btn-primary border border-warning text-warning" %>
      </div>
    </div>
</div>
</div>