<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - Crowdfund</title>
</head>

  <div class="row">
EXT. BACK COURTYARD<br>
A warm fall afternoon. Kelly, Lisa, Rick, Luke (wearing uniforms) paint posters. Luke gets up and goes over to his backpack.<br><br>
RICK<br>
Do you think we'll have a winning season this year?<br><br>
KELLY<br>
We'll be lucky to have a winning game. <br><br>
Luke picks up a Chick On A Stick hat (like Hot Dog on a Stick) and puts in on. <br><br>
KELLY<br>
That's fashionable. Not.<br><br>
LUKE<br>
I wish I didn't have to work tonight. I hate missing a game. <br><br>
KELLY<br>
So you can watch our boys get humiliated? <br><br>
RICK<br>
Who cares who wins. Nobody goes to watch the game.<br><br> 
LUKE<br>
True fact. They go to get drunk under the bleachers. <br><br>
LISA<br>
I go to get away from my parents. <br><br>
LUKE<br>
Looks like we're about done with the poster anyway. <br><br>
LISA<br>
Kelly and I will make sure the posters are hung on the bleachers.<br><br>
LUKE<br>
Have fun. <br><br>
Luke and Rick pick up their backpacks and leave. 
  </div> 
