<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">Our Story
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px; font-family: Helvetica; line-height: 24px; font-weight: 400;">

  <%=image_tag("circle1.png", :style => "width: 25%", :align =>"right")%>
  Back in the days of Second Life, <%= link_to "Dr. Lisa Schaefer", '/youronlinemom' %> was inspired by that platform's fascinating conversations she could drop into with people from all over the world. Several years later, Dr. Schaefer experimented with live video to invite people to have thought-provoking conversations, like an online cocktail party with several groups of people conversing about various interesting and important topics. It wasn't clear who would be the first audience for her live video conversation platform.<br><br>

  Some of the teenagers at the church Dr. Schaefer attends wanted to reach out to her in the middle of the week. She decided to host fellowship hours on ThinQ.tv after school and created the character YourOnlineMom for high school and college students. Then COVID-19. Dr. Schaefer's mother in law is now confined to her room without all the enriching activities at her Senior Living center; no one is allowed to visit. The Senior Living residents need Online Kids and Grandkids during this difficult time. <br><br>

  We're inviting student organizations, religious organizations, authors, and senior centers to participate in live video Fellowship Hours to be here for each other. Stop by ThinQ.tv to discuss news, books, trivia games or even say a prayer. Buttons to each of the conversations appear on the homepage schedule during the times when the Fellowship Hours are live. Please send the <%= link_to "Senior Living link", '/seniorliving' %> to your parents or grandparents so they have someone to reach out to during the day. <br><br>

  You're also encouraged to <%= link_to 'Post your own Fellowship Hours', new_event_path %> on the ThinQ.tv schedule when you'll be at a computer or phone to listen to the people who'd love to talk to you.

  <br><br>
</div>
