<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-6 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

    <div class="helps" >
      Why we created CrowdPublish.TV 
    </div ><br>
    <div class="font19left" >
    CrowdPublish.TV is a member of the ASU Venture Devils program. 
    </div ><br><br>

    <div class="helps" >
      About the founder 
    </div ><br>
    <div class="font19left" >
    <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in engineering from Arizona State. She taught statistics classes at Marymount & American Universities and taught Ruby on Rails at George Mason University. Dr. Schaefer did engineering research at a tech think tank in the Washington, DC, suburbs where management did more tanking than thinking. <br><br>

    Dr. Schaefer took screenwriting classes from a Hollywood screenwriter and completed graduate level video production courses at American University. She has written books and produced two movies about women in technology: <%= link_to "Budget Justified", %> and <%= link_to "Lisa's 80s Catholic High School Movie", %>.<br><br>

    Dr. Schaefer lives in Phoenix with her husband of 24 years, her cat, and the two cats next door who think they live with her.
    </div ><br>
