<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">Our Story
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px; font-family: Helvetica; line-height: 24px; font-weight: 400;">
  <%=image_tag("circle1.png", :style => "width: 25%", :align =>"right")%>
  Back in the days of Second Life, <%= link_to "Dr. Lisa Schaefer", '/YourOnlineMom' %> was inspired by that platform's fascinating conversations she could drop into with people from all over the world. There were chat areas sponsored by Science Friday, NASA, IEEE, several universities, churches, a coalition of nonprofits, and many more organizations doing good work. However the culture that was allowed to thrive thoughout most of Second Life was one where avatars came to the platform dressed as hookers, people brought unsuspecting new users to sex rooms and stripper joints, and anonymity fostered trolling. Soon NASA, universities, etc. left. Nobody wanted to be associated with that.<br><br>

  Several years later, Dr. Schaefer experimented with live video to invite people to have thought-provoking conversations, like an online cocktail party with several groups of people conversing about various interesting and important topics. It wasn't clear who would be the first audience for her live video conversation platform. She tried various nonprofits and churches, but there wasn't a cohesive purpose to bring them together.<br><br>

  Then some of the teenagers at the church Dr. Schaefer attends wanted to reach out to her in the middle of the week. She decided to host office hours on ThinQ.tv after school. Figuring other teens would want to have someone caring and sensible to listen to them, she created the character YourOnlineMom and posted videos on other social media platforms to let all high school and college students know they were welcome to drop in to the YourOnlineMom office hours.<br><br>

  With this audience in mind, Dr. Schaefer started researching live video apps that were marketed to kids. She found several apps with hearts flitting across the screen, bright colors, and bunny ears. When she entered the chat rooms, she found girls dancing pitifully in their underwear, conversations where f*** was every other word, and men dropping in to the chatrooms with closeups of their pants off. Dr. Schaefer was furious. <br><br>

  Was this the only option they had? Dr. Schaefer decided to broadcast her own conversations in these apps as YourOnlineMom. Most people who stumbled in were pleased with the refreshing change, however men still offered to buy nude photos, asked for explicit details of her sex life, and took off their pants. Do they ask their moms for nude photos and details of their sex lives?<br><br>

  Dr. Schaefer realized that this wasn't an issue to be solved by technology. It had to be addressed by calling out the culture. Not only do the trolls need to be discouraged, but their victims need a community that stands up for them instead of looking the other way. Thus Dr. Schaefer drafted a list of <%= link_to 'Bystander Guidelines', bystanderguidelines_path %> for addressing online harassment. <br><br>

  Trolling is an issue that can't be alleviated by technology that blocks the account. It has to be treated as a social issue that is alleviated by supporting the person. They need "Online Parents" to redirect them and offer positive reinforcement for kind behavior. If harassment goes unaddressed, girls and young women leave, their voices go unheard. Women's voices are missing from business, tech, and political leadership because they are harassed, not listened to, and nobody has their back.<br><br> 

  Teens and young adults need a place where there are responsible people who will connect with them as people, not as victims to shock with trash talk and obscene photos. I hope you will <%= link_to 'join ThinQ.tv', user_signup_path %> to host your own office hours and help us create a culture where harassment is dealt with, where we listen and stand up for our online daughters and sons.
  <br><br>
</div>
