<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >
    <div class="helps" >
      What is CrowdPublish.TV 
    </div ><br>
    <div class="font19left" >
      A place for authors, videographers, and other storytellers to earn financial support from fans to create stories about Respectable Characters; a place to find and offer support for stories about characters we'd like to see more of in society. Fiction, nonfiction, books, articles, short stories, documentaries, movies, short video clips, video games - all types of storytelling are welcome as long as they showcase characters who make the world a better place. <br><br>

      Fans benefit by receiving items beyond just books and movies - storytellers offer the opportunity for fans to engage with storytellers via social media or other methods, sneak preview access, and any other unique items that only the storytellers can offer. CrowdPublish.TV helps storytellers come up with a list of suggested <%= link_to "Perks to offer fans", "/suggestedperks" %>. 
    </div >
  </div >
</div ><br>

  <div class="col-sm-2 col-sm-offset-1 col-xs-12">
    <%= image_tag "lisa.jpg", height: "250", style: "padding-top:40px" %>
  </div ><br>

  <div class="col-sm-6 col-sm-offset-1 col-xs-12">
    <div class="helps">
      About the founder 
    </div ><br>
    <div class="font19left">
      <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in systems engineering at Arizona State University and has written books and produced movies about women in tech.
      <br><br>

      Dr. Schaefer wanted society to encourage more stories about tech women and other role models - the antithesis to people who were famous for being famous. She created CrowdPublish.TV so other storytellers could have a platform where they could grow a business selling and spreading ideas along with tangible goods to their loyal fanbase. Dr. Schaefer intends that CrowdPublish.TV will become a platform where livestreaming discussions with storytellers can be found 24 hours a day. Where storytellers can 
      <br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program.  
    </div >
  </div ><br>
