<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
    <h3 class="aboutHeader">
      What is CrowdPublish TV?
    </h3 ><br>
    <h4 style = "line-height: 1.5em;">
We're throwing a cocktail party!<br><br>
Imagine a party where you can join hundreds of conversations. Except at this party, you're talking to people in Japan, New York, Denmark, and Mexico City.<br><br>

CrowdPublish.TV is creating a forum for stimulating conversations about any intellectual topic. We're starting with Tech, Faith, and International topics and expanding to more topics to feed your brain!<br><br>

Join us for conversations about intellectual topics affecting your life.<br><br>

*Cocktails not provided. :D<br><br>

      CrowdPublish TV is a platform for individuals and organizations who are doing purposeful work to host interactive livestream talk shows with colleagues and intellectually curious viewers. Whether you're on or offline, you can collect donations and sell unique items that only you could offer to your viewers! <br><br>


      CrowdPublish TV is a member of the ASU Venture Devils program.<br><br>
    </h4>

    <h3 class="aboutHeader">
      Who we are
    </h3 ><br>

      Founder: Lisa Schaefer, Ph.D.<br><br>

      Outreach: <br>
      Nayah Patel - George Washington University <br>
      Fenjia Shi - Arizona State University<br>
      Elaine Chandras - Arizona State University<br>
      Geneva Casebolt - University of Arizona<br>
      Teagan Livingstone - University of Alabama
      Sierra Conboy - Gettysburg College<br><br>

      User Experience Designers: <br>
      Alex Poulos - Arizona State University<br>
      Urgi Measo - Arizona State University <br>
      Judicael Tombo - Arizona State University<br>
      Ethan Clark - Arizona State University <br>
      Nha Nguyen - Arizona State University <br>
      Jun Piao - Arizona State University <br>
      Tasha Salgado - Texas Women's University <br>
      Elijah Delos Reyes - University of San Francisco<br>
      Kewal Haria - Pace University<br>
      Tejpal Singh - University of Michigan<br>
<br>

      Software Engineers:<br>
      Prachi Miyan - Arizona State University<br>
      Gabe Gulbransen - Arizona State University<br>
      Robert Haas - Arizona State University<br>
      Jason Wu - Arizona State University<br>
      Andrew Simon - Arizona State University<br>
      Sanket Parikh - Arizona State University<br>
      Peter Lyssikatos - Regis University<br>
      Cody Karunas - University of South Florida<br>
      Maria Diaz <br>
<br>

      Past:<br>
      Gianmarco Minin - GoDaddy<br>
      Roni Polus - Connexta<br>
      AJ Asa - Charles Schwab<br>
      Chris Adams  <br>
      Tristan Soto  <br>


<br><br><br>
  </div>
