<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">Our Story
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px; font-family: Helvetica; line-height: 24px; font-weight: 400;">
  <%=image_tag("circle1.png", :style => "width: 25%", :align =>"right")%>
  Back in the days of Second Life, <%= link_to "Dr. Lisa Schaefer", '/YourOnlineMom' %> was inspired by that platform's fascinating conversations she could drop into with people from all over the world. There were chat areas sponsored by Science Friday, NASA, IEEE, several universities, churches, a coalition of nonprofits, and many more organizations doing good work. However the culture that was allowed to thrive thoughout most of Second Life was one where avatars came to the platform dressed as hookers, people brought unsuspecting new users to sex rooms and stripper joints, and anonymity fostered trolling. Soon NASA, universities, etc. left. Nobody wanted to be associated with that.<br><br>

  Several years later, Dr. Schaefer experimented with live video to invite people to have thought-provoking conversations, like an online cocktail party with several groups of people conversing about various interesting and important topics. It wasn't clear who would be the first audience for her live video conversation platform. She tried various nonprofits and churches, but there wasn't a cohesive purpose to bring them together.<br><br>

  Then some of the teenagers at the church Dr. Schaefer attends wanted to reach out to her in the middle of the week. She decided to host fellowship hours on ThinQ.tv after school. Figuring other teens would want to have someone caring and sensible to listen to them, she created the character YourOnlineMom and posted videos on other social media platforms to let all high school and college students know they were welcome to drop in to the YourOnlineMom fellowship hours.<br><br>

  With this audience in mind, Dr. Schaefer started researching live video apps that were marketed to kids. She found several apps with hearts flitting across the screen, bright colors, and bunny ears. When she entered the chat rooms, she found girls dancing pitifully in their underwear, cussing contests, and men dropping in to the chatrooms with closeups of their pants off. Dr. Schaefer was furious. <br><br>

  Nobody needs that. We need fellowship. During these trying times, we need a way to be present for each other even when we cannot gather. We need to have each other's back spiritually and emotionally. That's what Fellowship Hours are for on ThinQ.tv. We hope you will stop by for a prayer or to Be Heard. You're also encouraged to <%= link_to 'Post your own Fellowship Hours', new_event_path %> on the ThinQ.tv schedule when you'll be at a computer or phone to listen to the people who'd love to talk to you.

  <br><br>
</div>
