<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
<<<<<<< HEAD
  <div class="col-sm-8 col-sm-offset-1 col-xs-12" >
=======
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
>>>>>>> 7f98b6bc6ee7ffd07ada4f99a102ba130bc037f4
    <h3 >
      What is CrowdPublish.TV 
    </h3 ><br>
    <h4 style = "line-height: 1.5em;">
      CrowdPublish.TV is a platform for nonprofits and other organizations doing purposeful work to host informal livestream talk shows with colleagues & donors while collecting donations and selling perks. We're currently seeking potential Founding Hosts to become the leading Discussion Hosts on the site who will have significant influence over how CrowdPublish.TV grows.<br><br>

      Founding Hosts don't need to spend much time upfront creating content. All you need to do is decide on a time and topic with one or two colleagues, think of a few talking points, and encourage fans & donors to join in. <br><br>

      <%= link_to 'Try it out! ', "/signup" %> Message info@CrowdPublish.TV if you know someone who should become a potential Founding Host.<br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program.  
    </h3><br><br><br>
  </div >
