    <h2 class="new">ThinQ is an online experience similar to going to a cocktail party!
      </h2>
      <p>ThinQ.TV is a free platform where people can discover their passions. By participating in intellectual video chats, people can explore different opinons or enhance their skills through collaboration.
      </p>
    </div>
    <!-- closing main content -->
  </div>

  <!--side column -->
  <div class="col-lg-4 col-md-4">
    <h1 class="new">
      Our Mission
    </h1>
    <h2 class="new">Discover People Who Make you ThinQ</h2>
    <p>Discover conversations with intelligent activists about topics important to you. Change the world one conversation at a time.
    </p>
  </div>
</div>
<!-- closing top section-->

<! -- why thinQ.tv section -->
<div class="row mb-0 pb-0 mt-3 pt-3">
  <h1 class="new">
    Why ThinQ.tv?
  </h1>
  <div class="row align-items-end">
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <%= image_tag("knowledge_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <!--<br> this is a short icon, so Im adding a break to fix the spacing -->
      <%= image_tag("discovery_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <!--t <br> <br> his is a really short icon, so Im adding 2 breaks to fix the spacing. Theres probably a more elegant way to do this -->
      <%= image_tag("collaboration_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <%= image_tag("schedule_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
  </div>
  <div class="row mt-0 pt-0">
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Activism
      </h2>
      <p>
        Gather momentum for causes you believe in
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Discovery
      </h2>
      <p>
        Passionate people who have interesting ideas to share & collaborate on
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Dialogue
      </h2>
      <p>
        Share ideas and get feedback <i>with</i> others instead of talking <i>at</i> them
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Schedule
      </h2>
      <p>
        Don’t wait to be invited! Look at our Coversation and Study Hall schedules to join in dialogue at any time!
      </p>
    </div>
  </div>
</div>
<!-- closing why section -->

<! -- our story section -->
<div class="row mb-1 pb-3 mt-1 mx-5 px-5">
  <h1 class="new">
    Our Story
  </h1>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <p>
      Back when ThinQ.tv Founder, Dr. Lisa Schaefer, lived in Washington, DC, she attended a meeting where Biz Stone spoke. All she could thinQ of during the entire meeting was, "Twitter is so lame. I can come up with something better."<br>

      Years earlier, Dr. Schaefer had a vision for multi-location book party and discovered livestreaming in its early days. "This changes everything," she thought. Anyone with a computer, webcam, and internet connection can communicate with anyone with anyone else who has an internet connection.<br>

      Dr. Schaefer developed her own web platform, embedded video chat, and experimented with talk show formats. Most were awful. People wanted to talk at the internet without listening to others in a dialogue. However the impromptu conversations that followed were worth coming back for.<br>

      In July 2019 Dr. Schaefer decided to call the platform ThinQ.tv. She researched video chat apps marketed to teens and young adults and was appalled - cussing contests, requests for nude photos (Dr. Schaefer is in her 50s), boys with their pants off. When COVID19 hit, more people gathered on ThinQ.tv to talk about substantive topics. Dr. Schaefer gathered outreach & tech students to host conversations every evening about Women in Tech, Black Lives Matter, and national news.<br>

      Since we were geographically dispersed & working from home, Dr. Schaefer required interns to work in chatrooms on ThinQ.tv. It became our office. Study Hall evolved. As a women-founded tech company, the purpose of ThinQ.tv's Study Hall is to advance women & minorities in tech and women-owned tech businesses. <br>

      "Being woman engineer is an act of activism," according to Dr. Schaefer. "Just showing up in spite of the harassment and the assumption that I don't belong here is an act of defiance. If my face goes away, so does my voice. Which leaves a vacuum of leadership for the upcoming generation of women."
    </p>