<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
    <h3 class="aboutHeader">
      What is CrowdPublish.TV?
    </h3 ><br>
    <h4 style = "line-height: 1.5em;">
      CrowdPublish.TV is a platform for individuals or organizations who are doing purposeful work to host interactive livestream talk shows with colleagues and intellectually curious viewers. Whether your on or offline, you can collect donations and sell unique items that only you could offer to your viewers. <br><br>

      <i>Want to have a significant influence over the growth of CrowdPublish.TV?</i> <br>

      Become a Founding Host and lead meaningful talk shows. Founding Hosts have the opportunity to conduct talk shows with whomever they choose. Decide on a time, a topic, a guest, and encourage fans & donors to join in and ask questions! <br><br>

      <%= link_to 'Try it out! ', "/signup" %> Message info@CrowdPublish.TV if you know someone who should become a Founding Host.<br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program.<br><br>
    </h4>

    <h3 class="aboutHeader">
      Who we are
    </h3 ><br>

      Founder: Lisa Schaefer, Ph.D.<br><br>

      Outreach: <br>
      Kristian Dolghier - Arizona State University<br>
      Annie Ferguson - University of Virginia <br>
      Elaine Chandras - Arizona State University / NYC<br>
      Monica Gunkle - American University<br>
      Madison Vialpando - University of Nevada - Reno<br><br>

      User Experience Designers: <br>
      John Fassold<br>
      Emily Kochi <br>
      Judicael Tombo<br><br>

      Software Engineers:<br>
      Prachi Miyan<br>
      Chris Adams<br>
      AJ Asa<br>
      Gabe Gulbransen<br>
      Jacob Hreshchyshyn<br>
      Jiwon Kim<br>
      Robert Haas<br>
      Sanket<br>
      Seth Turnage<br>

<br><br><br>
  </div>
