<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
    <h3 class="aboutHeader">
      What is CrowdPublish.TV?
    </h3 ><br>
    <h4 style = "line-height: 1.5em;">
      CrowdPublish.TV is a platform for individuals and organizations, doing purposeful work, to host interactive livestream discussions with colleagues and donors. Collect donations, sell merchanidise and offer other benefits to your viewers. <br><br>

      <i>Want to have a significant influence over the growth of CrowdPublish.TV?</i> <br><br>

      Become a Founding Host and lead meaningful discussions. Founding Hosts have the opportunity to execute a discussion with whomever they choose. Decide on a time, a topic, a guest, and encourage fans & donors to join in! <br><br>

      <%= link_to 'Try it out! ', "/signup" %> Message info@CrowdPublish.TV if you know someone who should become a Founding Host.<br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program.

    </h4><br><br><br>
  </div>
