<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >
    <h3 >
      What is CrowdPublish.TV 
    </h3 ><br>
    <h4>
      Come play a role in inventing Interactive TV!<br><br>
      CrowdPublish.TV is a platform for small businesses to host livestream discussions with colleagues & fans/viewers/customers while selling items & services related to their brand.<br><br>

      CrowdPublish.TV needs interesting people to become Discussion Hosts to livestream with their colleagues & give us feedback. We're putting together a Phoenix-based group of Founding Hosts to be a support group for each other, to collaborate on informal livestream discussion panels, and to share viewership.<br><br>

      Founding Hosts don't need to spend much time upfront creating content. All you need to do is decide on a time and topic with one or two colleagues, think of a few talking points, and encourage friends and fans to join in. <br><br>

      Experiment on this site and let us know if you have any questions. Reply to info@CrowdPublish.TV if you'd like to be invited to the upcoming in-person meeting for Founding Hosts.<br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program.  
    </h3><br><br><br>
  </div >
