<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">Our Story
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px;
    font-family: Helvetica;
    line-height: 24px;
    font-weight: 400;">
  <%=image_tag("circle1.png", :style => "width: 25%", :align =>"right")%>
  Back in the days of Second Life, <%= link_to "Dr. Lisa Schaefer", '/YourOnlineMom' %> was inspired by that platform's fascinating conversations she could drop into with people from all over the world. Second Life had chat areas sponsored by Science Friday, NASA, IEEE, several universities, a church, a coalition of nonprofits, and many more organizations doing good work. However the culture that was allowed to thrive was one where avatars came to the platform dressed as hookers, people created sex rooms, and anonymity fostered griefing and trolling. Soon NASA, universities, etc. left Second Life. Nobody wanted to be associated with that.<br><br>

  Several years later, Dr. Schaefer experimented with live video to invite people to have thought-provoking conversations, sort of like a cocktail party with several groups of people conversing about various interesting and important topics. It wasn't clear who would be the first audience for her live video conversation platform. She tried various nonprofits and churches, but there wasn't a cohesive purpose to bring them together.<br><br>

  Then some of the teenagers at the church Dr. Schaefer attends wanted to reach out to her in the middle of the week. She decided to host office hours on ThinQ.tv after school. Figuring other teens would want to have someone caring and sensible to listen to them, she created the character YourOnlineMom and posted videos on other social media platforms to let high school and college students know they could drop in to the YourOnlineMom office hours.<br><br>

  With this audience in mind, Dr. Schaefer started researching live video apps that were marketed to kids. She found several apps with hearts flitting across the screen, bright colors, and bunny ears. When she entered the chat rooms, she found girls dancing pitifully in their underwear, conversations where f*** was every other word, and men dropping in to the chatrooms with closeups of their pants off. Dr. Schaefer was furious. <br><br>

  Was this the only option they had? Dr. Schaefer decided to broadcast her own conversations as YourOnlineMom. Most people were pleased with the refreshing change, however men still offered to buy nude photos, asked for explicit details of her sex life, and took off their pants. Do they often ask their moms for details of their sex lives?<br><br>

  Dr. Schaefer realized that this wasn't an issue to be solved by technology. It had to be addressed by calling out the culture. 



  Teens and young adults need a place where there are responsible people who will connect with them as people, not as someone to hurl trash talk and shock photos. Where someone has their back. I hope you will join us in creating a culture where harassment is dealt with, where people don't look the other way and leave our future generation to put up with it.

  <br><br>
</div>
