<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >
    <div class="helps" >
      What is CrowdPublish.TV 
    </div ><br>
    <div class="font19left" >
      A place for authors and actors to interact with fans and earn financial support. Authors give livestreaming talks or offer snippets of their stories to be read by actors live. Actors get their colleagues and fans together to act out a provided script while fans watch, chat, and select items from crowdfunding campaigns. <br><br>

      Fans receive items beyond just books and movies - actors and authors offer the opportunity for fans to engage via social media or other methods, sneak preview access, and any other unique items that only the authors and actors can offer. CrowdPublish.TV helps actors and authors come up with <%= link_to "Perks to offer fans", "/suggestedperks" %>. 
    </div >
  </div >
</div ><br>

  <div class="col-sm-2 col-sm-offset-1 col-xs-12">
    <%= image_tag "lisa.jpg", height: "250", style: "padding-top:40px" %>
  </div ><br>

  <div class="col-sm-6 col-sm-offset-1 col-xs-12">
    <div class="helps">
      About the founder 
    </div ><br>
    <div class="font19left">
      <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in systems engineering at Arizona State University, was a research engineer at a think tank in Washington, DC, and taught engineering courses at several universities.
      <br><br>

      Dr. Schaefer is the writer-producer of Lisa's 80s Catholic High School Movie and Budget Justified: The Waste, Fraud & Abuse of Government Workers. She encourages society to create more stories about everyday leaders, especially women in tech. She created CrowdPublish.TV so other storytellers could grow their businesses selling the antithesis to people who are famous for being famous. Dr. Schaefer intends that CrowdPublish.TV will become a platform where livestreaming discussions with storytellers can be found 24 hours a day.
      <br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program.  
    </div ><br><br><br>
  </div >
