<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

    <div class="helps" >
      Why we created CrowdPublish.TV <br><br>
    </div >

    CrowdPublish.TV is a member of the ASU Venture Devils program.<br>

    <div class="helps" >
      About the founder <br><br>
    </div >
    Founder & Software Engineer, Lisa Schaefer, earned her Ph.D. in engineering from Arizona State. She taught statistics classes at Marymount & American Universities and taught Ruby on Rails at George Mason University. Dr. Schaefer has several years of engineering research and project management experience. She took screenwriting classes from a Hollywood screenwriter and completed graduate level video production courses at American University. Dr. Schaefer has written several books and produced two movies about women in technology: <i>Budget Justified</i>, and <i>Lisa's 80s Catholic High School Movie</i>.<br><br>
    Dr. Schaefer lives in Phoenix with her husband of 24 years, her cat, and the two cats next door who think they live with her.
