<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >
    <div class="helps" >
      What is CrowdPublish.TV 
    </div ><br>
    <div class="font19left" >
      A place for authors and actors to interact with fans and earn financial support. Actors get their colleagues and fans together in a livestreaming session to act out a provided script or perform improv. Authors livestream fireside chats or run book discussions. Fans watch, chat, and select items from crowdfunding campaigns. <br><br>

      Fans receive items beyond just books and movies - actors and authors offer the opportunity for fans to engage via social media or other methods, sneak preview access, and any other unique items that only the authors and actors can offer. CrowdPublish.TV helps actors and authors come up with <%= link_to "Perks to offer fans", "/suggestedperks" %>. <br><br> 

      <%= link_to "Drop in to a livestream", "/livestream" %> to find out what we're doing on CrowdPublish.TV. While we grow, we're arranging times for actors and fans to get together to experiment with livestreaming skits. Let us know if you'd like to sign up for a time slot. info@CrowdPublish.TV

      CrowdPublish.TV is a member of the ASU Venture Devils program.  
    </div ><br><br><br>
  </div >
