<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" style="" >
    <div class="font19left">

WANTED: STORYTELLER LIAISONS<br><br>

CrowdPublish.TV is seeking volunteers who can help target and get site
feedback from storytellers - authors, filmmakers, theater troupes,
etc. Volunteers will gain experience at a tech startup while being
mentored by highly educated, experienced professionals. If seeking
internship credit, time commitment is a flexible 10 hours per week.
Volunteers may receive training in graphics editing, book trailer
production, and effective social media engagement techniques.<br><br>

Please send resume to info@CrowdPublish.TV<br><br>

About CrowdPublish.TV:<br><br>

Tech startup developing the crowdfunding platform for stories about
Classy Characters - the antithesis to glorifying people who are famous
for being famous.<br><br>

Founder & Software Engineer, Lisa Schaefer, earned her Ph.D. in
engineering from Arizona State. She taught courses at Marymount,
American, and George Mason Universities. Dr. Schaefer has several
years of project management experience. She has written several
creative nonfiction books and produced two movies about women in
technology. Dr. Schaefer is the past president of the Northern
Virginia Writers Club.<br><br>

CrowdPublish.TV is a member of the ASU Venture Devils program. We are
located at Scottsdale Road & McDowell.

    </div ><br>
  </div ><br>
</div ><br>
