<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

    <div class="helps" >
      2015 Internships <br><br>
    </div >
    We are now accepting resumes for the 2015 apprenticeship and summer internship positions. Please send a link to your <b>online resume</b> (such as linkedin or a resume hosted on your own custom site) to <b>info@CrowdPublish.TV</b>. If you do not have an online resume, you may email a text, html, or pdf version.  <br><br>

    The CrowdPublish.TV office is located 1 mile north of the Vienna metro station in Vienna, VA. We will accept up to three interns for the positions. Hours and dates are flexible (any time Mon - Sun between 9:00am & 10:00pm) and may be continued into the fall semester. The main tasks will be to help out with the Local Authors Scene, a group of authors in the DC area who are committed to building readership fan bases at the grassroots level.  <br><br>

    <b>Goals</b><br>  
    Interns & apprentices will work on the following tasks:<br>
    * Create a list of contact information and support provided of local groups (writer organizations, critique groups, libraries, book clubs, etc.) that provide some level of indie author support.<br>
    * Create an http://CrowdPublish.TV/groups page for these local groups & get them to post events on the calendar. <br>
    * Manage several social media pages for the Local Author Scene. <br>
    * Work with libraries to advertise events, reserve space.<br>
    * Gather peers to attend events posted by Local Authors.<br>
    <br>
    * Hospitality at monthly Local Author Scene events - greet, set up room, post directional flyers in doorways.<br>
    * Post flyers at libraries, community centers, and businesses supportive of arts.<br>
 
    <b>Learning opportunities</b> <br>
    Interns & apprentices can expect to get great career experience:<br>
    * Meet DC-area authors of all ages and learn about their experiences. <br>
    * Learn about growing a small business through open-source business practices & community engagement - a business accountable to The People, not to The Corporation. <br>
    * Learn about the process of developing a book & keeping your rights.  <br>
    * Learn about tech startups and the changing nature of how Americans work.
    * and CSS web design language, html, database queries, Ruby on Rails web development language, & javascript, for those who are interested.<br>

</div></div><br><br><br>
