<div class="dialog" >
  <div class="row pt-5">
    <div class="col-md-4 col-md-offset-4" style="background-color: white; padding-bottom: 10px; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
      <div class="row" style="padding:0px 0px 0px 0px; text-align:center">
        <h1 style="font-size: 28px; color:red">You don't have permission to access this viewer</h1>
      </div>
      <hr style="border: 1px solid black; margin-top: 7px; margin-bottom: 7px" />
      <p style="text-align: center">This user has blocked you from viewing their conversations. If you think that this is an error or that the decision was made unfairly, you may contact <a href="mailto:info@thinq.tv" alt="Email" target="_blank">info@thinq.tv</a> for more information</p>
      <div style="text-align: center; ">
        <hr style="border: 1px solid black; margin-top: 7px; margin-bottom: 7px" />
        <%= link_to "Back to ThinQ.tv", root_path %>
      </div>
    </div>
  </div>
</div>