  <h2>We are seeking members for our new YourOnlineMom Board of Directors</h2>
<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h3 class="aboutHeader">Help form a Coalition of Organizations who have a stake in creating a culture where online harassment is called out</h3>
      <h4>Mission: Create a culture where harassment in live online video is called out <br><br>
        We are starting the process of forming YourOnlineMom as a nonprofit and seeking Founding Board Members.  <br><br>
        Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', root_path %> home page <br>
      </h4>
</div>  

<div class="row" style="background-color: #F2EBE4" >
      <h3 style = "color:#8C1D40">Required Qualifications: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Experience in planning and implementing advocacy strategies and campaigns to support an issue or cause. <br> 
        - Connected leader in tech or feminist communities who can leverage networks and resources in support of efforts to positively impact the live video tech culture. <br>
        - Significant presence in social media, as evidenced by having written well-researched content. <br>
      </div> 

      <h3 style = "color:#8C1D40">Purpose of the YourOnlineMom Board of Directors: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        Carry out the mission of YourOnlineMom by:<br>
        - Advocating for what we're doing to combat online sexual harassment via your articles, speaking, social media<br>
        - Inviting relevant <%= link_to 'organizations', getinvolved_path %> to join a coalition<br>
        - Attend virtual Board meetings, Coalition meetings, and drop in to occasional Online Parent sessions hosted by ThinQ.tv members at least once per month <br>
        - Fundraising <br><br>
        Board terms last for three years and board members can serve for up to three consecutive terms.<br>
      </div> 

      <h3 style = "color:#8C1D40">How to Join the coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Drop in to any of the Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you <br>
        - Send resume and cover letter to info@ThinQ.tv. Cover letter must describe your goals or mission for participating on the Board. <br>
      </div> 

</div><br>
