<div class="row" style='padding-top: 10rem; padding-bottom: 20rem; padding-left: 12rem'>
  <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top:5%">
    <h4 style="color: rgba(90, 90, 90, 1); margin-bottom:0.1rem">
      ThinQ.tv is seeking a Founding Board of Advisors.
    </h4>
    <h2 style="font-size:6rem; font-weight:bold; margin-top: 1rem; line-height:7rem">
      We are seeking Founding Members for our new YourOnlineMom Board of Advisors
    </h2>
    <h3 class="aboutHeader">Mission: Create a culture where we can have conversations that help us grow intellectually and protect each other from harassment</h3>
  </div>  
</div>


<div class="row" style='padding: 0rem 10rem 4rem 10rem'>
  <div class='col-lg-4 col-md-4 col-sm-6' style="">
    <h2 style = "color:#8C1D40; font-weight:bold; padding-bottom:3rem; line-height:5rem; font-size:3.5rem">Purpose of the YourOnlineMom Board of Advisors </h2>
    <div style="font-size: 18px; line-height: 1.5em">
      <p>Carry out the mission of YourOnlineMom by</p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Attend virtual Board meetings and host <%= link_to "Online Mom", parents_path %> sessions
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Advocate for what we're doing to combat online sexual harassment via your articles, speaking, social media
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Nominate other responsible adults to become Online Parents and Siblings
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Participate in developing and refining the <%= link_to 'Bystander Guidelines', bystanderguidelines_path %> for addressing online harassment
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Fundraising
      </p>
    </div> 
  </div>


  <div class='col-lg-4 col-md-4 col-sm-6'>
    <h2 style = "color:#8C1D40; font-weight:bold; padding-bottom:6rem; padding-top:2rem; line-height:5rem; font-size:3.5rem">Required Qualifications </h2>
    <div style="font-size: 18px; line-height: 1.5em; padding-top: 4.4rem">
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Experience in planning and implementing advocacy strategies and campaigns to support an issue or cause
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Connected leader in tech or women's communities who can leverage networks and resources in support of efforts to positively impact the live video tech culture
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Significant presence in social media, as evidenced by having written well-researched content
      </p>
    </div> 
  </div>


  <div class='col-lg-4 col-md-4 col-sm-6'>
    <h2 style = "color:#8C1D40; font-weight:bold; padding-bottom:3rem; line-height:4rem; margin-top:2rem; line-height:5rem; font-size:3.5rem">How to Apply to be on the Board of Directors </h2>
    <div style="font-size: 18px; line-height: 1.5em; padding-top:3.9rem">
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Drop in to any of the YourOnlineMom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you
      </p>
      <p style='font-size:20px; font-weight:700; color: rgba(90, 90, 90, 1); padding-bottom: 15px;'>
        Send resume and cover letter to info@ThinQ.tv. Cover letter must describe your goals or mission for participating on the Board
      </p>
    </div> 
  </div>
</div>
<br>
