<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h3 class="aboutHeader">Help create a culture without creepiness</h3>
      <h4>
        We are seeking members for our new YourOnlineMom Board of Directors.<br><br>

        Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', root_path %> home page <br>
      </h4>
</div>  

<div class="row" style="background-color: #F2EBE4" >
      <h3 style = "color:#8C1D40">Required Qualifications: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Degree<br>
        - Writings or videos<br>
        - Tech<br>
        - Leadership, nonprofit, volunteer <br>
      </div> 

      <h3 style = "color:#8C1D40">Purpose of the YourOnlineMom Board of Directors: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Form a coalition<br>
        - A monthly day to take over apps that have high sexual harassment activity by sending a group of responsible adults into the apps to do the items on the List<br>
        - Vet a force of <%= link_to 'Online Parents and Siblings', parents_path %> to host conversation times for students<br>
      </div> 

      <h3 style = "color:#8C1D40">How to Join the coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Drop in to any of the Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you <br>
        - Send resume and cover letter to info@ThinQ.tv. Cover letter must describe your goals or mission for participating on the Board. <br>
      </div> 

</div><br>
