<div class="row board-of-director-title-section" style='background: url( <%= asset_path 'dylan-gillis-KdeqA3aTnBY-unsplash.jpg' %> ); background-repeat: no-repeat; background-position: center center; background-size: cover; padding-left:7.5rem'>
  <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top:5%">
    <h4>ThinQ.tv is seeking a Founding Board of Advisors.</h4>
    <h2>We are seeking Founding Members for our new YourOnlineMom Board of Advisors</h2>
    <h3>Mission: Create a culture where we can have conversations that help us grow intellectually and protect each other from harassment</h3>
  </div>  
</div>


<div class="row board-of-director-content-section">
  <div class='col-lg-4 col-md-4 col-sm-6'>
    <h2>Purpose of the YourOnlineMom Board of Advisors </h2>
    <div class="board-of-director-content-section-bullet-points">
      <p>Carry out the mission of YourOnlineMom by</p>
      <p>Attend virtual Board meetings and host <%= link_to "Online Mom", parents_path %> sessions</p>
      <p>Advocate for what we're doing to combat online sexual harassment via your articles, speaking, social media</p>
      <p>Nominate other responsible adults to become Online Parents and Siblings</p>
      <p>Participate in developing and refining the <%= link_to 'Bystander Guidelines', bystanderguidelines_path %> for addressing online harassment</p>
      <p>Fundraising</p>
    </div> 
  </div>


  <div class='col-lg-4 col-md-4 col-sm-6'>
    <h2 style="padding-bottom:6rem; padding-top:2rem; line-height:5rem;">Required Qualifications </h2>
    <div class="board-of-director-content-section-bullet-points" style="padding-top: 4.4rem">
      <p>Experience in planning and implementing advocacy strategies and campaigns to support an issue or cause</p>
      <p>Connected leader in tech or women's communities who can leverage networks and resources in support of efforts to positively impact the live video tech culture</p>
      <p>Significant presence in social media, as evidenced by having written well-researched content</p>
    </div> 
  </div>


  <div class='col-lg-4 col-md-4 col-sm-6'>
    <h2 style="padding-bottom:3rem; line-height:4rem; margin-top:2rem; line-height:5rem;">How to Apply to be on the Board of Directors </h2>
    <div class="board-of-director-content-section-bullet-points" style="padding-top:3.9rem">
      <p>Drop in to any of the YourOnlineMom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you</p>
      <p>Send resume and cover letter to info@ThinQ.tv. Cover letter must describe your goals or mission for participating on the Board</p>
    </div> 
  </div>
</div>
<br>
