<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-8 col-sm-offset-1 col-xs-12" style="" >
    <div class="font19left">

WANTED: RUBY ON RAILS APPRENTICES<br><br>

We are seeking apprentices who can learn Ruby on Rails by working
with the existing code base for CrowdPublish.TV. Successful candidate
will gain experience at a tech startup.<br><br>

Time commitment is a flexible 10 hours per week. This is your
opportunity to be a part of a developers bootcamp taught by a highly
educated, experienced software engineer﻿ - free of charge. Intern will
receive training in Ruby on Rails, CSS, MiniTest, and Test Driven
Development.<br><br>

Responsibilities:<br>
- Write tests to expand the current test suite for Test Driven Development<br>
- Improve site functionality<br><br>

Qualifications:<br>
- Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
- Familiarity with Ruby, JavaScript, HTML, CSS, SQL, or other language is desirable.<br>
- Strong independent problem-solving skills are required. <br><br>


Please send resume to info@CrowdPublish.TV<br><br>

About CrowdPublish.TV:<br><br>

Tech startup developing the crowdfunding platform for stories about
Classy Characters - the antithesis to glorifying people who are famous
for being famous.<br><br>

Founder & Software Engineer, Lisa Schaefer, earned her Ph.D. in
engineering from Arizona State. She taught courses at Marymount,
American, and George Mason Universities. Dr. Schaefer has several
years of project management experience. She has written several
creative nonfiction books and produced two movies about women in
technology. Dr. Schaefer is the past president of the Northern
Virginia Writers Club.<br><br>

CrowdPublish.TV is a member of the ASU Venture Devils program. We are
located at Scottsdale Road & McDowell.

    </div ><br>
  </div ><br>
</div ><br>
