<h2>Bystander Guidelines</h2>
<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px; ">
  <h3 class="aboutHeader">ThinQ.tv is a place where speaking up against sexual harassment is the norm</h3>
      <h4 style="line-height: 1.25em">
        The internet needs a mom. On all other live chat and video sites we researched, creepiness pervades the entire culture. These sites say they are for 18+, but they are marketed to kids. We can do better than that.<br><br>

        The most important role of Online Parents and Siblings is to speak out against misogynistic trolls rather than look the other way like the rest of the internet. When dealing with harassment in live video, thinQ of yourself as a caring parent. Assume that they are good kids (even if they're 50) who are having a bad day and need to be heard and redirected. Make sure harassment victims know you have their back. Otherwise they won't come back and the harassers will continue - the good people leave and we'd be left with a platform of trolls.
         <br><br>
        Below we created a first cut at examples of the Bystander Guidelines we will develop. As the internet is a constantly evolving entity, so will be the Guidelines. Have something you'd like us to include in the Bystander Guidelines? Let us know: info@ThinQ.tv
      </h4>
</div>  

 <ul class="accordion">
    <li>
      <a href="#" class="toggle">Someone insults another conversationalist</a>
      <div class="inner">
        <div id="content-container">
          <p>Ask why he is lashing out. Is there something going on in his life that is upsetting him? Tell him to apologize.</p>
          <p>Make sure the person being insulted is validated. Ask if she is upset and if she needs something else to be said to make her feel like ThinQ.tv is still a welcoming place for her. Make sure she knows you have her back.</p>
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="toggle">A girl crawls around the floor in her underwear</a>
      <div class="inner">
        <div id="content-container">
          <p>Ask what is going on in her life that leads her to seek attention in this manner. Find out if she can come up with better choices. Tell her to put clothes on or she will be blocked.</p>
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="toggle">Someone asks questions or makes insults related to another conversationalist's sex life</a>
      <div class="inner">
        <div id="content-container">
          <p>Tell him it not his business.</p>
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="toggle">Someone asks for phone sex chat</a>
      <div class="inner">
        <div id="content-container">
          <p>Ask him is he is lonely.</p>
        </div>
      </div>
    </li>

<br>
<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
    <h4>Sometimes trolls will only be satisfied by wreaking havoc. If the behavior does not stop, block the offender.<br>
    </h4>
</div>    
    <li>
      <a href="#" class="toggle">Someone takes off his pants</a>
      <div class="inner">
        <div id="content-container">
          <p>Tell him the NSA is recording this video and storing it with his IP address in their database. Block him from ThinQ.tv by clicking hovering over his picture and clicking Block.</p>
          <p>You may also announce Let us Pray for the Mentally Ill, then block.</p>
          <p>Or express pity that it is so small.</p>
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="toggle">Someone asks for nude photos or asks a conversationalist to take off clothing</a>
      <div class="inner">
        <div id="content-container">
          <p>Tell him we are not prostitutes. Block him from ThinQ.tv by clicking hovering over his picture and clicking Block.</p>
        </div>
      </div>
    </li>

  </ul>  

</div><br>

<script>
  $('.toggle').click(function(e) {
    ;
    e.preventDefault();

    var $this = $(this);

    if ($this.next().hasClass('show')) {
        //$this.next().slideUp(350);
       $this.next().removeClass('show');
    }
    if (!($this.next().hasClass('show'))){
        //$this.parent().parent().find('li .inner').removeClass('show');
        //$this.parent().parent().not($this.next()).find('li .inner').slideUp(350);
        $this.parent().parent().find('ul .inner').slideUp(350);
        //$this.next().toggleClass('show');
    }
    $this.next().slideToggle(350);
  });
</script>
