<div style="height: 100%">
  <%= render 'layouts/flash_messages' %>
  <div class="row justify-content-center" style="background-color: #8C1D40;">
    <div class="col-lg-6 pt-1 pb-1 pl-1 ml-1 mb-1 mt-1 pr-1">
         <h6 class="text-center text-white">
            Sit in on Industry Talk!! Schedule Below &#8595
        </h6>
    </div>
  </div>

  <div style="height: 500px">
    <script src="https://meet.jit.si/external_api.js">  </script>
    <script>
      jQuery(document).ready(function($) {
        var domain = "meet.jit.si";
        var options = {
          roomName: "thinqtv/embed",
          width: "100%",
          height: "100%",
          parentNode: document.querySelector('#meet')
        }
        var api = new JitsiMeetExternalAPI(domain, options);
      });
    </script>

    <div id = "meet" style="width: 100%; height:100%">
    </div>
  </div>
  <div id="events">
          <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date,
             events: @calendar_events_all, monthNum: 0, type: 0}%>
             <%=  puts "HERE!!!!!"  %>
             <%= puts params[:action] %>
    </div>


</div>
</div>


