<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
    <h2 class="aboutHeader">
      Faith Wednesdays
    </h2 ><br>
    <h4 style = "line-height: 1.5em;">
      We're launching Faith topics with Catholic student discussions. Meet us <%= link_to 'here on CrowdPublishTV ', '/lisa' %> at 6:30 pm every Wednesday.<br>
      <br>
        We'll talk about: <br>
        Apologetics<br>
        Evangelization<br>
        Relationships<br><br>

      Once we build a critical mass of participants for the Catholic discussions, Future topics later in the evenings on Wednesdays include: <br>Muslim student issues <br>Jewish student issues <br>Faith & Science.

    </h4><br><br>
      Got a Faith-related topic you'd like to discuss? <%= link_to 'Submit Here ', new_event_path %> <br><br>

    
<br><br><br>
  </div>
