<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="The Giving Network">
<title>CrowdPublishTV FAQ</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 h4" style = "line-height: 1.5em;" >

<div class = "h3" style = "color:#8C1D40" >
  How do Discussion Hosts get set up on CrowdPublish.TV? 
</div> 
<li>Create your profile</li>
<li>Create custom Donate or Buy buttons. Post items for sale unique to you or your organization such as a motivational post on fans' facebook wall or a download of an article you've written. (Otherwise just use the default Donate buttons.) </li>
<li>Sign up for Stripe </li>
<li>Post your YouTube videos so people can watch & Donate/Buy when you're not live</li>
<li>Go to your page and Join Your Livestream to try it out. Click through all the features of the viewer to learn how the viewer capabilities work.</li>
<li>Download app to your phone if you wish to stream from your phone rather than webcam</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  What are the steps for Discussion Hosts to host a show on CrowdPublish.TV? 
</div> 
<ol>
<li>Come up with a topic and a few talking points. No need to write a script.</li> 
<li>Invite one or two cohosts who can have a conversation with you on the topic.</li>
<li>Post the show (Host Discussion button) on the home page. Keep it under 30 minutes.</li>
<li>Share the link to the show on social media through the Share buttons on the home page show schedule. </li>
<li>Announce your show to your email list - be sure to include the time & link.</li>
<li>Personally invite 5 colleagues to join the show - people are more likely to respond to a personal invitation.</li>
<li>When starting the show, call a few people through the viewer to have them watch the show.</li>
<li>Follow the steps in "How can I record my livestream show to YouTube?" below to get set up to record your talk show on YouTube so you can embed it on your CrowdPublish.TV page.</li>
</ol><br>


<div class = "h3" style = "color:#8C1D40" >
  What are viewers supposed to do on CrowdPublish.TV? 
</div>
<ol> 
<li>Check the home page to find out what talk shows are scheduled.</li>
<li>Browse Discussion Hosts to discover what they have to offer.</li>
<li>Watch Hosts' talk shows. Participate in the chat during the show.</li>
<li>Support Discussion Hosts and their causes by purchasing their Perks or donating to their cause. </li>
<li>Send an email to your favorite organizations & personalities who do not currently host CrowdPublish.TV shows & encourage them to host shows.</li>
 </ol><br>

<div class = "h3" style = "color:#8C1D40" >
  What is a Founding Host? 
</div>
Founding Hosts are partners in growing CrowdPublish.TV viewership. Founding Hosts have opportunity for influence & publicity commensurate with their impact on site growth. They announce their shows to potential viewers and gain exposure to other Hosts' fans. 
<br><br>

<div class = "h3" style = "color:#8C1D40" >
  How is CrowdPublish.TV different than Kickstarter or Patreon? 
</div>
<li>Hosting livestreaming talk shows gets your fans engaged on your page where your Perks and Donation buttons are displayed.</li>
<li>You can sell downloads directly from CrowdPublish.TV.</li>
<li>There are talk shows that you can participate in that will inform you about people who are doing great things for society and how you can support them.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is CrowdPublish.TV different than Zoom or Google Hangouts? 
</div>
<li>Perks and Donation buttons are displayed right next to your show.</li>
<li>There's a schedule of shows on the home page so the public can watch your shows.</li>
<li>You can sell downloads directly from CrowdPublish.TV.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is CrowdPublish.TV different than Facebook live? 
</div>
<li>Instead of talking at the internet for a 15 minute monologue, you have a conversation with your co-hosts where you can allow an audience member to drop in & speak.</li>
<li>There's a schedule of shows on the home page so other people's friends and fans can browse what shows are coming up.</li>
<li>Perks and Donation buttons are displayed right next to your show.</li>
<li>You can sell downloads directly from CrowdPublish.TV.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  Can I use my CrowdPublish.TV page as my website? 
</div>
<p> 
Yes. After you sign up on CrowdPublish.TV, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish.TV site on your email signature, business cards, social media profile, etc. so your fans can easily contribute funds to your work. <br><br></p>

<div class = "h3" style = "color:#8C1D40" >
  Does CrowdPublish.TV fulfill physical items? 
</div>
<p> 
No. Like the model of ebay or crowdfunding platforms, Discussion Hosts are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards, or other items that publicize your work. <br><br>

CHECK DASHBOARD OFTEN to find out if fans purchased any Perks that need to be fulfilled. 
<br><br></p>

<div class = "h3" style = "color:#8C1D40" >
  How much does it cost to use CrowdPublish.TV? 
</div>
<p> 
Nothing. Free to use, watch, sign up, post donation buttons, post items to sell, set up a time for a show on the home page, host a live show, record the show to YouTube.<br><br>

Discussion Hosts receive approximately 92% of each transaction they solicit on CrowdPublish.TV. CrowdPublish.TV doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction. CrowdPublish.TV receives 5% of each transaction. <br><br></p>

<div class = "h3" style = "color:#8C1D40" >
  How can I record my livestream show to YouTube?
</div>
<li>You must set up YouTube Livestream at least 24 hours in advance.</li>
<li>Get the key from YouTube</li>
<li>Click Start Livestream Beta</li>
<li>You will need to enter your YouTube key the first time you record</li>
<li>Set "People join with camera disabled" as default</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  What are the <%= link_to "Terms Of Service", '/tos' %> 
</div>
<p> 
In case you'd like to review the Terms of Service you agreed to when signing up for CrowdPublish.TV, you are welcome to read them again <%= link_to "here", '/tos' %>. <br><br>
</p>

<div>
<div>
<br><br>
