<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="The Giving Network">
<%= stylesheet_link_tag "_faq" %>
<meta charset="UTF-8">
<title>CrowdPublishTV FAQ</title>

</head>

<body>

<div class= "sectionList">

<h2>Frequently Asked Questions</h2>

<br>
<h4>Browse our frequently asked questions about using and contributing to content on CrowdPublish TV. </h4>
<br>

<ul class="accordion"> 
  <li>
    <a class="toggle" href="#" >About CrowdPublish TV </a>
      <ul class="inner">
        <li>
            <a href="#" class="toggle"> What are viewers supposed to do?</a>
                <div class="inner">
                    <div class = "content-heading" style = "color:#8C1D40" >
                      <a name="t4">What can viewers do on CrowdPublish TV?</a> 
                    </div>

                    <div id="content-container">
                      <a>
                      <ul>
                        <li>Check the home page to find out what talk shows are scheduled.</li>
                        <li>Browse Discussion Hosts to discover what they have to offer.</li>
                        <li>Watch Hosts' talk shows. Participate in the discussion by either voice, webcam, or in the chat.</li>
                        <li>Support Discussion Hosts and their causes by purchasing their Rewards and making donations. </li>
                      </ul><br>
                    </a>
                  </div>
                </div>
        </li>

        <li>
            <a href="#" class="toggle">What type of shows are typically on CrowdPublish TV?</a>
                <div class="inner">
                    <div class = "content-heading" style = "color:#8C1D40" >
                      <a name="t4">What type of shows are typically on CrowdPublish TV?</a> 
                    </div>
                    <div id="content-container">
                      <p>Philanthropic projects, research projects, anything that an educated audience might be interested in. </p>
                    </p>

                    </div>
        </li>

        <li>
            <a href="#" class="toggle">Can I use my CrowdPublish TV page as my website?</a>
                <div class="inner">
                  <div id="content-container">
                    <div class = "content-heading" style = "color:#8C1D40" >
                      <a name="t4">Can I use my CrowdPublish TV page as my website?</a> 
                    </div>
                  </div>
                    <div id="content-container">
                      <p>Yes! After you sign up on CrowdPublish TV, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish TV site on your email signature, business cards, social media profile, etc. so your fans can easily contribute funds to your work. 
                    <br></p>
                  </div>
                </div>
        </li>

        <li>
            <a href="#" class="toggle">Does CrowdPublish TV fulfill physical items?</a>
                <div class="inner">
                    <div id="content-container">
                    <div class = "content-heading" style = "color:#8C1D40" >
                      <a name="t4">Does CrowdPublish TV fulfill physical items?</a> 
                    </div>
                  </div>
                    <div id="content-container">
                      <p>No. Like the model of ebay or crowdfunding platforms, Discussion Hosts are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards, or other items that publicize your work. <br><br>

              CHECK DASHBOARD OFTEN to find out if fans purchased any Rewards that need to be fulfilled. 
                    <br></p>
                  </div>
                </div>
        </li>

      </ul>
  </li>


  <li>
    <a class="toggle" href="javascript:void(0);">Technical</a>
      <ul class="inner">
        <li>
          <a href="#" class="toggle">What do I do if my browser isn't accessing my mic or webcam?</a>
            <div class="inner">
                <div id="content-container">
                <div class = "content-heading" style = "color:#8C1D40" > 
                  <a name="target3">What do I do if my browser isn't accessing my mic or webcam?</a> 
            </div>
          </div>
            <div id="content-container">
              <p> Please try using Chrome or Firefox. Safari and Internet Explorer are often incompatible with any site's livestream. </p>
              </p>
            </div>
          </div>
      </li>
      
      <li>
        <a href="#" class="toggle">Can I broadcast from my phone?</a>
        <div class="inner">
          <div id="content-container">
          <div class = "content-heading" style = "color:#8C1D40" >
              <a name="t8">Can I broadcast from my phone?</a>
          </div> 
        </div>
          <div id="content-container">
          <p>Yes. Please install the Jitsi app and enter the chatroom named 'crowdpublishtv'.</p>
          
        </div>
        </div>
      </li>


      <li>
        <a href="#" class="toggle">How do I host a show?</a>
        <div class="inner">
          <div id="content-container">
          <div class = "content-heading" style = "color:#8C1D40" >
              <a name="t8">How do I host a show?</a>
          </div>
        </div>
        <div id="content-container">
          <p>
            <ol>
              <li>Create an account</li>
              <li>Come up with a topic and a few talking points. No need to write a script.</li>
              <li>Invite one or two cohosts who can have a conversation with you on the topic.</li>
              <li>Share the link to the show on social media through the share buttons on the home page show schedule. </li>
              <li>Announce your show to your email list - be sure to include the time & link.</li>
              <li>Personally invite 5 colleagues to join the show - people are more likely to respond to a personal invitation.</li>
              <li>When starting the show, call a few people through the viewer to have them watch the show.</li>
              <li>Follow the steps in "How can I record my livestream show to YouTube?" below to get set up to record your talk show on YouTube so you can embed it on your CrowdPublish TV page.</li>
            </ol><br>
          </p>
        </div>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How much does it cost to use CrowdPublish TV?</a>
        <div class="inner">
          <div id="content-container">
          <div class = "content-heading" style = "color:#8C1D40" >
              <a name="t8">How much does it cost to use CrowdPublish TV?</a>
          </div> 
        </div>
        <div id="content-container">
          <p>
              Nothing! CrowdPublish TV is free to sign up, host a live show, post donation buttons, post items to sell, schedule a show, and record the show to YouTube.<br><br>

              Discussion Hosts receive approximately 92% of each transaction they solicit on CrowdPublish TV. CrowdPublish TV doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction. CrowdPublish TV receives 5% of each transaction. 
          </p>
        </div>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How can I record my livestream show to YouTube?</a>
        <div class="inner">
          <div id="content-container">
          <div class = "content-heading" style = "color:#8C1D40" >
              <a name="t8">How can I record my livestream show to YouTube?</a>
          </div> 
        </div>
        <div id="content-container">
          <p>
            <ol> 
              <li>First, you must verify your YouTube account. To verify your account, sign into YouTube and click on the <img id="createIcon" src="<%= asset_path('youtubeCreateIcon.png') %>" width="22" height="15"> icon. Select "Go live".</li>
              <li>Once in the Creator Studio, click on the blue "Get started" button.</li>
              <p>NOTE: After 24 hours, your account will be verified. Once your account is verified, you may proceed to step 3.</p>
              <li>Get the stream key from YouTube. In your Creator Studio, click on the livestreaming tab and scroll down to the botton of the page. Click "Reveal" to access the stream name/key. Copy the key.</li>
              <li>Once you are ready to record, go to www.crowdpublish.tv and click on "Join Livestream". While looking at the viewer, open the "More actions" menu by clicking the three dots on the bottom right of the viewer and select "Start Livestream BETA". You will need to enter your YouTube key the first time you record</li>
              <br>
              <p>Tip - Set "People join with camera disabled" as default to give viewers the option of turning their webcam on and being on screen, or not being seen and viewing only. </p>
            </ol><br>
          </p>
        </div>
          <br><br>
        </div>
      </li>

    </ul>
  </li>
</ul>
<br><br><br><br>


<script>

$('.toggle').click(function(e) {
    ;
    e.preventDefault();
  
    var $this = $(this);
  
    if ($this.next().hasClass('show')) {
        //$this.next().slideUp(350);
       $this.next().removeClass('show');


    } 
    if (!($this.next().hasClass('show'))){
        //$this.parent().parent().find('li .inner').removeClass('show');
        //$this.parent().parent().not($this.next()).find('li .inner').slideUp(350);
        $this.parent().parent().find('ul .inner').slideUp(350);
        //$this.next().toggleClass('show');
       
    } 

    $this.next().slideToggle(350);


});

</script>


<h5 style= "text-align: center;" > Don't see your question? </h5>
<br>
<p class="email-us" style= "text-align: center;"> Shoot us an email with your question and a member of our team will get back to you shortly!</p>
<!-- <a href="mailto:someone@example.com?Subject=Hello%20again" align="center" target="_top">CrowdPublishTVSupport@gmail.com</a> -->

<form method = "post" action ="mailto:CrowdPublishTVoutreach@gmail.com">
<p id="submission">
  <input type="submit" value="Email Us! &nbsp;  ➜" >


</p>

</form>     
  

<!-- UNCOMMENT FORM ONCE MAILERS ARE SET UP <form>

  <h4>Don't see your question?</h4>
  <br>
  <p>We love feedback! Leave us a message and let us know what difficulty you're experiencing or tell us about some suggestions you might have.</p>
<ul class="form-style-1">
    <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" /> <input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="field3" class="field-long" />
    </li>
    <li>
        <label>Topic</label>
        <select name="field4" class="field-select">
        <option value="Advertise">General</option>
        <option value="Partnership">Technical</option>
        <option value="Partnership">Internship Opportunities</option>
        <option value="General Question">Other</option>
        </select>
    </li>
    <li>
        <label>Your Message <span class="required">*</span></label>
        <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form> -->

</div>




</body>

