<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 font19left " >

<div class = "font26left" >
  What are storytellers supposed to do on CrowdPublish.TV? 
</div> 
1. Create a profile on CrowdPublish.TV. <br>
2. Then create a project or campaign to motivate fans to contribute now. <br>
3. Then post unique items for sale such as a motivational post on fans' facebook wall or a wardrobe item worn during a scene in a movie. CrowdPublish.TV has a list of standard items storytellers may offer to better automate campaigns.<br>
4. After campaign is set up and items are ready for sale, tell all your facebook friends, twitter followers, and especially your most loyal fans about your CrowdPublish.TV campaign and send them the URL. Post the link to your campaign on facebook, twitter, instagram, etc. several times throughout the campaign to make it easy for your fans to support you.<br>
5. Sign up for Stripe so you can get paid.<br>
6. Check dashboard often to find out if fans are waiting for the Perks they purchased. <br><br>

<div class = "font26left" >
  What are fans supposed to do on CrowdPublish.TV? 
</div> 
1. Browse storytellers and their movies and books. Browse projects and discover what storytellers have to offer.<br>
2. If fans are referred by an organization, they should go to that organization's page and find out what campaigns they are using for their fundraiser. Purchase the Perks associated with those campaigns so a percentage goes to your favorite organization.<br>
3. Support your favorite storytellers by purchasing Perks they offer. Send an email to storytellers who do not currently have CrowdPublish.TV profiles to encourage them to sign up.
 <br><br>

<div class = "font26left" >
  What are organizations supposed to do on CrowdPublish.TV? 
</div> 
Earn money for your fundraiser by supporting storytellers' campaigns. To partner with a campaign, create and Organization on CrowdPublish.TV. Then go to a storyteller's CrowdPublish.TV page and click Partner. <br>

After the storyteller running the campaign approves the partnership, the campaign will appear on your CrowdPublish.TV Organization page. Make sure to refer your membership to your Organization Page so they can support your partnered campaigns.
 <br><br>

<div class = "font26left" >
  Why should I use CrowdPublish.TV instead of Amazon? 
</div> 
  You don't have to choose between one or the other. Unfortunately, due to the efforts of mass publishing businesses, your books are a low dollar item. You can sell your books on Amazon, but don't limit yourself to selling books for a couple of dollars.<br>
  &nbsp &nbsp Now with CrowdPublish.TV, your fans have many more opportunities to support your work beyond purchasing an occasional book. Think of your books as the first opportunity to introduce yourself to potential fans. Your books are your ads to help you sell yourself and sell higher dollar items. Authors can make more revenue by selling fan engagement Perks and other creative products than they would from the books themselves. <br><br>

<div class = "font26left" >
  Can I sell my books on CrowdPublish.TV? 
</div> 
Yes. If you own sales rights, you may sell your books as Perks for your campaign or upload ebooks from the Edit Books tab on the Edit Profile page and sell them as downloads on CrowdPublish.TV. <br>
&nbsp &nbsp If you sell print copies, you must fulfill the orders yourself. If fans order something to be mailed, CrowdPublish.TV shows fans' mailing address on your dashboard and gives you a checkbox to remind yourself that you have already shipped the item. Since you will be shipping the book (or other item) yourself you are encouraged to sell the book as a premium and sign it with a personalized message. <br><br>

<div class = "font26left" >
  Do I have to post YouTube videos on my profile or projects? 
</div> 
Projects are not required to display video but those that do will very likely make more money, even if the video content is a simple video of you speaking to fans and uploaded from your phone. Currently the method to post videos is to upload them to YouTube then enter YouTube's URL for your video into your profile or campaign information.<br><br>

<div class = "font26left" >
  How is CrowdPublish.TV different than Kickstarter? 
</div> 
- On CrowdPublish.TV, storytellers can partner with their favorite groups and local organizations to assist them with marketing. To give the organizations incentive to get their members to support a project, the organizations get 5% of the proceeds of any sales made when clicking through to a partnered project from their CrowdPublish.TV page.<br>
- CrowdPublish.TV has developed pre-designed Perks, or rewards, to offer fans. These Perks are tailored to storytellers and their ability to get fans engaged with their work. CrowdPublish.TV Perks also take into consideration ways for your existing fans to get their friends engaged with your work. We are working on automating several forms of engagement, such as social media posting, to make it easier for you to manage engagement content for your fans.<br>
- Actors can be linked to their fellow actors and storytellers through Movie pages. When fans browse your colleagues' movies, they see a link to your latest campaign and can become your fan and support your work. That way you and your colleagues can help advertise each other. <br>
- You can sell downloads directly from CrowdPublish.TV.<br><br>

<div class = "font26left" >
  Can I use my CrowdPublish.TV page as my website? 
</div> 
Yes. After you sign up on CrowdPublish.TV, enter information about your books, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish.TV site on your email signature, business cards, social media profile, etc. so your colleagues can easily contribute funds to your work. <br><br>

<div class = "font26left" >
  Does CrowdPublish.TV fulfill physical items? 
</div> 
No. Like the model of ebay or kickstarter, storytellers are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards with your book cover on the front, or other items that advertise your work. <br><br>

<div class = "font26left" >
  What are the <%= link_to "Terms Of Service", '/tos' %> 
</div> 
In case you'd like to review the Terms of Service you agreed to when signing up for CrowdPublish.TV, you are welcome to read them again <%= link_to "here", '/tos' %>. <br><br>


<div>
<div>
<br><br>
