<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.tv" content="The Giving Network">

<meta charset="UTF-8">
<title>ThinQ.tv FAQ</title>

</head>

<body>

<div class= "sectionList">

<h2 >Frequently Asked Questions</h2>

<div style="font-size: 16px; margin-bottom: 10px; margin-left: 20px">
  <div class = "content-heading" style = "color:#8C1D40" >
WHAT IS THINQ.TV</div>
<p>ThinQ.tv is developing a platform for live online thought-provoking conversations. We are organizing a critical mass of people to participate in Tech Tuesday, Faith Wednesday, and International Thursday conversations. We aim to eventually have 24/7 conversation channels for a wide variety of thought-provoking topics. We encourage you to host conversations about your own topics and invite interested individuals and organizations.</p>

<p>ThinQ.tv is like a Zoom meeting or Google Hangout, except that people can drop in to the conversation from the home page Schedule of Conversations instead of having to be invited with a link. Please browse the current schedule and drop in to any of the conversations posted to get an idea of what you could do on the platform. You may also post your own conversation.</p><br>

  <div class = "content-heading" style = "color:#8C1D40" > WHAT PEOPLE DO ON THINQ.TV</div>
<p>Bible studies - Several churches host their bible studies on ThinQ.tv. We’ve had people join from their hospital room!</p>
<p>Conversations - Conversations on all topics are permitted. We’re fostering a culture of intelligent thought, fellowship, and empathy. We encourage talking with people and listening, rather than the typical norm of internet video where one person talks at people.</p>
<p>
Donations - Conversation Hosts, such as churches, can receive donations in the sidebar during and after conversations. Hosts may also sell downloads of ebooks or other writings and other items that they would fulfill.</p><br>

  <div class = "content-heading" style = "color:#8C1D40" > HOW TO PARTICIPATE IN A THINQ.TV CONVERSATION</div>
<p>Go to http://ThinQ.tv and click the "Join Conversation" button if a conversation is in progress, or “Try a Conversation” when the chatroom is empty. Recent versions Chrome and Firefox work best. Do not use Safari. You may also join by phone: download the JITSI meet app in advance and join the THINQTV chatroom if prompted. That’s it! If you need to turn camera or mic on or off, click the icons at the bottom of the viewer.</p><br>

  <div class = "content-heading" style = "color:#8C1D40" >HOW TO HOST A THINQ.TV CONVERSATION</div>
<p>Signup at http://ThinQ.tv. Click the “Host a Conversation” button on the home page schedule. Enter a time, topic, and a few details. No need to spend time writing out what you’re going to say. Instead, focus on inviting interesting people to join you and let them carry the conversation!</p><br>

  <div class = "content-heading" style = "color:#8C1D40" > HOW MUCH DOES IT COST TO JOIN OR HOST CONVERSATIONS</div>
<p>Nothing. We are currently focused on learning how to best serve those who would like to participate on ThinQ.tv on a regular basis. However if you do receive donations on the platform, we take 5% and the payment processor takes 2.9% + $0.30.</p><br>

<p>ThinQ.tv is constantly evolving and appreciates any feedback you might have! We hope you will try it out and realize it’s simple to use.
</p><br>

<ul class="accordion">
  <li>
            <a href="#" class="toggle"> What can I do on ThinQ.tv?</a>
                <div class="inner">
                    <div id="content-container">
                      <a>
                      <ul>
                        <li>Check the home page to find out what conversations are scheduled.</li>
                        <li>Browse Conversation Hosts to discover what they have to offer.</li>
                        <li>Watch Host's conversations. Participate in the conversation by either voice, webcam, or in the chat.</li>
                        <li>Support Conversation Hosts and their causes by purchasing their Rewards and making donations. </li>
                        <li>Want to see a specific person or organization discuss a topic? Send an email to your favorite organizations and personalities who do not currently host ThinQ.tv shows and invite them to join!</li>
                      </ul><br>
                    </a>
                  </div>
                </div>
  </li>

  <li>
          <a href="#" class="toggle">What do I do if my browser isn't accessing my mic or webcam?</a>
          <div class="inner">
            <div id="content-container">
              <p> Please try using Chrome or Firefox. Safari and Internet Explorer are often incompatible with any site's Conversations. You may need to update your version of Chrome or Firefox. Another option would be to download the JITSI meet app and </p>
            </div>
          </div>
        </li>

      <li>
        <a href="#" class="toggle">Can I broadcast from my phone?</a>
        <div class="inner">
          <div id="content-container">
            <p>Yes. Please install the Jitsi app and enter the chatroom named 'ThinQtv'.</p>
          </div>
        </div>
      </li>

      <li>
        <a href="#" class="toggle">How do I host a conversation?</a>
        <div class="inner">
        <div id="content-container">
          <p>
            <ol>
              <li>Create an account</li>
              <li>Come up with a topic and a few talking points. Please do not write a script.</li>
              <li>Invite several people to have the conversation with you.</li>
              <li>Share the link to the conversation on social media through the share buttons on the home page schedule. </li>
              <li>Announce your show to your email list - be sure to include the time & link.</li>
              <li>Personally invite 5 colleagues to join the Conversation - people are more likely to respond to a personal invitation.</li>
              <li>When starting the Conversation, call a few people through the viewer to have them participate.</li>
              <li>Follow the steps in "How can I record my conversation  to YouTube?" to get set up to record your conversation on YouTube so you can embed it on your ThinQ.tv page.</li>
            </ol><br>
          </p>
        </div>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How much does it cost to use ThinQ.tv?</a>
        <div class="inner">
        <div id="content-container">
          <p>
              Nothing! ThinQ.tv is free to sign up, host a live conversation, post donation buttons, post items to sell, schedule a show, and record the show to YouTube.<br><br>

              Conversation Hosts receive approximately 92% of each transaction they solicit on ThinQ.tv. ThinQ.tv doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction. ThinQ.tv receives 5% of each transaction.
          </p>
        </div>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How can I record my conversation show to YouTube?</a>
        <div class="inner">
        <div id="content-container">
          <p>
            <ol>
              <li>First, you must verify your YouTube account. To verify your account, sign into YouTube and click on the <img id="createIcon" src="<%= asset_path('youtubeCreateIcon.png') %>" width="22" height="15"> icon. Select "Go live".</li>
              <li>Once in the Creator Studio, click on the blue "Get started" button.</li>
              <p>NOTE: After 24 hours, your account will be verified. Once your account is verified, you may proceed to step 3.</p>
              <li>Get the stream key from YouTube. In your Creator Studio, click on the Conversation tab and scroll down to the botton of the page. Click "Reveal" to access the stream name/key. Copy the key.</li>
              <li>Once you are ready to record, go to www.ThinQ.tv and click on "Join Conversation". While looking at the viewer, open the "More actions" menu by clicking the three dots on the bottom right of the viewer and select "Start Conversation BETA". You will need to enter your YouTube key the first time you record</li>
              <br>
              <p>Tip - Set "People join with camera disabled" as default to give viewers the option of turning their webcam on and being on screen, or not being seen and viewing only. </p>
            </ol><br>
          </p>
        </div>
          <br><br>
        </div>
      </li>

  </ul>
<br>

<div class = "h3" style = "color:#8C1D40" >
  What is a Founding Host? 
</div>
Founding Hosts are partners in growing ThinQ.tv viewership. Founding Hosts have opportunity for influence & publicity commensurate with their impact on site growth. They announce their shows to potential viewers and gain exposure to other Hosts' fans. 
<br><br>

<div class = "h3" style = "color:#8C1D40" >
  How is ThinQ.tv different than Kickstarter or Patreon? 
</div>
<li>Hosting live conversations gets your fans engaged on your page where your Rewards and Donation buttons are displayed.</li>
<li>You can sell downloads directly from ThinQ.tv.</li>
<li>There are conversations that you can participate in that will inform you about people who are doing great things for society and how you can support them.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is ThinQ.tv different than Zoom or Google Hangouts? 
</div>
<li>Rewards and Donation buttons are displayed right next to your conversation.</li>
<li>There's a schedule of shows on the home page so the public can join your conversation.</li>
<li>You can sell downloads directly from ThinQ.tv.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is ThinQ.tv different than Facebook live? 
</div>
<li>Instead of talking at the internet for a monologue, you have a conversation with other participants.</li>
<li>There's a schedule of shows on the home page so other people's friends and fans can browse what conversations are coming up.</li>
<li>Rewards and Donation buttons are displayed right next to your conversation.</li>
<li>You can sell downloads directly from ThinQ.tv.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is ThinQ.tv different than Twitch? 
</div>
<li>Silly wabbit, Twitch is for Kids! We expect ThinQ.tv will be the go-to social platform for the 40+ crowd and highly-educated younger adults.</li>
<li>Twitch has great content for gamers. ThinQ.tv is for intellectual & philanthropic topics.</li>
<br>

<!-- WTF is going on here!!!! JAVASCRIPT DOES NOT NOT NOT NOT NOT BELONG IN VIEWS!!!!!! -->
<script>
  $('.toggle').click(function(e) {
    ;
    e.preventDefault();

    var $this = $(this);

    if ($this.next().hasClass('show')) {
        //$this.next().slideUp(350);
       $this.next().removeClass('show');
    }
    if (!($this.next().hasClass('show'))){
        //$this.parent().parent().find('li .inner').removeClass('show');
        //$this.parent().parent().not($this.next()).find('li .inner').slideUp(350);
        $this.parent().parent().find('ul .inner').slideUp(350);
        //$this.next().toggleClass('show');
    }
    $this.next().slideToggle(350);
  });
</script>


<h5 style= "text-align: center;" > Don't see your question? </h5>

<p class="email-us" style= "text-align: center;"> Send us an email with your question and a member of our team will get back to you shortly!</p>
<!-- <a href="mailto:someone@example.com?Subject=Hello%20again" align="center" target="_top">ThinQtvSupport@gmail.com</a> -->

<form method = "post" action ="mailto:info@ThinQ.tv">
<p id="submission">
  <input type="submit" value="Email Us! &nbsp;  ➜" >
</p>

</form>

</div>
</body>
