<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<div style="background-color: #880f42; padding: 70px; text-align: center;">
    <h1 style="color: white;"> FREQUENTLY ASKED QUESTIONS </h1>
</div>
<div class="jumbotron">
  <h3 style="text-align: center">ABOUT US</h3>
    <p style = " padding-left: 20px; padding-right: 20px">
      ThinQ.tv is a platform for live video thought-provoking conversations. Drop by for any of the Conversations posted on the homepage schedule. Your organization can <%= link_to 'Post Conversations', new_event_path %> so you can be here for your membership and anyone else who needs to be a part of the Conversation.<br><br>

      Need to ask us questions LIVE? Drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page & meet our Founder, <br>Dr. Lisa Schaefer.
  </p>
</div> 
  <ul class="container">
    <li>
      <a href="#" class="toggle">WHAT IS THINQ.TV ?</a>
      <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
          ThinQ.tv is like a Zoom meeting or Google Hangout, except that people can drop in to Conversations from the home page schedule instead of having to be invited with a link. And there is a sidebar for donations. Please browse the current schedule and drop in to any of the Conversations posted. You may also post your own Conversations.
        </div><br>
      </div>
    </li>

    <li>
      <a href="#" class="toggle">HOW MUCH DOES IT COST TO USE THINQ.TV ?</a>
      <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
              Nothing! ThinQ.tv is free to sign up, host a live conversation, post donation buttons, post items to sell, schedule Conversations.<br><br>

              Conversation Hosts receive approximately 92% of each donation they receive in their sidebar on ThinQ.tv. ThinQ.tv doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction (the typical fee that payment processors charge). ThinQ.tv receives 5% of each transaction.
        </div><br>
      </div>
    </li>

    <li>
      <a href="#" class="toggle">WHAT PEOPLE DO ON THINQ.TV ?</a>
      <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
              Be Heard - Need to vent? Drop in to any of the Conversations via live video. <br><br>
              Post Conversations - Post a time when you'll be at a computer with your ThinQ.tv viewer page open. Tell your members you'll be available for them to drop in and be heard. <br><br>
              Listen - Conversations on all thought-provoking topics are permitted. We’re fostering a culture of intelligent thought and empathy. We encourage talking with people and listening - a Conversation, rather than the typical norm of internet video where one person talks at the internet. <br><br>
              Donations - Conversation Hosts, such as churches, parents organizations, schools, women's organizations, etc., can receive donations in the sidebar during and after conversations.
            </div><br>
          </div>
    </li>

    <li>
      <a href="#" class="toggle">WHAT DO I DO IF MY BROWSER ISN'T ACCESSING MY MIC OR WEBCAM ?</a>
      <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
              Please try using Chrome or Firefox. Safari and Internet Explorer are often incompatible with any site's Conversations. You may need to update your version of Chrome or Firefox. Another option would be to download the JITSI Meet app and join the THINQTV chatroom.
            </div><br>
          </div>
        </li>

    <li>
      <a href="#" class="toggle">HOW DO I PARTICIPATE FROM MY PHONE ?</a>
      <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
            Please install the JITSI Meet app and enter the chatroom named 'ThinQtv'. <br><br>
            OR go to a Conversation on the ThinQ.tv mobile site. Scroll down to where the Conversation viewer is embedded. There will be a link there to install JITSI Meet on your phone. If JITSI Meet is already installed, it will automatically take you to the ThinQtv chatroom.
          </div><br>
        </div>
      </li>

    <li>
      <a href="#" class="toggle">HOW DO I HOST A CONVERSATION ?</a>
      <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
          <ol>
            <li>Create an account</li>
            <li>Come up with a topic and a few talking points. Please do not write a script.</li>
            <li>Invite several people to have the conversation with you.</li>
            <li>Share the link to the conversation on social media. </li>
            <li>Announce your show to your email list - be sure to include the time & link.</li>
            <li>Personally invite 5 colleagues to join the Conversation - people are more likely to respond to a personal invitation.</li>
            <li>When the time that you scheduled the conversation arrives, Click the button for your Conversation on the home page and talk about the topic you selected with the people you invited!</li>
          </ol><br>
        </div>
        </div>
      </li>

      <li>
        <a href="#" class="toggle">HOW CAN I RECORD MY CONVERSATION TO YOUTUBE ?</a>
        <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
          <ol>
            <li>First, you must verify your YouTube account. To verify your account, sign into YouTube and click on the <img id="createIcon" src="<%= asset_path('youtubeCreateIcon.png') %>" width="22" height="15"> icon. Select "Go live".</li>
            <li>Once in the Creator Studio, click on the blue "Get started" button.</li>
            <p>NOTE: After 24 hours, your account will be verified. Once your account is verified, you may proceed to step 3.</p>
            <li>Get the stream key from YouTube. In your Creator Studio, click on the Conversation tab and scroll down to the botton of the page. Click "Reveal" to access the stream name/key. Copy the key.</li>
            <li>Once you are ready to record, go to www.ThinQ.tv and click on "Join Conversation". While looking at the viewer, open the "More actions" menu by clicking the three dots on the bottom right of the viewer and select "Start Conversation BETA". You will need to enter your YouTube key the first time you record</li>
            <br>
            Tip - Set "People join with camera disabled" as default to give viewers the option of turning their webcam on and being on screen, or not being seen and viewing only.
          </ol><br>
        </div>
        </div>
      </li>

      <li>
        <a href="#" class="toggle">HOW IS THINQ.TV DIFFERENT THAN KICKSTARTER OR PATREON ?</a>
        <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
              Hosting live Conversations gets your fans engaged on your page where your Rewards and Donation buttons are displayed.<br>
              You can sell downloads directly from ThinQ.tv.<br>
              There are Conversations that you can participate in that will inform you about people who are doing great things for society and how you can support them.
          </div><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">HOW IS THINQ.TV DIFFERENT THAN ZOOM OR GOOGLE HANGOUTS ?</a>
        <div class="inner">
          <div id="container-fluid"; style="font-size: 18px;">
              Rewards and Donation buttons are displayed right next to your conversation.<br>
              There's a schedule of shows on the home page so the public can join your conversation.<br>
              You can sell downloads directly from ThinQ.tv.<br>
          </div><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">HOW IS THINQ.TV IS DIFFERENT THAN FACEBOOK LIVE ?</a>
        <div class="inner">
          <div id="container-fluid"; style="font-size: 18px;">
              Instead of talking at the internet for a monologue, you have a Conversation with other participants.<br>
              There's a schedule of shows on the home page so other people's friends and fans can browse what Conversations are coming up.
              <br>
              Rewards and Donation buttons are displayed right next to your Conversation.<br>
              You can sell downloads directly from ThinQ.tv.<br>
          </div><br>
        </div>
      </li>

      <li>
        <a href="#" class="toggle">HOW IS THINQ.TV DIFFERENT THAN TWITCH ?</a>
        <div class="inner">
        <div id="container-fluid"; style="font-size: 18px;">
              Twitch has great content for gamers to watch. ThinQ.tv is for Conversations about socially-conscious topics.
          </div><br>
        </div>
      </li>
  </ul>

<script>
  $('.toggle').click(function(e) {
    ;
    e.preventDefault();
    var $this = $(this);
    if ($this.next().hasClass('show')) {
       $this.next().removeClass('show');
    }
    if (!($this.next().hasClass('show'))){
        $this.parent().parent().find('ul .inner').slideUp(350);       
    }
    $this.next().slideToggle(350);
  });
</script>

<form method = "post" action ="mailto:info@ThinQ.tv">
</form>
</div>
