<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 font19left " >

<div class = "font26left" >
  What are actors & authors supposed to do on CrowdPublish.TV? 
</div> 
<p>
1. Create a profile on CrowdPublish.TV. <br>
2. Then post unique items for sale such as a motivational post on fans' facebook wall or a wardrobe item worn during a scene in a movie. CrowdPublish.TV has a list of standard items you may offer to better automate campaigns.<br>
3. After items are ready for sale, post the link to your page on facebook, twitter, instagram, etc. Tell your most loyal fans about your CrowdPublish.TV page.<br>
4. Sign up for Stripe so you can get paid.<br>
5. Check dashboard often to find out if fans are waiting for the Perks they purchased. <br>
6. Now you're ready to participate in Livestreaming skits and book talks. Click on the Livestream button on your CrowdPublish.TV page or your home page. Skit scripts appear on the right of the Livestream page. Invite your colleagues & fans to join you to do the skits or do improv. Or invite colleagues & fans to join a panel discussion. <br><br></p>

<div class = "font26left" >
  What are fans supposed to do on CrowdPublish.TV? 
</div>
<p> 
1. Browse actors & authors to discover what they have to offer.<br>
2. Watch actors do skits and authors hold book discussions. Participate in the chat during these sessions.<br>
3. Support your favorite actors by purchasing their Perks during the Livestream sessions. <br>
4. Send an email to your favorite authors and actors who do not currently have CrowdPublish.TV profiles & encourage them to sign up.
 <br><br></p>

<div class = "font26left" >
  How is CrowdPublish.TV different than Kickstarter or Patreon? 
</div>
<p> 
- Hosting Livestreamed talks and skits gets your fans engaged with your sales page and keeps their attention on your campaign/Perks for an extended period of time.<br>
- CrowdPublish.TV has developed pre-designed Perks, or rewards, to offer fans. These Perks are tailored to actors & authors and their ability to get fans engaged with their work. CrowdPublish.TV Perks also take into consideration ways for your existing fans to get their friends engaged with your work. We are working on automating several forms of engagement, such as social media posting, to make it easier for you to manage engagement content for your fans.<br>
- You can sell downloads directly from CrowdPublish.TV.<br><br></p>

<div class = "font26left" >
  Can I use my CrowdPublish.TV page as my website? 
</div>
<p> 
Yes. After you sign up on CrowdPublish.TV, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish.TV site on your email signature, business cards, social media profile, etc. so your fans can easily contribute funds to your work. <br><br></p>

<div class = "font26left" >
  Does CrowdPublish.TV fulfill physical items? 
</div>
<p> 
No. Like the model of ebay or crowdfunding platforms, creatives are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards with your book cover on the front, or other items that advertise your work. <br><br></p>

<div class = "font26left" >
  What are the <%= link_to "Terms Of Service", '/tos' %> 
</div>
<p> 
In case you'd like to review the Terms of Service you agreed to when signing up for CrowdPublish.TV, you are welcome to read them again <%= link_to "here", '/tos' %>. <br><br>
</p>

<div>
<div>
<br><br>
