
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<div id="container">

    <h1> FREQUENTLY ASKED QUESTIONS </h1>
    <h4> HOW CAN WE HELP YOU TODAY </h4>




  </div>

<div id="content">

    

    <div class="aboutus">

      <h3>ABOUT US</h3>
      
      <p>
        ThinQ.tv is a platform for live video thought-provoking conversations.
        <br>
        We're inviting churches, schools, parents' organizations, women's organizations, and any other interested groups to form a coalition to steer live video culture toward a harassment-free, civilized society where we can all grow our minds. <%= link_to 'Get involved!', getinvolved_path %>
        <br>

        Are you a good listener? <%= link_to 'Become an Online Mom or Dad', parents_path %> and post a Conversation time for high school & college students to drop in and be heard.
        <br>

        Need to ask us questions LIVE? Drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page & meet our Founder, <br>Dr. Lisa Schaefer.

      </p>
    </div>

  </div>  

    <div class="questions">  
      <button id="btn1">WHAT IS THINQ.TV ?</button>
      <p id="p1">
        ThinQ.tv is like a Zoom meeting or Google Hangout, except that people can drop<br> in to the Conversation from the home page schedule<br>
        instead of having to be invited with a link. Please browse the current schedule and drop<br>
         in to any of the Conversations posted. You may also post your own Conversation.<br>
      </p>

      <button id="btn2">WHAT PEOPLE DO ON THINQ.TV ?</button>
      <p id="p2">
        Conversations - Conversations on all topics are permitted. We’re fostering a culture of intelligent thought, fellowship, and empathy. We encourage talking with people and listening - a Conversation, rather than the typical norm of internet video where one person talks at the internet.

        Donations - Conversation Hosts, such as churches, parents organizations, schools, women's organizations, etc., can receive donations in the sidebar during and after conversations.

        Sell your ebooks - Conversation hosts may sell downloads of their ebooks or other writings. You may also sell items that you would fulfill.
      </p>
      
      <button id="btn3">WHAT DO I DO IF MY BROWSER ISN'T ACCESSING MY MIC OR WEBCAM ?</button>
      <p id="p3">
        Please try using Chrome or Firefox. Safari and Internet Explorer are often incompatible with any site's Conversations. You may need to update your version of Chrome or Firefox. Another option would be to download the JITSI Meet app and join the THINQTV chatroom.
      </p>

      <button id="btn4">HOW DO I PARTICIPATE FROM MY PHONE ?</button>
      <p id="p4">
        Please install the JITSI Meet app and enter the chatroom named 'ThinQtv'.

        OR go to a Conversation on the ThinQ.tv mobile site. Scroll down to where the Conversation viewer is embedded. There will be a link there to install JITSI Meet on your phone. If JITSI Meet is already installed, it will automatically take you to the ThinQtv chatroom.
      </p>

      <button id="btn5">HOW DO I HOST A CONVERSATION ?</button>
      <p id="p5">
          1. Create an account <br>
          2. Come up with a topic and a few talking points. Please do not write a script.<br>
          3. Invite several people to have the conversation with you.<br>
          4. Share the link to the conversation on social media.<br>
          5. Announce your show to your email list - be sure to include the time & link.<br>
          6. Personally invite 5 colleagues to join the Conversation - people are more likely to respond to a personal invitation.<br>
          7. When the time that you scheduled the conversation arrives, Click the button for your Conversation on the home page and talk about the topic you selected with the people you invited!<br>
      </p>

      <button id="btn6">HOW MUCH DOES IT COST TO USE THINQ.TV ?</button>
      <p id="p6">
        Nothing! ThinQ.tv is free to sign up, host a live conversation, post donation buttons, post items to sell, schedule a show, and record the show to YouTube.
        Conversation Hosts receive approximately 92% of each transaction they solicit in their sidebar on ThinQ.tv. ThinQ.tv doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction (the typical fee that payment processors charge). ThinQ.tv receives 5% of each transaction.
      </p>

      <button id="btn7">HOW CAN I RECORD MY CONVERSATION TO YOUTUBE ?</button>
      <p id="p7">
           Hosting live Conversations gets your fans engaged on your page where your Rewards and Donation buttons are displayed.<br>
           You can sell downloads directly from ThinQ.tv.<br>
           There are Conversations that you can participate in that will inform you about people who are doing great things for society and how you can support them.<br>
      </p>

      <button id="btn8">HOW IS THINQ.TV DIFFERENT THAN KICKSTARTER OR PATREON ?</button>
      <p id="p8">
           Hosting live Conversations gets your fans engaged on your page where your Rewards and Donation buttons are displayed.<br>
           You can sell downloads directly from ThinQ.tv.<br>
           There are Conversations that you can participate in that will inform you about people who are doing great things for society and how you can support them.<br>
      </p>

      <button id="btn9">HOW IS THINQ.TV DIFFERENT THAN ZOOM OR GOOGLE HANGOUTS ?</button>
      <p id="p9">
           Rewards and Donation buttons are displayed right next to your conversation.<br>
           There's a schedule of shows on the home page so the public can join your conversation.<br>
           You can sell downloads directly from ThinQ.tv.<br>
      </p>

      <button id="btn10">HOW IS THINQ.TV IS DIFFERENT THAN FACEBOOK LIVE ?</button>
      <p id="p10">
           Instead of talking at the internet for a monologue, you have a Conversation with other participants.<br>
           There's a schedule of shows on the home page so other people's friends and fans can browse what Conversations are coming up.<br>
           Rewards and Donation buttons are displayed right next to your Conversation.<br>
           You can sell downloads directly from ThinQ.tv.<br>
      </p>

      <button id="btn11">HOW IS THINQ.TV DIFFERENT THAN TWITCH ?</button>
      <p id="p11">
           Twitch has great content for gamers to watch. ThinQ.tv is for Conversations about socially-conscious topics.<br>
      </p>
    
    </div>



<!-- WTF is going on here!!!! JAVASCRIPT DOES NOT NOT NOT NOT NOT BELONG IN VIEWS!!!!!! Stop pooping in my code. -->
    <script>
      window.onload = function(){

        var a = false;

        document.getElementById('btn1').onclick = function() {
          if(a == false){

            document.getElementById('p1').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p1').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn2').onclick = function() {
          if(a == false){

            document.getElementById('p2').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p2').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn3').onclick = function() {
          if(a == false){

            document.getElementById('p3').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p3').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn4').onclick = function() {
          if(a == false){

            document.getElementById('p4').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p4').style.height = "0px";
            a = false;
        }
      }
        document.getElementById('btn5').onclick = function() {
          if(a == false){

            document.getElementById('p5').style.height = "100px";
            a = true;

          }else{

            document.getElementById('p5').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn6').onclick = function() {
          if(a == false){

            document.getElementById('p6').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p6').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn7').onclick = function() {
          if(a == false){

            document.getElementById('p7').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p7').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn8').onclick = function() {
          if(a == false){

            document.getElementById('p8').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p8').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn9').onclick = function() {
          if(a == false){

            document.getElementById('p9').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p9').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn10').onclick = function() {
          if(a == false){

            document.getElementById('p10').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p10').style.height = "0px";
            a = false;
        }
      }

        document.getElementById('btn11').onclick = function() {
          if(a == false){

            document.getElementById('p11').style.height = "70px";
            a = true;

          }else{

            document.getElementById('p11').style.height = "0px";
            a = false;
        }
      }



    }



    </script>

<p class="email-us" style= "text-align: center;">Don't see your question? Email your question and a member of our team will get back to you shortly!</p>
<!-- <a href="mailto:someone@example.com?Subject=Hello%20again" align="center" target="_top">ThinQtvSupport@gmail.com</a> -->

<form method = "post" action ="mailto:info@ThinQ.tv">
<p id="submission">
  <input type="submit" value="Email Us! &nbsp;  ➜" >
</p>
</form>

</div>
