<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="The Giving Network">
<%= stylesheet_link_tag "_faq" %>
<meta charset="UTF-8">
<title>CrowdPublishTV FAQ</title>



</head>


<body>

<div class= "sectionList">

<h2>Frequently Asked Questions</h2>

<br>
<p>Browse our frequently asked questions about using and contributing to content on CrowdPublish TV </p>
<br>

<ul class="accordion"> 
  <li>
    <a class="toggle" href="javascript:void(0);">About CrowdPublish TV</a>
      <ul class="inner">
        <li>
            <a href="#" class="toggle">What are viewers supposed to do?</a>
                <div class="inner">
                  <p>
                    <div class = "h3" style = "color:#8C1D40" >
                      <a name="t4">What are viewers supposed to do on CrowdPublish TV?</a> 
                    </div>
                      <a>
                      <ul>
                        <li>Check the home page to find out what talk shows are scheduled.</li>
                        <li>Browse Discussion Hosts to discover what they have to offer.</li>
                        <li>Watch Hosts' talk shows. Participate in the chat during the show.</li>
                        <li>Support Discussion Hosts and their causes by purchasing their Rewards or donating to their cause. </li>
                        <li>Send an email to your favorite organizations & personalities who do not currently host CrowdPublish TV shows & encourage them to host shows.</li>
                      </ul><br>
                    </a>
                  </p>
                </div>
        </li>

        <li>
            <a href="#" class="toggle">What type of shows are typically on CrowdPublish TV?</a>
                <div class="inner">
                  <p>
                    <div class = "h3" style = "color:#8C1D40" >
                      <a name="t4">What type of shows are typically on CrowdPublish TV?</a> 
                    </div>
                      <p>Philanthropic projects, research projects, anything that an educated audience might be interested in. </p>
                  </p>
                </div>
        </li>

        <li>
            <a href="#" class="toggle">Can I use my CrowdPublish TV page as my website?</a>
                <div class="inner">
                  <p>
                    <div class = "h3" style = "color:#8C1D40" >
                      <a name="t4">Can I use my CrowdPublish TV page as my website?</a> 
                    </div>
                      <p>Yes. After you sign up on CrowdPublish TV, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish TV site on your email signature, business cards, social media profile, etc. so your fans can easily contribute funds to your work. 
                    <br></p>
                  </p>
                </div>
        </li>

        <li>
            <a href="#" class="toggle">Does CrowdPublish TV fulfill physical items?</a>
                <div class="inner">
                  <p>
                    <div class = "h3" style = "color:#8C1D40" >
                      <a name="t4">Does CrowdPublish TV fulfill physical items?</a> 
                    </div>
                      <p>No. Like the model of ebay or crowdfunding platforms, Discussion Hosts are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards, or other items that publicize your work. <br><br>

              CHECK DASHBOARD OFTEN to find out if fans purchased any Rewards that need to be fulfilled. 
                    <br></p>
                  </p>
                </div>
        </li>

      </ul>
  </li>


  <li>
    <a class="toggle" href="javascript:void(0);">Technical</a>
      <ul class="inner">
        <li>
          <a href="#" class="toggle">What do I do if my browser isn't accessing my mic or webcam?</a>
            <div class="inner">
              <p>
                <div class = "h3" style = "color:#8C1D40" > 
                  <a name="target3">What do I do if my browser isn't accessing my mic or webcam?</a> 
            </div>
              <p>Safari and Internet Explorer are usually incompatible with any site's livestream. Please use Chrome or Firefox instead.</p>
            <br><br> 
          </p>
        </div>
      </li>
      
      <li>
        <a href="#" class="toggle">Can I broadcast from my phone?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">Can I broadcast from my phone?</a>
          </div> 
          <p>Yes. Please install the Jitsi app and enter the chatroom named 'crowdpublishtv'.</p>
          <br><br>

        </div>
      </li>


      <li>
        <a href="#" class="toggle">How do I host a show?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How do I host a show?</a>
          </div>
          <p>
            <ol>
              <li>Create an account</li>
              <li>Come up with a topic and a few talking points. No need to write a script.</li>
              <li>Invite one or two cohosts who can have a conversation with you on the topic.</li>
              <li>Share the link to the show on social media through the share buttons on the home page show schedule. </li>
              <li>Announce your show to your email list - be sure to include the time & link.</li>
              <li>Personally invite 5 colleagues to join the show - people are more likely to respond to a personal invitation.</li>
              <li>When starting the show, call a few people through the viewer to have them watch the show.</li>
              <li>Follow the steps in "How can I record my livestream show to YouTube?" below to get set up to record your talk show on YouTube so you can embed it on your CrowdPublish TV page.</li>
            </ol><br>
          </p>
          <br><br>

        </div>
      </li>

      
      

      <li>
        <a href="#" class="toggle">How much does it cost to use CrowdPublish TV?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How much does it cost to use CrowdPublish TV?</a>
          </div> 
          <p>
              Nothing. Free to use, watch, sign up, post donation buttons, post items to sell, set up a time for a show on the home page, host a live show, record the show to YouTube.<br><br>

              Discussion Hosts receive approximately 92% of each transaction they solicit on CrowdPublish TV. CrowdPublish TV doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction. CrowdPublish TV receives 5% of each transaction. 
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How can I record my livestream show to YouTube?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How can I record my livestream show to YouTube?</a>
          </div> 
          <p>
            <ol> 
              <li>You must set up YouTube Livestream at least 24 hours in advance.</li>
              <li>Get the key from YouTube</li>
              <li>Click Start Livestream Beta</li>
              <li>You will need to enter your YouTube key the first time you record</li>
              <li>Set "People join with camera disabled" as default</li>
            </ol><br>
          </p>
          <br><br>

        </div>
      </li>

      


      
    </ul>
  </li>
</ul>
<br><br><br><br>
<br><br><br><br>



<script>
var acc = document.getElementsByClassName("toggle");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function(click) {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    click.preventDefault();
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

$(document).click(function(e) {
  if (!$(e.target).is('.panel-body')) {
      $('.collapse').collapse('hide');      
    }
});
</script>


<form>

  <h4>Don't see your question?</h4>
  <br>
  <p>We love feedback! Leave us a message and let us know what difficulty you're experiencing or tell us about some suggestions you might have.</p>
<ul class="form-style-1">
    <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" /> <input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="field3" class="field-long" />
    </li>
    <li>
        <label>Topic</label>
        <select name="field4" class="field-select">
        <option value="Advertise">General</option>
        <option value="Partnership">Technical</option>
        <option value="Partnership">Internship Opportunities</option>
        <option value="General Question">Other</option>
        </select>
    </li>
    <li>
        <label>Your Message <span class="required">*</span></label>
        <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>

</div>




</body>

