<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="The Giving Network">
<title>CrowdPublishTV FAQ</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 h4" >

<div class = "h3" style = "color:#8C1D40" >
  What are Discussion Hosts supposed to do on CrowdPublish.TV? 
</div> 
<ol>
<li>Create a profile on CrowdPublish.TV. </li>
<li>Then create Donate buttons or post items for sale unique to you or your organization such as a motivational post on fans' facebook wall or a download of an article you've written.  </li>
<li>On the home page, post a time and day to host a livestreaming talk show. Invite one or two colleagues to be co-hosts in your show. </li>
<li>Post the link to your page on facebook, twitter, instagram, etc. Tell all your colleagues and mailing lists about your upcoming livestream show.</li>
<li>Record your talk show on YouTube so you can embed it on your CrowdPublish.TV page.</li>
<li>Sign up for Stripe so you can get paid.</li>
<li>Check dashboard often to find out if fans purchased any Perks that need to be fulfilled. </li>
</ol><br>

<div class = "h3" style = "color:#8C1D40" >
  What are viewers supposed to do on CrowdPublish.TV? 
</div>
<ol> 
<li>Check the home page to find out what talk shows are scheduled.</li>
<li>Browse Discussion Hosts to discover what they have to offer.</li>
<li>Watch Hosts' talk shows. Participate in the chat during the show.</li>
<li>Support Discussion Hosts and their causes by purchasing their Perks or donating to their cause. </li>
<li>Send an email to your favorite organizations & personalities who do not currently host CrowdPublish.TV shows & encourage them to host shows.</li>
 </ol><br>

<div class = "h3" style = "color:#8C1D40" >
  How is CrowdPublish.TV different than Kickstarter or Patreon? 
</div>
<li>Hosting livestreaming talk shows gets your fans engaged on your page where your Perks and Donation buttons are displayed.</li>
<li>You can sell downloads directly from CrowdPublish.TV.</li>
<li>There are talk shows that you can participate in that will inform you about people who are doing great things for society and how you can support them.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is CrowdPublish.TV different than Zoom or Google Hangouts? 
</div>
<li>Perks and Donation buttons are displayed right next to your show.</li>
<li>There's a schedule of shows on the home page so the public can watch your shows.</li>
<li>You can sell downloads directly from CrowdPublish.TV.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  How is CrowdPublish.TV different than Facebook live? 
</div>
<li>Instead of talking at the internet for a 15 minute monologue, you have a conversation with your co-hosts where you can allow an audience member to drop in & speak.</li>
<li>There's a schedule of shows on the home page so other people's friends and fans can browse what shows are coming up.</li>
<li>Perks and Donation buttons are displayed right next to your show.</li>
<li>You can sell downloads directly from CrowdPublish.TV.</li>
<br>

<div class = "h3" style = "color:#8C1D40" >
  Can I use my CrowdPublish.TV page as my website? 
</div>
<p> 
Yes. After you sign up on CrowdPublish.TV, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish.TV site on your email signature, business cards, social media profile, etc. so your fans can easily contribute funds to your work. <br><br></p>

<div class = "h3" style = "color:#8C1D40" >
  Does CrowdPublish.TV fulfill physical items? 
</div>
<p> 
No. Like the model of ebay or crowdfunding platforms, Discussion Hosts are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards, or other items that publicize your work. <br><br></p>

<div class = "h3" style = "color:#8C1D40" >
  How much does it cost to use CrowdPublish.TV? 
</div>
<p> 
Nothing. Free to use, watch, sign up, post donation buttons, post items to sell, set up a time for a show on the home page, host a live show, record the show to YouTube.<br><br>

Discussion Hosts receive approximately 92% of each transaction they solicit on CrowdPublish.TV. CrowdPublish.TV doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction. CrowdPublish.TV receives 5% of each transaction. <br><br></p>

<div class = "h3" style = "color:#8C1D40" >
  What are the <%= link_to "Terms Of Service", '/tos' %> 
</div>
<p> 
In case you'd like to review the Terms of Service you agreed to when signing up for CrowdPublish.TV, you are welcome to read them again <%= link_to "here", '/tos' %>. <br><br>
</p>

<div>
<div>
<br><br>
