<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="The Giving Network">
<%= stylesheet_link_tag "_faq" %>
<title>CrowdPublishTV FAQ</title>
</head>



<div class= "sectionList">

<h2>Frequently Asked Questions</h2>

<!--<div class="search">
	<h4>How can we help you?</h4>
	<input type="text" placeholder="Search..">
</div>-->

<!--<form id="searchForm" action="javascript:search();">
   <div class="input-group">
      <button id="go" class="btn btn-default" type="button"
              onclick="document.getElementById('searchForm').submit(); return false;">
      </button>
      <input type="text" id="searchItem" class="form-control" placeholder="Search..">
   </div>
</form> -->

<br>

<ul class="accordion"> 
  <li>
    <a class="toggle" href="javascript:void(0);">As a Viewer</a>
      <ul class="inner">
        <li>
            <a href="#" class="toggle">What are viewers supposed to do?</a>
                <div class="inner">
                  <p>
                    <div class = "h3" style = "color:#8C1D40" >
                      <a name="t4">What are viewers supposed to do on CrowdPublish.TV?</a> 
                    </div>
                      <a href = "test" >
                      <ul>
                        <li>Check the home page to find out what talk shows are scheduled.</li>
                        <li>Browse Discussion Hosts to discover what they have to offer.</li>
                        <li>Watch Hosts' talk shows. Participate in the chat during the show.</li>
                        <li>Support Discussion Hosts and their causes by purchasing their Rewards or donating to their cause. </li>
                        <li>Send an email to your favorite organizations & personalities who do not currently host CrowdPublish.TV shows & encourage them to host shows.</li>
                      </ul><br>
                    </a>
                  </p>
                </div>
        </li>

        <li>
            <a href="#" class="toggle">What type of shows are typically on CrowdPublish.TV?</a>
                <div class="inner">
                  <p>
                    <div class = "h3" style = "color:#8C1D40" >
                      <a name="t4">What type of shows are typically on CrowdPublish.TV?</a> 
                    </div>
                      <p>Philanthropic projects, research projects, anything that an educated audience might be interested in. </p>
                  </p>
                </div>
        </li>
      </ul>
  </li>


  <li>
    <a class="toggle" href="javascript:void(0);">As a Host</a>
      <ul class="inner">
        <li>
          <a href="#" class="toggle">My browser isn't accessing my mic or webcam</a>
            <div class="inner">
              <p>
                <div class = "h3" style = "color:#8C1D40" > 
                  <a name="target3">My browser isn't accessing my mic or webcam</a> 
            </div>
              <p>Safari and Internet Explorer are usually incompatible with any site's livestream. Install Chrome or Firefox instead.</p>
            <br><br> 
          </p>
        </div>
      </li>
      
      <li>
        <a href="#" class="toggle">Can I broadcast from my phone?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">Can I broadcast from my phone?</a>
          </div> 
          <p>Yes. You must install the Jitsi app. The chatroom name is 'crowdpublishtv'.</p>
          <br><br>

        </div>
      </li>


      <li>
        <a href="#" class="toggle">What are the steps for Discussion Hosts to host a show on CrowdPublish.TV?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">What are the steps for Discussion Hosts to host a show on CrowdPublish.TV?</a>
          </div> 
          <p>
            <ol>
              <li>Come up with a topic and a few talking points. No need to write a script.</li> 
              <li>Invite one or two cohosts who can have a conversation with you on the topic.</li>
              <li>Share the link to the show on social media through the Share buttons on the home page show schedule. </li>
              <li>Announce your show to your email list - be sure to include the time & link.</li>
              <li>Personally invite 5 colleagues to join the show - people are more likely to respond to a personal invitation.</li>
              <li>When starting the show, call a few people through the viewer to have them watch the show.</li>
              <li>Follow the steps in "<a href="t16">How can I record my livestream show to YouTube?</a>" below to get set up to record your talk show on YouTube so you can embed it on your CrowdPublish.TV page.</li>
            </ol><br>
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How is CrowdPublish.TV different than Kickstarter or Patreon?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How is CrowdPublish.TV different than Kickstarter or Patreon? </a>
          </div> 
          <p>

            <a href = "test" >
                      <ul>
                        <li>Check the home page to find out what talk shows are scheduled.</li>
              <li>Browse Discussion Hosts to discover what they have to offer.</li>
              <li>Watch Hosts' talk shows. Participate in the chat during the show.</li>
              <li>Support Discussion Hosts and their causes by purchasing their Rewards or donating to their cause. </li>
              <li>Send an email to your favorite organizations & personalities who do not currently host CrowdPublish.TV shows & encourage them to host shows.</li>
                      </ul><br>
                    </a>
            
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How is CrowdPublish.TV different than Zoom or Google Hangouts?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How is CrowdPublish.TV different than Zoom or Google Hangouts?</a>
          </div> 
          <p>
            <ol> 
              <li>Rewards and Donation buttons are displayed right next to your show.</li>
              <li>There's a schedule of shows on the home page so the public can watch your shows.</li>
              <li>You can sell downloads directly from CrowdPublish.TV.</li>
            </ol><br>
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How is CrowdPublish.TV different than Facebook live?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How is CrowdPublish.TV different than Facebook live?</a>
          </div> 
          <p>
            <a href ="testing">
            <ul> 
              <li>Instead of talking at the internet for a 15 minute monologue, you have a conversation with your co-hosts where you can allow an audience member to drop in & speak.</li>
              <li>There's a schedule of shows on the home page so other people's friends and fans can browse what shows are coming up.</li>
              <li>Rewards and Donation buttons are displayed right next to your show.</li>
              <li>You can sell downloads directly from CrowdPublish.TV.</li>
            </ul><br> </a>
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">Can I use my CrowdPublish.TV page as my website?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">Can I use my CrowdPublish.TV page as my website?</a>
          </div> 
          <p>
            Yes. After you sign up on CrowdPublish.TV, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish.TV site on your email signature, business cards, social media profile, etc. so your fans can easily contribute funds to your work. 
            <br>
          </p>
          <br><br>
        </div>
      </li>

      <li>
        <a href="#" class="toggle">How is CrowdPublish.TV different than Twitch? </a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How is CrowdPublish.TV different than Twitch?</a>
          </div> 
          <p>
            <a href = "innerBullet">
            <ul>
            <li>Silly wabbit, Twitch is for Kids!</li>
              <li>Twitch has great content for gamers. CrowdPublish.TV is for intellectual & philanthropic topics.</li>
             </ul> 
           </a>
            <br>
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">Does CrowdPublish.TV fulfill physical items?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">Does CrowdPublish.TV fulfill physical items?</a>
          </div> 
          <p>
              No. Like the model of ebay or crowdfunding platforms, Discussion Hosts are responsible for making sure fans/customers receive what they ordered. Make sure you use these shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards, or other items that publicize your work. <br><br>

              CHECK DASHBOARD OFTEN to find out if fans purchased any Rewards that need to be fulfilled. 
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How much does it cost to use CrowdPublish.TV?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How much does it cost to use CrowdPublish.TV?</a>
          </div> 
          <p>
              Nothing. Free to use, watch, sign up, post donation buttons, post items to sell, set up a time for a show on the home page, host a live show, record the show to YouTube.<br><br>

              Discussion Hosts receive approximately 92% of each transaction they solicit on CrowdPublish.TV. CrowdPublish.TV doesn't get paid until you get paid. Our payment processor (Stripe) keeps $0.30 plus 2.9% of each transaction. CrowdPublish.TV receives 5% of each transaction. 
          </p>
          <br><br>

        </div>
      </li>

      <li>
        <a href="#" class="toggle">How can I record my livestream show to YouTube?</a>
        <div class="inner">
          <div class = "h3" style = "color:#8C1D40" >
              <a name="t8">How can I record my livestream show to YouTube?</a>
          </div> 
          <p>
              <ol> 
              <li>You must set up YouTube Livestream at least 24 hours in advance.</li>
            <li>Get the key from YouTube</li>
            <li>Click Start Livestream Beta</li>
            <li>You will need to enter your YouTube key the first time you record</li>
            <li>Set "People join with camera disabled" as default</li>
            </ol><br>
          </p>
          <br><br>

        </div>
      </li>

      


      
    </ul>
  </li>
</ul>
<br><br><br><br>
<br><br><br><br>

<script>
  $('.toggle').click(function() {
    event.preventDefault();

    var $this = $(this);
  
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        //$this.next().toggleClass('show');
        $this.next().slideToggle(350);

    }
});
</script>


<!-- 
<script>
 $(document).ready(function() {
 
    $('.faq_question').click(function() {
 
        if ($(this).parent().is('.open')){
            $(this).closest('.faq').find('.faq_answer_container').animate({'height':'0'},250);
            $(this).closest('.faq').removeClass('open');
 
            }else{
                var newHeight =$(this).closest('.faq').find('.faq_answer').height() +'px';
                $(this).closest('.faq').find('.faq_answer_container').animate({'height':newHeight},250);
                $(this).closest('.faq').addClass('open');

            }
 
    });
 
});
</script>





</div>

-->

<div>
<div>
<br><br>
