<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">When you can't socialize in person - Be on ThinQ.tv to Be There for others 
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px;
    font-family: Helvetica;
    line-height: 24px;
    font-weight: 400;">
  <%=image_tag("circle1.png", :style => "width: 10%", :align =>"right")%>
    Due to COVID-19<br><br>
    On ThinQ.tv Everyone can have conversations when they're lonely <br>


    ThinQ.tv is a platform where people can host live video fellowship online. It’s similar to hosting Meetups on Zoom. ThinQ.tv breaks the paradigm of “talking at” the internet - where one camera broadcasts live video at a social media platform and expects others to passively observe with little interaction. Instead, ThinQ.tv is for “listening to” people. Rather than a platform where you have to be invited to observe a conversation, everyone is welcome to participate in ThinQ.tv fellowship hours. <br><br>

  <h3 style = "color:#8C1D40">What You can do: </h3>
    <div style=" line-height: 1.5em">
      - Post stuff via social media, email, phone - these should be share buttons
      - Invite people who are shut in: send a link to grandma http://www.ThinQ.tv/seniorliving
      - Invite friends & family to conversations when you'll be there so you can participate together

  <h3 style = "color:#8C1D40">What You might want to talk about: </h3>
    <div style=" line-height: 1.5em">
      - News, trivia game, or even pray with others on ThinQ.tv!. <br>
    </div>

      <h3 style = "color:#8C1D40">Questions? </h3>
      <div style=" line-height: 1.5em">
        - Drop in to any of the live video YourOnlineMom conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', root_path %> so we can meet you. <br><br>
      </div> 
</div>
<div class="row" style="background-color: #F2EBE4; text-align: center; padding-bottom: 20px; margin-bottom: 10px">
  <h1 class="aboutHeader">Apply to be on our BOARD OF ADVISORS!</h1>
  <br>
  <%= link_to 'Apply Here', boardofdirectors_path, :class => "btn btn-lg btn-primary", :style => "border-radius:5px;"%>
</div>  






