<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">When you can't be there in person - Make it easy for your people to reach out to you
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px;
    font-family: Helvetica;
    line-height: 24px;
    font-weight: 400;">
  <%=image_tag("circle1.png", :style => "width: 10%", :align =>"right")%>
    Many organizations that typically meet in person are feeling disconnected due to COVID-19. ThinQ.tv is a free platform for hosting live video fellowship conversations - like having a Meetup on Zoom or Hangouts. Anyone can host a conversation, and like a meetup in person, everyone has a role in speaking up when harassment creeps up (as opposed to many other social media platforms). <br><br>

    Organization staff and volunteers are encouraged to host live video “Fellowship Hours” on ThinQ.tv so people may drop in and have your leadership listen to them and answer questions during this difficult time. Also note that ThinQ.tv has a sidebar where you may receive donations on your ThinQ.tv page.  <br><br>
  <h3 style = "color:#8C1D40">What You can do: </h3>
    <div style=" line-height: 1.5em">
      - Upon signup, you may <%= link_to 'Post Fellowship Hours', new_event_path %> on the ThinQ.tv schedule when you'll be at a computer or phone to listen to the people who'd love to talk to you. <br>
      - Send a link to your ThinQ.tv page to your membership or your friends to invite them to converse & let them know you'll be here for them during those times. <br>
      - Spread the word via social media. <br>
    </div>

      <h3 style = "color:#8C1D40">Questions? </h3>
      <div style=" line-height: 1.5em">
        - Drop in to any of the live video YourOnlineMom conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', root_path %> so we can meet you. <br><br>
      </div> 
</div>
<div class="row" style="background-color: #F2EBE4; text-align: center; padding-bottom: 20px; margin-bottom: 10px">
  <h1 class="aboutHeader">Apply to be on our BOARD OF ADVISORS!</h1>
  <br>
  <%= link_to 'Apply Here', boardofdirectors_path, :class => "btn btn-lg btn-primary", :style => "border-radius:5px;"%>
</div>  






