<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

    <% if !user_signed_in? %>
        <div class="signupbutton" > 
          <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
          for the Local Authors Scene!
        </div><br>
    <% end %>

    <div class="goals" >
      The goals CrowdPublish.TV is working toward are:<br>
      <b>*</b> To get more local booklovers to attend readings & signings by Local Authors who own their rights<br>
      <b>*</b> To get local authors more involved with each other so they can exchange information that would be helpful to each other
    </div>  
    <br>

    In an effort to get book clubs, writer organizations, and authors to collaborate, CrowdPublish.TV can be a centralized site for posting Local Author <b>events</b> and <b>group pages</b> so authors can find various local book clubs & writer organizations that are putting on activities that might help local authors who own their rights.
    
    To make that happen,

    <div class="helps" >
      We need your help!
    </div >
    <br> 
    Send an email to <b>info@CrowdPublish.TV</b> to let us know what skills you bring to the table. To give you some ideas for what we need, here are few ways you can help out: <br><br>

    * Personally invite friends, colleagues, & even strangers to attend Local Author Scene networking opportunities.<br>
    * Hospitality at events. <br>
    * Post informational flyers about the Local Authors Scene at libraries, community centers, and businesses supportive of arts.<br>
    * Search for & contact all local groups (writer organizations, critique groups, libraries, etc.) that provide some level of indie author support.<br>
    * Search for & contact local book clubs to get them interested in coming to events & hosting local authors.<br>
    * Get authors & organizations to post events that support authors who own their rights on http://CrowdPublish.TV/events<br>
    * Gather groups to attend the events posted by indie groups and authors.<br>
    * Use social media to increase Local Author Scene awareness & involvement.<br>
    * Organize author talks or panels of speakers for Local Author Scene networking events.<br>
    * Work with libraries to advertise events, reserve space, & find out how we can develop an ongoing relationship.<br>

    <br><%= link_to "Back to the Local Authors Scene", "/localauthorsscene" %>.<br><br>

    Of course, we're also looking for Ruby on Rails and javascript software developers, web designers, and user experience people to help out with our open source community.

</div></div><br><br><br>