<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h3 class="aboutHeader">Help create a culture without creepiness</h3>
      <h4>
        Live video conversations are becoming more mainstream as video technology evolves. However Several platforms and apps have defaulted to a culture where women are solicited for nude pictures and lewd acts for money. When we walk down the street in public, we are not assumed to be prostitutes, why should we be treated as such online? When women feel they need to hide their identities, they are not represented proportionately in society and their voices go unheard. <br><br>

        We're inviting churches, schools, parents' organizations, women's organizations, and any other interested groups to form a coalition to steer live video culture toward a civilized society where we can all grow our minds.
        Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page <br>
      </h4>
</div>  

<div class="row" style="background-color: #F2EBE4" >
      <h3>What can ORGANIZATIONS do: </h3>

      <div style="font-size: 18px; line-height: 1.5em">
        Invite organizations & colleagues to participate in live video conversations on ThinQ.tv<br>
        Talk about each other -cross promote the work that related organizations and parents are doing<br>
        Host office hours for teens or other parents & orgs<br>
        Host conversations about healthy online culture<br>
        Invite other organizations, their members, and parents to participate in conversations<br>
      </div> 

      <h3>How to Join the movement: </h3>
        Drop in to any of our sessions.
        Sign up for ThinQ.tv
</div><br>

Need organizations who want to lead conversations about & work toward a future where harassment & creepiness are not normal occurrences in online video platforms. 
Want an internet culture where harassment is not the norm? Join a conversation at http://ThinQ.tv and find out how to join the movement. 
