<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h3 class="aboutHeader">Help create a culture without creepiness</h3>
      <h4>
        Live video conversations are becoming more mainstream as video technology evolves. However several platforms and apps have defaulted to a culture where women are solicited for nude pictures and lewd acts for money. When we walk down the street in public, we are not assumed to be prostitutes, why should we be treated as such online? When women feel they need to hide their identities, they are not represented proportionately in society and their voices go unheard. <br><br>

        Want an internet culture where harassment and sexual solicitations are not the norm? We're inviting churches, schools, parents' organizations, women's organizations, and any other interested groups to form a coalition to steer live video culture toward a civilized society where we can all grow our minds.<br><br>
        
        Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page <br>
      </h4>
</div>  

<div class="row" style="background-color: #F2EBE4" >
      <h3 style = "color:#8C1D40">What can ORGANIZATIONS do: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Invite other organizations to participate <br>
        - Host conversations about healthy online culture<br>
        - Invite members & colleagues to participate in live video conversations on ThinQ.tv<br>
        - Spread the word via social media <br>
      </div> 

      <h3 style = "color:#8C1D40">Goals of coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Draft a List of guidelines for what bystanders on the internet can do when they witness harassment and solicitation in live video<br>
        - A monthly day to Take over personal porn apps by sending a group of responsible adults into the apps to do the items on the List<br>
        - Help create a force of Online Parents and Siblings<br>
        - Let kids know they can drop in & be heard<br>
      </div> 

      <h3 style = "color:#8C1D40">How to Join the coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Drop in to any of the Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you <br>
        - Or drop in to any of the Coalition Conversations to be listed on the <%= link_to 'ThinQ.tv schedule', "/" %> soon <br>
        - <%= link_to 'Post Conversations', new_event_path %> about the great work you do <br>
        - Invite your membership to participate in your Conversations
      </div> 

</div><br>
