<head>
<meta name="ThinQ.tv" content="Conversations to make you ThinQ and take action: thought-provoking conversations to feed your brain">
<title>ThinQtv - Conversations to make you ThinQ</title>
</head>

<body>
<div class="row">
  <div class="col-md-12">
    <div class="row" style="background-color: #E3D3C3" >
      <br>
      <h3 class="aboutHeader">Help us create a culture without creepiness
      </h3 ><br>
    </div>  

Want an internet culture where harassment is not the norm? Join a conversation at http://ThinQ.tv and find out how to join the movement. 
    <div class="row" style="background-color: #E3D3C3" >
      <h4>
        Live video conversations are becoming more mainstream as video technology evolves. However Several platforms and apps have defaulted to a culture where women are solicited for nude pictures and lewd acts for money. When we walk down the street in public, we are not assumed to be prostitutes, why should we be treated as such online? When women feel they need to hide their identities, they are not represented proportionately in society and their voices go unheard. <br><br>

        We're inviting churches, schools, parents' organizations, women's organizations, and any other interested groups to form a coalition to steer live video culture toward a civilized society where we can all grow our minds.
        Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page <br>
      </h4>
      <h3>What can ORGANIZATIONS do: </h3>

      <div style="font-size: 18px; line-height: 1.5em">
        Invite organizations & colleagues to participate in live video conversations on ThinQ.tv<br>
        Talk about each other -cross promote the work that related organizations and parents are doing<br>
        Host office hours for teens or other parents & orgs<br>
        Host conversations about healthy online culture<br>
        Invite other organizations, their members, and parents to participate in conversations<br>
      </div> 

      <h3>How to Join the movement: </h3>
        Drop in to any of our sessions.
        Sign up for ThinQ.tv

    </div><br>


      Join the info session by clicking <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "border-radius:10px;"%> here or on the ThinQ.tv home page at the time designated for the involvement you're interested in for both our Scottsdale team or our remote team. <br>
      If you must access the Conversation by phone, download the JITSI app in advance and join the THINQTV chatroom when prompted in the app.<br>

      We highly encourage you to drop in to any of the Conversations scheduled on <%= link_to 'ThinQ.tv', "http://ThinQ.tv", :style => "font-weight:bold;"%>. 
    </div><br>
</div>
</body>
