<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:950px;">

<%= render 'form' %>


<div id="txt_13" style="position:absolute; left:73px; top:310px; width:694px; height:667px;">
  <%= image_tag("futureEmpStory.png", :size => "712x25") %>
  <p>
Imagine walking people through your story -<wbr> literally. Carry your iPad through a forest and read your story about a knight's journey as you walk among the trees. Or take your readers through the streets of Philadelphia, where your story of the history of our nation unfolds. Or perhaps you're a software developer and your book tells us how to become savvy app developers ourselves. You can walk us through the process step by step while potential readers are having coffee with friends or waiting in an airport.</p>
As cyberspace progresses, our experiences online are becoming more and more interactive. CrowdPublish.TV facilitates the interaction by helping readers and authors communicate with each other in a media-<wbr>rich environment.<p>

<b>Authors FREE web site: </b>
When you sign up as an author on CrowdPublish.TV, upload a pdf file of your ebook, enter information about your book, add your own photos, blog, and obtain a Ustream account. Presto, your own web site! Your eBooks and merchandise are always available for purchase whether you are hosting an event or not. <i>Sales feature still in test mode./i> <p>

<b>Authors give livestreaming talks from anywhere: </b>
Broadcast live through webcam, iPad, or smartphone. Receive questions from fans via text chat. Carry your fans with you wherever you go!<p>

<b>Fans have a fun time hanging out: </b> 
When an author is online, fans listen and watch the livestreaming talk together and type questions to the author. Carry your book friends &amp; favorite authors wherever you go!<p>

<b>Authors grow their fans virally:</b> 
Fans invite their friends to your author event. While your fans are attending other authors' events, other fans can read their profiles and become one of your fans!</p>

<b>Calendar of Online & In-Person Events </b>
Authors post their upcoming talks on the event calendar. Booklovers and organizations can post in-person events to grow collaboration and networking among authors, organizations, and booklovers in their local community. The events list is filtered by location so you can see upcoming events in Your metro area. Search by address or zip code to find events in your local neighborhood.<p>
</div>
</div>
