<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class=" col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
  <%= image_tag("futureEmpStory.png", :width => "712") %>
  <br><br>
  Imagine walking people through your story -<wbr> literally. Carry your phone through a forest and give a talk about your story about a knight's journey as you walk among the trees. Or take your readers through the streets of Philadelphia, where your story of the history of our nation unfolds. Or perhaps you're a software developer and your book tells us how to become savvy app developers ourselves. You can walk us through the process step by step while potential readers are having coffee with friends or waiting in an airport.<br><br>
As cyberspace progresses, our experiences online are becoming more and more interactive. CrowdPublish.TV facilitates the interaction by helping readers and authors communicate with each other in a media-<wbr>rich environment.<br><br>

<b>Authors FREE web site: </b>
When you sign up as an author on CrowdPublish.TV, upload files of your ebook, enter information about your book, add your own photos, blog, and obtain a Ustream account. Presto, your own web site! Your eBooks and merchandise are always available for purchase whether you are hosting an event or not. <i>Sales feature still in test mode.</i> <br><br>

<b>Authors give livestreaming talks from anywhere: </b>
Broadcast live through webcam, iPad, or smartphone. Receive questions from fans via text chat. Carry your fans with you wherever you go!<br><br>

<b>Fans have a fun time hanging out: </b> 
When an author is online, fans listen and watch the livestreaming talk together and type questions to the author. Carry your book friends &amp; favorite authors wherever you go!<br><br>

<b>Booklovers FREE web page: </b>
When you sign up as a reader on CrowdPublish.TV, enter thoughts about your favorite book genres. Soon you'll be able to purchase & review CrowdPublish.TV authors' books. <br><br>

<b>Authors grow their fans virally:</b> 
Fans invite their friends to your author event. While your fans are attending other authors' events, other fans can read their profiles and become one of your fans!<br><br>

<b>Calendar of Online & In-Person Events </b>
Authors post their upcoming talks on the event calendar. Booklovers and organizations can post in-person events to grow collaboration and networking among authors, organizations, and booklovers in their local community. The events list is filtered by location so you can see upcoming events in Your metro area. Search by address or zip code to find events in your local neighborhood.<br><br>

<b>Local Authors Scene </b>
We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local authors. Come to the Local Authors Scene meetings the last Saturday of each month (enter your DC area zip code  
  <% if user_signed_in? %>
    <%= link_to 'in your profile', user_profileinfo_path(current_user.permalink) %> 
  <% else %>   
    into your profile when you <%= link_to 'Sign Up', "/signup" %> 
  <% end %>
and see <%= link_to 'Calendar', calendar_path %>) Post your events by zip code on the new Calendar and add your book-related groups to our Organizations list so local people can find you. <i>Will organize leaders for the Local Authors Scene in other cities soon </i> <br><br>.
</div>
</div>
