<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div style= "text-align:left" >

CrowdPublish.TV's initial crowdfunding feature is somewhat like Kickstarter except: <br> 
a) Authors and Filmmakers do not try to reach a funding goal. They are selling something already available and thus send fans their Perks/merchandise asap. <br>
b) Book & movie Projects are broken into 1 or 2 month Phases such as chapters or scenes. There is no need to spend months of prep before setting up a Project/campaign, rather authors and filmmakers set up the first phase as soon as they start writing their book or writing their script. <br>
c) Authors and Filmmakers can partner with their favorite groups and organizations to assist them with marketing. To give the organizations incentive to get their members to support a project, the organizations get 5% of the proceeds of any sales made when clicking through to a partnered project from their crowdpublish.tv page.<br><br>

Projects are not required to have video but those that do will very likely make more money, even if the video content is a simple clip of the author speaking to her fans.
Authors will likely make most of their money from offering engagement products beyond the books themselves. <br><br>

<b>Authors FREE web site: </b>
When you sign up as an author on CrowdPublish.TV, upload files of your ebook, enter information about your book, add your own photos, videos, writings. Presto, your own web site! Your eBooks and merchandise will always available for purchase whether you are hosting a crowdfunding campaign or not. <br><br>

<b>Booklovers FREE web page: </b>
When you sign up as a reader on CrowdPublish.TV, enter thoughts about your favorite book genres. Support & review authors on CrowdPublish.TV. <br><br><br>

<div>

    <%= image_tag("futureEmpStory.png", :width => "712") %>
    <br><br>
