<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 font19left " >

<div class = "font26left" >
  What is CrowdPublish.TV? 
</div> 
CrowdPublish.TV is a platform for authors & actors to earn more money on top of the traditional methods they use and for fans to support their favorite author and actors in exchange for engagement with the authors and actors, sneak preview access, and any other unique items authors and actors want to offer.  <br>

<div class = "font26left" >
  What am I supposed to do on CrowdPublish.TV? 
</div> 
Authors and actors create a profile on CrowdPublish.TV then create a project or campaign to motivate their fans to contribute now. Then they post unique items for sale such as a motivational post on fans' facebook wall or a wardrobe item worn during a scene in a movie. CrowdPublish.TV has a list of standard items authors and actors may offer to make it easy to post a campaign. <br><br>

<div class = "font26left" >
  Why should I use CrowdPublish.TV instead of Amazon? 
</div> 
  You don't have to choose between one or the other. Unfortunately, due to the efforts of mass publishing businesses, your books are a low dollar item. You can sell your books on Amazon, but don't limit yourself to selling books for a couple of dollars.<br>
  &nbsp &nbsp Now with CrowdPublish.TV, your fans have many more opportunities to support your work beyond purchasing an occasional book. Think of your books as the first opportunity to introduce yourself to potential fans. Your books are your ads to help you sell yourself and sell higher dollar items. Authors can make more revenue by selling fan engagement Perks and other creative products than they would from the books themselves. <br><br>

<div class = "font26left" >
  Can I sell my books on CrowdPublish.TV? 
</div> 
Yes. You may sell your books as Perks for your campaign or upload ebooks from the Edit Books tab on the Edit Profile page and sell them as downloads on CrowdPublish.TV. <br>
&nbsp &nbsp If you sell print copies, you must fulfill the orders yourself. If fans order something to be mailed, CrowdPublish.TV shows fans' mailing address on your dashboard and give you a checkbox to remind yourself that you have already shipped the item. Since you will be shipping the book (or other item) yourself you are encouraged to sell the book as a premium and sign it with a personalized message. <br><br>

<div class = "font26left" >
  Do I have to post YouTube videos on my profile or projects? 
</div> 
Projects are not required to display video but those that do will very likely make more money, even if the video content is a simple clip of the author speaking to her fans uploaded from your phone. Currently the only method to post videos is to upload them to YouTube then enter YouTube's URL for your video into your profile or campaign information.<br><br>

<div class = "font26left" >
  How is CrowdPublish.TV different than Kickstarter? 
</div> 
- On CrowdPublish.TV, Authors and Actors can partner with their favorite groups and local organizations to assist them with marketing. To give the organizations incentive to get their members to support a project, the organizations get 5% of the proceeds of any sales made when clicking through to a partnered project from their CrowdPublish.TV page.<br>
- CrowdPublish.TV has developed pre-designed Perks, or rewards, to offer fans. These Perks are tailored to authors & actors and their ability to get fans engaged with their work. CrowdPublish.TV Perks also take into consideration ways for your existing fans to get their friends engaged with your work. We are working on automating several forms of engagement, such as social media posting, to make it easier for you to manage engagement content for your fans.<br>
- Actors can be linked to their fellow actors through Movie pages. When fans browse your colleagues' movies, they see a link to your latest campaign and can become your fan and support your work. That way you and your colleagues can help advertise each other. <br>
- You can sell downloads directly from CrowdPublish.TV.<br><br>

<div class = "font26left" >
  Can I use my CrowdPublish.TV page as my website? 
</div> 
Yes. After you sign up on CrowdPublish.TV, enter information about your books, add your own photos, videos, writings. Presto, your own web site! Put the url to your CrowdPublish.TV site on your email signature, business cards, social media profile, etc. so your colleagues can easily contribute funds to your work. <br><br>

<div class = "font26left" >
  Does CrowdPublish.TV fulfill physical items? 
</div> 
No. Like the model of ebay or kickstarter, authors and actors are responsible for making sure fans/customers receive what they ordered. Make sure you use shipments to take advantage of the ability to send fans swag items they'd like to share with their friends, such as stickers, greeting cards with your book cover on the front, or other items that advertise your work. <br><br>

<div>
<div>
    <br><br><%= image_tag("futureEmpStory.png", :width => "712") %>
    <br><br>
