<head>
  <meta name="ThinQtv" content="Lead thought-provoking conversations and receive donations">
  <title>ThinQtv - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12">
    <h3 class="aboutHeader">
      How to apply for Scottsdale-based internship
    </h3 >
    <h4 style = "line-height: 1.5em;">
      Reply to info@ThinQ.tv with your availability between 9:30am & 3:00pm Mondays, Tuesdays, Fridays to stop by McDowell & Scottsdale Rd. for an interview. If we are considering you, we will reply with your time slot & directions. WE WILL NOT CONTACT YOU IF YOU DO NOT SUBMIT YOUR AVAILABILITY.<br>
    <h3 class="aboutHeader">
      How to apply for Remote internship
    </h3 >
    <h4 style = "line-height: 1.5em;">
      To be considered for this position remotely, you MUST attend the next livestream on Mondays at 3:00pm Pacific Daylight Time (6:00pm Eastern Daylight Time). Join the livestream by clicking JOIN DISCUSSION on the http://ThinQ.tv home page. We will review your resume ONLY AFTER YOU ATTEND one of our Monday livestreams.
    </h4>   <br><br>

Seeking engaging self-starters to coordinate livestreaming discussions about Catholic topics and bible studies. Successful candidate(s) will gain experience at an edutainment startup while deepening faith.<br><br>

Learning outcomes:<br>
- Usage of open source livestreaming software features<br>
- Effective methods for outreach<br>
- Working with marketing and tech teams<br><br>

Responsibilities:<br>
- Invite Catholic organizations to participate in livestreaming shows<br>
- Participate in talk shows by asking relevant questions<br>
- Get regular users onto the platform
  <br><br>
Qualifications:<br>
- Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
- Excellent conversational and writing skills
<br><br>
Supervisor Title: Founder and CEO<br>
Students may receive course credit for internship. Staff will work with the school/advisor on achieving desired learning outcomes and completing all necessary paperwork.
<br><br>
Scottsdale based interns will work in our offices 10 hours per week on a schedule of your choosing any time during business hours (MTThF 9:00am - 5:00pm).
<br><br><br>
  </div>
</div>
