<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>
<div class="title">
	<%= image_tag "international.jpg", width:"100%" %>
	<h1 class="text">International Thursday</h1>
</div>


<div style="margin-top: 3%; margin-left:10%; width:100%;">
   <div class="desc">
	<div style="font-size: 18px;">Welcome to <b>International Thursday!</b></div>
	<div style="margin-top:3px">We're launching International topics with India - US discussions.</div> 
	<div style="margin-top:3px">Meet us here on CrowdPublishTV at 7:30 pm every Thursday.</div>
   </div>


   <div id="topic1">
		<b style="font-size: 20px">International Awareness will cover topic in:</b>
		<ul style="margin-left: 5%">
			<li>What it's like to live in another country</li>
			<li>What it's like to move to the US</li>
			<li>How parents are affected when their kids study in foreign countries</li>
			<li>Personal stories about visiting other countries</li>
		</ul>
   </div>

   <div id="topic2">
	   <b style="font-size: 20px">Some other topics we will be covering:</b>
	   <ul style="margin-left: 5%">
	   	<li>China</li>
		<li>Study Abroad</li>
		<li>Africa</li>
		<li>Travel</li>
	   </ul>
		  
   </div>

</div>



