<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="width=device-width, initial-scale=1">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<body>

<div class="title">
	<%= image_tag "international.jpg", width:"100%" %>
	<h1 class="text">International Thursday</h1>
</div>


<div class="row">
	<div class="col-sm-6 col-sm-offset-1">
	<h2 style="margin-left: 3%; margin-top:6%; font-size: 18px">Welcome to <b>International Thursday!</b> 
		<br>International Thursday will open your eyes to the different countries and cultures around the world.
		<br>Meet us here on CrowdPublishTV at 7:30 pm every Thursday.
	</h2>
	</div>


	<div class="col-sm-4"> 
	</div>

	<div class="col-sm-6 col-sm-offset-1">
		<h3 style="margin-top: 5%; margin-left:5%;font-size: 18px">
			<b>Our goal is to:</b>
			<ul style="margin-left: 5%">
				<li>Provide educational and culture awareness</li>
				<li>Promote a better understanding of different culutres</li>
				<li>Enhance a deeper appreciation of other cultures </li>
				
			</ul>
	</div>
	<div class="col-sm-4">
		<div style="margin: 5%">
		</div>
	</div>

	<div class="col-sm-6 col-sm-offset-1">
		<h4 style="margin-top:5%; margin-left:5%; font-size: 18px">
			<b>Discussion Topics include: </b>
			<ul style="margin-left: 5%">
				<li>World Cultures</li>
				<li>Studying Abroad</li>
				<li>Living in another country</li>
				<li>Moving to the U.S.</li>
				<li>Travling</li>
			</ul>
		</h4>
	</div>
	<div class="col-sm-4">
		<div style="margin:5%">
			<%= image_tag "globe.jpg", width: "80%" %>
		</div>
	</div>

</div>





</body>

