<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
    <h2 class="aboutHeader">
      International Thursdays
    </h2 ><br>
    <h4 style = "line-height: 1.5em;">
      We're launching International topics with Study Abroad discussions. Meet us <%= link_to 'here on CrowdPublishTV ', '/lisa' %> at 7:30 pm every Thursday.<br>
      <br>
        We'll talk about: <br>
        What it's like to live in another country<br>
        What it's like to move to the US<br>
        How the experience affects the parents <br><br>

      Once we build a critical mass of participants for the Study Abroad discussions, Future topics througout the evenings on Thursdays include: <br>China <br>India <br>Travel

    </h4><br><br>
      Got an International-related topic you'd like to discuss? <%= link_to 'Submit Here ', new_event_path %> <br><br>

    
<br><br><br>
  </div>
