<div class="row">
    <h3 class="aboutHeader">How to apply for ThinQ.tv internships or volunteer for YourOnlineMom </h3 >
    <h4>Be a part of growing a community that is creating a culture of harassment-free Conversations about thought-provoking topics.<br>
    </h4><br>

    <div class="row" style="background-color: #E0D2C3" >
      <h3 class="aboutHeader">The first step is to DROP IN TO A LIVE INFO CONVERSATION </h3>
      <h4 style = "line-height: 1.5em" >
      Go to the <%= link_to 'ThinQ.tv', "/" %> home page to see the schedule for YourOnlineMom. <br>
      Dr. Lisa Schaefer is the founder of ThinQ.tv and will select candidates from those who participate in a YourOnlineMom Conversation via live video. <br>
      </h4>

      Join the info session by clicking <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "border-radius:5px;"%> here or on the ThinQ.tv home page at the time designated for the involvement you're interested in for both our Scottsdale team or our remote team. <br>
      If you must access the Conversation by phone, download the JITSI Meet app in advance and join the THINQTV chatroom when prompted in the app.<br><br>
      <h4>
      Questions? Drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page. <br>
      </h4>
    </div><br>

    <p>
      <b>Scottsdale based interns</b> will work in our offices (3 miles north of ASU main campus) 10 hours per week on a schedule of your choosing any time during business hours (M-F 9:00am - 6:00pm). <br>
      <b>Remote interns</b> will have frequent access to meet online with Scottsdale based staff throughout the week via video and chat. <br>
      All interns are eligible receive course credit if they clear it through their university department. 
      <b>Volunteers</b> will have frequent access to meet online with Scottsdale based staff, Online Parents, and Coalition Organizations via video and chat. <br>
    </p><br>
  <div class="row" style="background-color: #F2EBE4" >
    <p> We are willing to mentor 3 types of volunteers and interns:<br>
      &emsp;- <a href="#position1">Leadership, Outreach & Marketing </a><br>
      &emsp;- <a href="#position2">Ruby On Rails Developers</a><br>
      &emsp;- <a href="#position3">UX/UI Designers</a>
    </p>
  </div>
</div>

<div class="row">
  <a id="position1"></a>
  <div class="col-md-4">
    <h4 style="margin-top: 40px;">
      LEADERSHIP, OUTREACH, & MARKETING <br>
    </h4>
      <p style="clear:left;">
      This is the most important role at ThinQ.tv. It is your opportunity to be on the ground floor of a movement to create the future of participatory thought-provoking entertainment.<br><br>
      Seeking engaging self-starters to coordinate live online thought-provoking conversations and work with churches, parents, teens, schools, and women's organizations to form a coalition against trolling and harassment in live online video forums. Successful candidate(s) will gain leadership and community-building skills while fostering a civilized community of live video Conversations.<br><br></p>

      <p style="font-weight: bold;">Learning Outcomes:</p>
      <p>
        - Leadership skills<br>
        - Teamwork with in-person and remote colleagues<br>
        - Research toward effective methods for building online community & coalitions<br>
      </p><br>

      <p style="font-weight: bold;">Responsibilities:</p>
      <p>
      - Invite stakeholder organizations to participate in live video conversations<br>
      - Create social media content<br>
      - Arrange speaking engagements for Dr. Schaefer<br>
      - Recruit students to have conversations on the platform
      </p><br>

      <p style="font-weight: bold;">Qualifications:</p>
      <p>
      - Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
      - Excellent conversational and writing skills
      </p>
  </div>

  <a id="position2"></a>
  <div class="col-md-4">
    <div>
      <h4 style="margin-top: 40px;">
        RUBY ON RAILS DEVELOPERS<br>
      </h4>
      <p style="clear:left;"> 
      Seeking interns and open source developers who are passionate about creating and participating in a live video platform to form a coalition against trolling and harassment. You will learn Ruby on Rails by working with the existing code base for ThinQ.tv. This is your opportunity to be a part of a developers bootcamp taught by a highly educated, experienced software engineer - free of charge. <br><br>

      The internship will only be offered to the most highly motivated and qualified candidates (working on MS in Computer Science or other significant experience in MVC architecture or object-oriented software engineering). If you do not have sufficient object-oriented experience, you are encouraged to apply for our UX/UI (front end Ruby on Rails) position. <br><br>
      </p>
      <p style="font-weight: bold;">Learning Outcomes:</p>
      <p>
        - Ruby on Rails<br>
        - Test Driven Development in MiniTest<br>
        - Real-world experience at a tech startup
      </p>  <br>

    <p style="font-weight: bold;">Responsibilities:</p>
    <p>
    - Participate in live online conversations at least twice per week<br>
    - You are required to begin installation of the environment on your machine in advance of meeting with us. Go to <a href="https://github.com/ece106/tomatocan" target="_blank"style="font-weight: bold;"> https://github.com/ece106/tomatocan </a> for instructions.<br>
    - Write tests to expand the current test suite for Test Driven Development<br><br>
    </p>
    <p style="font-weight: bold;">Qualifications:</p>
    <p>- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
    - Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br>
    </p>
    </div>
  </div>
  <a id="position3"></a>
  <div class="col-md-4"> 
    <h4 style="margin-top: 40px;">
      UX/UI DESIGNERS<br>
    </h4>
    <p style="clear:left;">
    Seeking interns, open source developers, and designers who are passionate about designing and participating in a live video platform to form a coalition against trolling and harassment. This is your opportunity to work and learn alongside a developers bootcamp. You will gain tech startup experience in user outreach and integrating html/CSS into Ruby on Rails.<br><br></p>

      <p style="font-weight: bold;">Learning Outcomes:</p>
      <p>
        - User experience surveys and observation<br>
        - Front-end development for embedded Ruby<br>
        - Real-world experience at a tech startup
      </p>  <br>

    <p style="font-weight: bold;">Responsibilities:</p>
    <p>
      - Participate in live online conversations at least twice per week<br>
      - For those who will be writing front end code in addition to contributing designs, you will be expected to install the Ruby on Rails environment on your machine. Go to <a href="https://github.com/ece106/tomatocan" target="_blank"style="font-weight: bold;"> https://github.com/ece106/tomatocan </a>for instructions.<br>
      - Solicit feedback from potential platform users to understand their perceptions of the site<br>
      - Improve site usage and design based on user feedback<br><br>
    </p>
    <p style="font-weight: bold;">Qualifications: </p>
    <p>
    - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
    - Preferred: Familiarity with JavaScript, HTML, CSS, graphics software.<br><br><br><br><br>
    </p>
  </div>
</div>
