<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="title">
	<%= image_tag "international.jpg", width:"100%" %>
	<h1 class="text">International Thursday</h1>
</div>

<div style="margin-top:20px">	
	<h2>Welcome </h2>
	
</div>
