<head>
  <meta name="ThinQtv" content="Lead thought-provoking conversations and receive donations">
  <title>ThinQtv - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12">
    <h3 class="aboutHeader">
      How to apply for Scottsdale-based internship
    </h3 >
    <h4 style = "line-height: 1.5em;">
      Reply to info@ThinQ.tv with your availability between 9:30am & 3:00pm Mondays, Tuesdays, Fridays to stop by McDowell & Scottsdale Rd. for an interview. If we are considering you, we will reply with your time slot & directions. WE WILL NOT CONTACT YOU IF YOU DO NOT SUBMIT YOUR AVAILABILITY.<br>
    <h3 class="aboutHeader">
      How to apply for Remote internship
    </h3 >
    <h4 style = "line-height: 1.5em;">
      To be considered for this position remotely, you MUST attend the next livestream on Mondays at 3:00pm Pacific Daylight Time (6:00pm Eastern Daylight Time). Join the livestream by clicking JOIN DISCUSSION on the http://ThinQ.tv home page. We will review your resume ONLY AFTER YOU ATTEND one of our Monday livestreams.
    </h4>   <br>
Students may receive course credit for internship. Staff will work with the school/advisor on achieving desired learning outcomes and completing all necessary paperwork.
<br><br>
Scottsdale based interns will work in our offices 10 hours per week on a schedule of your choosing any time during business hours (MTThF 9:00am - 5:00pm).<br><br>


OUTREACH POSITIONS:<br>
Seeking engaging self-starters to coordinate livestream conversations about thought-provoking topics. Successful candidate(s) will gain experience at an edutainment startup while increasing understanding on subject matter of choice.<br><br>

Learning outcomes:<br>
- Usage of open source livestreaming software features<br>
- Effective methods for outreach<br>
- Working with marketing and tech teams<br><br>

Responsibilities:<br>
- Invite relevant organizations to participate in livestreaming shows<br>
- Participate in talk shows by asking relevant questions<br>
- Get regular users onto the platform
  <br><br>
Qualifications:<br>
- Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
- Excellent conversational and writing skills
<br><br>

RUBY ON RAILS DEVELOPER:<br>
You will be expected to install the environment on your machine in advance. Go to https://github.com/ece106/tomatocan for instructions.<br><br>

Seeking interns who can learn Ruby on Rails by working with the existing code base for ThinQ.tv. Time commitment is a flexible 10 hours per week.<br><br>

Growth Opportunities: This is your opportunity to be a part of a developers bootcamp taught by a highly educated, experienced software engineer - free of charge. Intern will receive training in Ruby on Rails, CSS, MiniTest, and Test Driven Development while gaining experience at a tech startup. <br><br>

This internship will only be offered to the most highly motivated and qualified candidates (working on MS in Computer Science or other significant experience in MVC architecture or object-oriented software engineering). If you do not have sufficient object-oriented experience, you are encouraged to apply for our UX/UI (front end Ruby on Rails) position.<br><br>

Responsibilities:<br>
- Write tests to expand the current test suite for Test Driven Development<br>
- Improve site functionality<br>
- Get regular users on the site<br><br>

Qualifications:<br>
- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
- Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br>


UX/UI DESIGNER:<br>

For those who will be writing front end code in addition to contributing designs, you will be expected to install the environment on your machine in advance. Go to https://github.com/ece106/tomatocan for instructions.<br><br>

Seeking an intern who can observe behavior of potential users and improve design of existing Ruby on Rails site. Time commitment is a flexible 10 hours per week. Scottsdale based interns will work in our offices 10 hours per week on a schedule of your choosing any time during business hours (MTThF 9:00am - 5:00pm).<br><br>

Growth Opportunities: This is your opportunity to work and learn alongside a developers bootcamp taught by a highly educated, experienced software engineer. Intern will receive training in user outreach and integrating html/CSS into Ruby on Rails while gaining experience at a tech startup. <br><br>

Responsibilities:<br>
- Solicit feedback from potential platform users to understand what they'd like to use the site for<br>
- Improve site usage and design based on user feedback<br>
- Get regular users onto the platform<br><br>

Qualifications:<br>
- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
- Preferred: Familiarity with JavaScript, HTML, CSS, graphics software.<br><br>

Supervisor Title: Founder and CEO<br>
<br><br><br>
  </div>
</div>
