<head>
<meta name="ThinQ.tv" content="Conversations to make you ThinQ and take action: thought-provoking conversations to feed your brain">
<title>ThinQtv - Conversations to make you ThinQ</title>
</head>

<body>
<div class="row">
  <div class="col-md-12">
    <br>
    <h4>We are inventing Participartory TV. Be a part of growing a community that actively participates in conversations about the world around them.
    </h4>

    <h3 class="aboutHeader">How to apply for ThinQ.tv internships OR Become a Volunteer
    </h3 ><br>
    <div class="livestreamInfo">
      <h3>&emsp;You MUST attend the next live online info Conversation on: </h3><br>
      <h4>
      - Tuesdays at 6:30pm Pacific Daylight Time (9:30pm Eastern Daylight Time) for UX/UI Designers, Ruby on Rails interns, and open-source designers & developers.<br>
      - Thursdays at 5:30pm PDT / 8:30pm EDT for Conversation Coordinator or Marketing internships and volunteer positions<br>
      </h4>
      Join the info Conversation by clicking <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "border-radius:10px;"%> here or on the ThinQ.tv home page at the time designated for the involvement you're interested in. If you must access the Conversation by phone, download the JITSI app in advance and join the THINQTV chatroom.<br>

      We also HIGHLY encourage you to drop in to any of the Conversations scheduled on <%= link_to 'ThinQ.tv', "http://ThinQ.tv", :style => "font-weight:bold;"%>. If you submit a resume but do not attend a Conversation, we will not contact you. Feel free to email info@ThinQ.tv with questions.
    </div><br>
    <p>
      <b>VOLUNTEERS:</b> Scottsdale based volunteers may coordinate ThinQ.tv conversations from our offices during office hours, publicize and attend TED-style talks given by Dr. Schaefer around the Phoenix metro area, and/or publicize and participate in live online Tuesday, Wednesday, or Thursday evening conversations on ThinQ.tv.<br><br>

      <b>INTERNS:</b> Scottsdale based interns will work in our offices (3 miles north of ASU main campus) 10 hours per week on a schedule of your choosing any time during business hours (MTThF 9:00am - 5:00pm). Remote interns will have frequent access to meet online with Scottsdale based staff throughout the week. All interns are eligible receive course credit if they clear it through their university department. </p>
    <p> We are seeking interns for 3 types of positions:<br>
      &emsp;- <a href="#position1">Conversation Coordinator & Marketing positions</a><br>
      &emsp;- <a href="#position2">Ruby On Rails Developers</a><br>
      &emsp;- <a href="#position3">UX/UI Designers</a>
    </p>
  </div>
</div>

<div class="row">
  <a id="position1"></a>
  <div class="col-md-4">
    <h4 style="margin-top: 40px;">
      CONVERSATION COORDINATOR & MARKETING POSITIONS<br>
    </h4>
      <p style="clear:left;">
      This is the most important role at ThinQ.tv. It is your opportunity to be on the ground floor of a movement to create the future of participatory thought-provoking entertainment.<br><br>
      Seeking engaging self-starters to coordinate live conversations about thought-provoking topics. Successful candidate(s) will gain experience at an edutainment startup while building a community around innovation, faith, or people-to-people ambassadorship.<br><br></p>
      <p style="font-weight: bold;">Responsibilities:</p>
      <p>
      - Invite organizations and individuals to participate in live conversations<br>
      - Participate in live online conversations on Tuesday, Wednesday, or Thursday evenings<br>
      - Recruit users to participate in ThinQ.tv conversations on Tuesday, Wednesday, and Thursday evenings<br>
      - Set up speaking engagements for Dr. Schaefer
      </p><br><br>
      <p style="font-weight: bold;">Qualifications:</p>
      <p>
      - Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
      - Excellent conversational and writing skills
      </p>
  </div>

  <a id="position2"></a>
  <div class="col-md-4">
    <div>
    <h4 style="margin-top: 40px;">
      RUBY ON RAILS DEVELOPERS<br>
    </h4>
    <p style="clear:left;"> 
    Seeking interns who are passionate about creating and participating on an online platform where people can drop in for fellowship and share their experiences. You will learn Ruby on Rails by working with the existing code base for ThinQ.tv. This is your opportunity to be a part of a developers bootcamp taught by a highly educated, experienced software engineer - free of charge. Intern will receive training in Ruby on Rails, CSS, MiniTest, and Test Driven Development while gaining real-world experience at a tech startup. This will not be homework assignments for your professor to put smiley faces on.<br><br>

    This internship will only be offered to the most highly motivated and qualified candidates (working on MS in Computer Science or other significant experience in MVC architecture or object-oriented software engineering). If you do not have sufficient object-oriented experience, you are encouraged to apply for our UX/UI (front end Ruby on Rails) position. <br><br>
    </p>

    <p style="font-weight: bold;">Responsibilities:</p>
    <p>
    - Participate in live online conversations at least twice per week<br>
    - You are required to begin installation of the environment on your machine in advance of meeting with us. Go to <a href="https://github.com/ece106/tomatocan" target="_blank"style="font-weight: bold;"> https://github.com/ece106/tomatocan </a> for instructions.<br>
    - Write tests to expand the current test suite for Test Driven Development<br>
    - Recruit colleagues to talk about their tech or international experiences on ThinQ.tv<br><br>
    </p>
    <p style="font-weight: bold;">Qualifications:</p>
    <p>- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
    - Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br>
    </p>
  </div>
  </div>
  <a id="position3"></a>
  <div class="col-md-4"> 
    <h4 style="margin-top: 40px;">
      UX/UI DESIGNERS<br>
    </h4>
    <p style="clear:left;">
    Seeking interns who are passionate about designing and participating on an online platform where people can drop in for fellowship and share their experiences. This is your opportunity to work and learn alongside a developers bootcamp. Intern will gain tech startup experience in user outreach and integrating html/CSS into Ruby on Rails. Those who show significant promise will also be given back-end development challenges.<br><br></p>

    <p style="font-weight: bold;">Responsibilities:</p>
    <p>
      - Participate in live online conversations at least twice per week<br>
      - Recruit colleagues to talk about their tech or international experiences on ThinQ.tv<br>
      - For those who will be writing front end code in addition to contributing designs, you will be expected to install the Ruby on Rails environment on your machine. Go to <a href="https://github.com/ece106/tomatocan" target="_blank"style="font-weight: bold;"> https://github.com/ece106/tomatocan </a>for instructions.<br>
    - Solicit feedback from potential platform users to understand their perceptions of the site<br>
    - Improve site usage and design based on user feedback<br><br>
    </p>
    <p style="font-weight: bold;">Qualifications: </p>
    <p>
    - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
    - Preferred: Familiarity with JavaScript, HTML, CSS, graphics software.<br><br><br><br><br>
    </p>
  </div>
</div>
</body>
