<head>
<meta name="ThinQ.tv" content="Conversations to make you ThinQ and take action: thought-provoking conversations to feed your brain">
<title>ThinQtv - Conversations to make you ThinQ</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12">
    <h4 style = "line-height: 1.5em; margin-left: -15px">
      We are inventing interactive TV. Be a part of growing a community that actively participates in conversations about the world around them.
    </h4>

    <h3 class="aboutHeader">
      How to apply for ThinQ.tv internships
    </h3 >
    <h4 style = "line-height: 1.5em;">
      You MUST attend the next livestream info session on: <br>
      - Mondays at 3:00pm Pacific Daylight Time (6:00pm Eastern Daylight Time) for Coordinator positions<br>
      - Tuesdays at noon PDT / 3:00pm EDT for UX/UI Designers <br>
      - Tuesdays at 6:30pm PDT / 9:30pm EDT for Ruby on Rails developers.<br>
      Join the livestream by clicking <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary" %> here or on the ThinQ.tv home page at the time designated for the position you're interested in. We also encourage you to drop in to any of the conversations scheduled on <%= link_to 'ThinQ.tv', "http://ThinQ.tv" %>. If you submit a resume but do not attend a live session, we will assume you are not interested in what we are inventing at ThinQ.tv.
    </h4> 
    Scottsdale based interns will work in our offices 10 hours per week on a schedule of your choosing any time during business hours (MTThF 9:00am - 5:00pm). All interns are eligible receive course credit if they clear it through their university department. 
<br><br><br>

    <h4 style = "line-height: 1.5em; margin-left: -15px">
      CONVERSATION COORDINATOR & MARKETING POSITIONS<br>
    </h4>
This is the most important role at ThinQ.tv. It is your opportunity to be on the ground floor of a movement to create the future of participatory thought-provoking entertainment.<br><br>
Seeking engaging self-starters to coordinate live conversations about thought-provoking topics. Successful candidate(s) will gain experience at an edutainment startup while building a community around subject matter of choice.<br><br>

Responsibilities:<br>
- Invite organizations and individuals to participate in live conversations<br>
- Participate in live online conversations<br>
- Recruit users to participate on the platform frequently
  <br><br>
Qualifications:<br>
- Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
- Excellent conversational and writing skills
<br><br><br>

    <h4 style = "line-height: 1.5em; margin-left: -15px">
      RUBY ON RAILS DEVELOPERS<br>
    </h4>  
Seeking interns who can learn Ruby on Rails by working with the existing code base for ThinQ.tv. This is your opportunity to be a part of a developers bootcamp taught by a highly educated, experienced software engineer - free of charge.` Intern will receive training in Ruby on Rails, CSS, MiniTest, and Test Driven Development while gaining experience at a tech startup. <br><br>

This internship will only be offered to the most highly motivated and qualified candidates (working on MS in Computer Science or other significant experience in MVC architecture or object-oriented software engineering). If you do not have sufficient object-oriented experience, you are encouraged to apply for our UX/UI (front end Ruby on Rails) position.<br><br>

Responsibilities:<br>
- You are required to install the environment on your machine in advance of meeting with us. Go to https://github.com/ece106/tomatocan for instructions.<br>
- Write tests to expand the current test suite for Test Driven Development<br>
- Improve site usability<br>
- Recruit frequent users who will talk about their tech or international experiences<br><br>

Qualifications:<br>
- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
- Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br>

    <h4 style = "line-height: 1.5em; margin-left: -15px">
      UX/UI DESIGNERS<br>
    </h4>
For those who will be writing front end code in addition to contributing designs, you will be expected to install the environment on your machine in advance. Go to https://github.com/ece106/tomatocan for instructions.<br><br>

Seeking an intern who can observe behavior of potential users and improve design of existing Ruby on Rails site. This is your opportunity to work and learn alongside a developers bootcamp. Intern will gain tech startup experience in user outreach and integrating html/CSS into Ruby on Rails. <br><br>

Responsibilities:<br>
- Solicit feedback from potential platform users to understand their perceptions of the site<br>
- Improve site usage and design based on user feedback<br>
- Recruit frequent users who will talk about their tech or international experiences<br><br>

Qualifications:<br>
- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
- Preferred: Familiarity with JavaScript, HTML, CSS, graphics software.<br><br>

<br><br><br>
  </div>
</div>
