<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - Crowdfund Classy Stories</title>
</head>

  <div id="video-container">
    <video id="camera-stream" width="500" autoplay></video>
  </div>
  <script>$(document).ready(onLivestreamLoad)</script>

This is a livestreaming page.