<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - Doing Purposeful Work? Host Interactive Livestream Discussions To Engage With Your Audience</title>
</head>

<div class="row">

  <script src="https://meet.jit.si/external_api.js">  </script>
  <script>
    jQuery(document).ready(function($) {

      var domain = "meet.jit.si";
      var options = {
        roomName: "Interns",
        width: 1200,
        height: 1050,
        parentNode: document.querySelector('#meet')
      }
      var api = new JitsiMeetExternalAPI(domain, options);
    });
  </script>

  <div id = "meet">
  </div>  

</div> 
 
