<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - Crowdfund Classy Stories</title>
</head>

<div class="row">
  <div class="col-md-5 col-sm-6 col-xs-12" style="padding-top:15px; padding-right:5px;">

    <div class="btn btn-primary" style="font-size:24px; background:#fff;">
      <a href="https://hangouts.google.com/call/Ng40GpGL1kmM2EGcu70CAAEE"  
      onclick="window.open('https://hangouts.google.com/call/Ng40GpGL1kmM2EGcu70CAAEE', 
                         'newwindow', 
                         'width=750,height=750'); 
              return false;"
      >Join the Livestream</a>
    </div>

    <br><br>If the Livestream doesn't open a new window from the button above,
    <br> <%= link_to "Join the Livestream here", "https://hangouts.google.com/call/Ng40GpGL1kmM2EGcu70CAAEE", target: "_blank" %>
  </div>
  <div class="col-md-7 col-sm-6 col-xs-12" style="padding-top:15px; padding-right:5px;">
    Scripts to choose from
        <div class="accordion" id="accordion1">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle1" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'lisas80scatholichighschool' %>
              </div>
            </div>
            <a class="accordion-toggle1" data-toggle="collapse" href="#accordion-toggle1">
              <span>
                <b>Lisa's 80s Catholic High School Movie - Poster painting</b><br>
                Four characters<br>
                Lisa: Like Mary in Something About Mary<br>
                Kelly: Witty, sarcastic<br>
                Luke: Brainy<br>
                Rick: Quiet
              </span>
              <span class="hidden1more">
                ...Hide Poster painting<br><br>
              </span>
            </a>
          </div>
        </div>

        <div class="accordion" id="accordion2">
          <div class="accordion-group" style="padding-left:10px; padding-top:15px; padding-bottom:5px">
            <div id="accordion-toggle2" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'lisas80scatholichsbbq' %>
              </div>
            </div>
            <a class="accordion-toggle2" data-toggle="collapse" href="#accordion-toggle2">
              <span>
                <b>Lisa's 80s Catholic High School Movie - BBQ</b><br>
                Four characters<br>
                Lisa: Like Mary in Something About Mary<br>
                Mr. Bufone: Nice, casual/professional dad<br>
                Dan: Loud mouth class clown<br>
                Jeff: Dan's more shy class clown twin
              </span>
              <span class="hidden2more">
                ...Hide BBQ<br><br>
              </span>
            </a>
          </div>
        </div>



  </div>
</div> 
 
