<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h4>Join the movement to create a space where teens have role models to turn to in online media!
  We need responsible adults to be Online Moms, Dads, Big Brothers or Big Sisters for an hour or two per week.<br><br>
Be a role model to a younger generation to promote a healthy culture of thought-provoking live video conversations. Become an Online Mom or Dad and post Conversation times for high school & college students to drop in and be heard.
      </h4>
</div>  
<div class="livestreamInfo">
      <h4>
      Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page <br>
       </h4>
      <h3>PARENTS AND BIG BROTHERS & SISTERS: </h3>
      <h4>
      Host sessions for teens to talk to responsible adults<br>
      Invite organizations & colleagues to participate in live video conversations on ThinQ.tv<br>
      Spread the word via social media <br>
      - Post times on ThinQ.tv when you'll be at a computer or phone when teens can have someone who will listen<br>
      - Invite churches, parents, schools, womens organizations to participate in live online conversations<br>
      - Invite other adults to be Online Parents
      </h4>

</div>
