<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h3 class="aboutHeader">Join us to create a space where teens have role models to talk to!</h3>
  <h4>
    We need responsible adults to be Online Moms, Dads, Big Brothers or Big Sisters for an hour or two per week.<br><br>
    Be a role model to a younger generation to promote a healthy culture of thought-provoking live video conversations. <br>
    Become an Online Parent or Sibling and <%= link_to 'post Conversation times', new_event_path %>  for high school & college students to drop in and be heard.<br><br>
 
    Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', root_path %> home page. <br>
  </h4>
</div>  
<div class="row" style="background-color: #F2EBE4; padding-bottom: 20px; padding-top: 15px" >
    <h3 style = "color:#8C1D40">What PARENTS & BIG BROTHERS & SISTERS can do: </h3>
    <div style="font-size: 18px; line-height: 1.5em">
      - Post times on ThinQ.tv when you'll be at a computer or phone when teens can have someone who will listen<br>
      - Nominate other adults to be Online Parents or Siblings<br>
      - Tell students they can drop in & be heard<br>
      - Spread the word via social media <br>
    </div>

      <h3 style = "color:#8C1D40">How to become an Online Parent or Sibling: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Drop in to any of the live video Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', root_path %> so we can meet you <br>
        - <%= link_to 'Post times', new_event_path %> for students to drop in to talk to you <br>
      </div> 
</div>




