<head>
<meta name="ThinQ.tv" content="Conversations to make you ThinQ and take action: thought-provoking conversations to feed your brain">
<title>ThinQtv - Conversations to make you ThinQ</title>
</head>

<body>
<div class="row">
  <div class="col-md-12">
    <div class="row" style="background-color: #E3D3C3" >
      <br>
      <h4>Be a role model to a younger generation to promote a healthy culture of thought-provoking live video conversations.
      </h4>
    </div>  
Are you a good listener? Become an Online Mom or Dad and post a session for high school & college students to drop in and be heard.
    <div class="livestreamInfo">
      <h4>
      Anyone who has questions is encouraged to drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page <br>
      Go to ThinQ.tv home page to see the schedule for Your Online Mom <br>
       </h4>
      <h3>PARENTS AND BIG BROTHERS & SISTERS: </h3>

      <h4>
      Host sessions for teens to talk to responsible adults<br>
      Invite organizations & colleagues to participate in live video conversations on ThinQ.tv<br>
      Spread the word via social media <br>
      </h4>

      Join the info session by clicking <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "border-radius:10px;"%> here or on the ThinQ.tv home page at the time designated for the involvement you're interested in for both our Scottsdale team or our remote team. <br>
      If you must access the Conversation by phone, download the JITSI app in advance and join the THINQTV chatroom when prompted in the app.<br>

      We also highly encourage you to drop in to any of the Conversations scheduled on <%= link_to 'ThinQ.tv', "http://ThinQ.tv", :style => "font-weight:bold;"%>. 
    </div><br>
    <p>
      Scottsdale based volunteers may coordinate ThinQ.tv conversations from our offices during office hours and may also get involved remotely. Remote volunteers will have frequent access to meet online with other volunteers, along with our Scottsdale based staff throughout the week. <br><br>

    </p>
  </div>
</div>

</body>
Join the movement to create a space where teens have role models to turn to in online media!
We need responsible adults to be Online Moms, Dads, Big Brothers or Big Sisters for an hour or two per week.
 
Tasks - You can get involved by participating in one or more of the following:
- Create social media content for Your Online Mom
- Post times on ThinQ.tv when you'll be at a computer or phone when teens can have someone who will listen
- Invite churches, parents, schools, womens organizations to participate in live online conversations
- Schedule in-person talks with relevant groups


Need to find organizations who want to lead conversations about & work toward a future where harassment & creepiness are not normal occurrences in online video platforms. Also seeking people who would like to be Online Moms, Dads, Big Brothers & Sisters to younger citizens who need good online rolemodels during online conversations.