
# <% require 'date' %>
<% def date_of_next(day) %>
  <% date = Date.parse(day) %>
  <% delta = date > Date.today ? 0 : 7 %>
  <% date + delta %>
<% end %>


<div class="panel panel-primary">
  <div class="panel-heading">Open Discussion Shows</div>
  <div class="panel-body" style="text-align:center">
    <table class="table">
    <tr>
      <th>Date</th>
      <th>Host</th>
      <th>Topic</th>
      <th>Interviewer</th>
      <th>Guest 1</th>
      <th>Guest2</th>
      <th>Submit</th>
    </tr>
    <tr style="text-align:center">
      <% Date.today %>
      <% @start_date = date_of_next "current_usrid.start_day" %>
      # <% start_date = start_date.strftime("%A %B %d, %Y at %I:%M %p") %>

      <% for i in 0..12 do %>
        <td><%= start_date %></td> 
        <td><%= current_usrid.name %></td> 
        <td><textarea></textarea></td>
        <td><input onclick = "document.getElementById("Topic").disabled=this.checked;" type="radio" id="interviewer" name="one"><label for="one">Interviewer</label></td>
        <td><input onclick = "document.getElementById("Topic").disabled=this.checked;" type="radio" id="guest1" name="one"><label for="two">Guest1</label></td>
        <td><input onclick = "document.getElementById("Topic").disabled=this.checked;" type="radio" id="guest2" name="one"><label for="three">Guest2</label></td>
        <td><button type="submit" class="btn btn-primary">Submit</button></td>

        <% start_date = start_date+7 %>
      <% end %>
    </tr>
    </table>
</div>

<!-- if interviewer clicked, then topic text box greyed out -->
<!-- if one of guests clicked, topic text box not greyed out -->
