<div class="row" style="margin-top: 70px">
  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("marketing.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
            Mother's Day / Valentines Video Necklace <br>
          </a>
        </h4>
        <div class="collapse" id="collapseOne">
          We are currently developing a mini-video player that you can load with videos of you & your siblings to give to Mom.  <br>
          Or add videos of you and your girlfriend/wife and give to her as a Valentines Day or Christmas gift.<br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("ruby.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                     
            Women's Pockets<br>
          </a>
        </h4>
        <div class="collapse" id="collapseExample">
          Going out for a run and need a place to keep credit card and phone? Attach this space-design pocket to your tank top or shorts to securely store your essential items. <br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("uidesign.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                     
            Women's Empowerment Cookies<br>
          </a>
        </h4>
        <div class="collapse" id="collapseTwo">
          What makes them Women's Cookies? Women eat them! Plus they come wrapped in a cool space scene label with the slogan Female + STEM = Activism. <br><br>
        </div>
      </div>
    </div>
  </div>
</div>