<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.tv" content="eBay for authors - with video!">
<title>ThinQtv - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 font19left " >

    <div class="helps" >
      Suggestions for Rewards to offer fans
    </div ><br>
    When storytellers select Suggested Rewards while creating their crowdfunding campaign, details for each Perk are also suggested, but can be modified.<br><br>
    Have even better ideas for Suggested Rewards? Send suggestions to info@CrowdPublish.TV<br>
<br><span class="dot"></span>Informative or comedic Social Media Post
<br><span class="dot"></span>Behind the Scenes Premium Blog Access
<br><span class="dot"></span>Premium Video for Patrons' Social Media
<br><span class="dot"></span>Name in Credits of the next video you produce
<br><span class="dot"></span>Interactive 30 Line Story
<br><span class="dot"></span>Live Content
<br><span class="dot"></span>Live Online Reading on video call
<br><span class="dot"></span>Tickets to your local Event
<br><span class="dot"></span>Facebook Livestream Acting
<br><span class="dot"></span>Play Video Game with fans
<br><span class="dot"></span>Interactive TV
<br><span class="dot"></span>Make an Appearance at fans' Party
<br><span class="dot"></span>Actor Coaching
<br><span class="dot"></span>Miscellaneous Rewards
<br><span class="dot"></span>Recipes
<br><span class="dot"></span>Interactive 30 Line Story
<br><span class="dot"></span>Facebook Video Post where fans' friends can see your work
<br><span class="dot"></span>Facebook Livestream Reading of fan's story
<br><span class="dot"></span>Live Online Reading on 10 min. Hangouts, Facetime, or Skype call
<br><span class="dot"></span>Tickets to your local Event
<br><span class="dot"></span>Murder Mystery reading via google hangouts
<br><span class="dot"></span>Make an Appearance at Book Club Meeting
<br><span class="dot"></span>Expert Consultation
<br><span class="dot"></span>Special content relevant to your book
<br><span class="dot"></span>Include Fans' Name in the credits at the end of your next chapter
<br><span class="dot"></span>Fans Name the next Character in your book
<br><span class="dot"></span>Advance Chapter Access
<div>
<div>
    <br><br>
