<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.tv" content="Where authors and actors earn more money from their loyal fans">
<title>ThinQtv - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >

    <div class="helps" >
      Home Page
    </div ><br>
    <div class="font19left" >
      1. .<br><br>


What does the home page make you think you can do on ThinQ.tv

What message do the pictures on the home page give you

Which wording is has a stronger meaning / is least corny?
  Stories about Characters who contribute to Society
  Stories about Role Models
  Stories about characters we can Respect
  Stories about characters with strong ethics

What phrase would you come up with besides "CrowdFund Stories about Characters we can Respect" for the home page?

Does the word Crowdfund make you think that selling/distributing stories to fans is part of the crowdfunding campaign

What questions are left unanswered by the ThinQ.tv home page

Why might you want to participate in a site dedicated to stories about characters who contribute to society

Whom do you know that should be a part of a collection of stories about respectable characters

Whom do you know that should be a part of a movement to publicize stories about respectable characters

Have you ever run a crowdfunding campaign in the past

How can this survey be improved




What are the advantages of using crowdfunding campaigns to publicize your stories


    <div class="helps" >
      Create Profile
    </div ><br>

   What was the most difficult part of creating your profile?


    <div class="helps" >
      Create Campaign
    </div ><br>

a. What difficulty did you encounter when creating a Campaign?




What is the most confusing part of ThinQ.tv



    </div >
  </div >
</div ><br>

    </div ><br>
  </div ><br>
