<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12" >
    <h2 class="aboutHeader">
      Tech Tuesdays
    </h2 ><br>
    <h4 style = "line-height: 1.5em;">
      We're launching Tech topics with Learn Web Development in Ruby on Rails discussions and UI/UX discussions. Meet us <%= link_to 'here on CrowdPublishTV ', '/lisa' %> at 6:30 pm PDT every Tuesday for Ruby on Rails, 12:00 pm PDT every Tuesday for UI/UX.<br>
      In the Rails discussions we'll talk about: <br>Model View Controller code structures, <br>Ruby Gems, <br>Tests, Tests, & more Tests.
      <br><br>
      In the UI/UX discussions we'll talk about the current design of CrowdPublish.TV.
      <br><br>

      Once we build a critical mass of participants for the Ruby on Rails discussions, Future topics later in the evenings on Tuesdays include: <br>Innovation & Entrepreneurship, <br>Big Tech, and <br>Women in Tech.

    </h4><br><br>
      Got a Tech-related topic you'd like to discuss? <%= link_to 'Submit Here ', new_event_path %> <br><br>

    
<br><br><br>
  </div>
