<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div style= "text-align:left" >

Send email to all friends

Post on social media

<div>

    <%= image_tag("futureEmpStory.png", :width => "712") %>
    <br><br>
