<center>
  <h1>SentenceZing Terms of Service</h1>
</center>
  <p>
    The following terms shall govern your use of the Sentencezing site and interactions with users on it.  You agree that use of the website signifies that you have read, understood and agree to be bound by the following terms listed below.  These terms are liable to change at any time, but users will be notified via email or through the updated Terms of Use page on the website.  Your continued use of the Websites or services after such changes have been posted means that you agree to the new Terms, even if you have not reviewed the changes.  Therefore, you should check the regular SentenceZing newsletter emails or the Terms of Service page periodically for updates and changes. These communications are considered part of the Services and your SentenceZing account, which you may not be able to opt-out from receiving.
  </p>
<p>
You may use the Services only if you can form a binding contract with SentenceZing and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. Children under 13 are prohibited from using SentenceZing. Children 13 and over may participate with the permission and guidance of their parent or guardian.
</p>

  <h2>User Conduct</h2>
  <p>
All text, graphics, photos (collectively referred to as "Content"), whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
</p><p>
    Use of the site signifies your agreement in refraining from Content containing excessive foul language, offensive or derogatory remarks, harassment, hate speech, gratuitous violence, or any sexually explicit material. These are reportable offenses and may result in content deletion, probation, or banning.  User uploaded pictures on their accounts must not be offensive, contain anything illegal, or exhibit any nudity or they will be removed and your account will be banned.  SentenceZing will not tolerate any cyber bullying or stories using real names without consent or as a defamation of character.  
</p><p>
  You agree not to download, distribute, copy, modify, produce, reproduce, transmit, broadcast, display, sell, license, translate, publish, perform or otherwise exploit in any medium any part of the Service or the Content.
</p><p>
You will follow all applicable laws if you publicize or offer any contest, giveaway, or sweepstakes (“promotion”) on SentenceZing.
</p><p>
  You agree not to use the Service for the sale of access to the Service nor
the sale of advertising, sponsorships, or promotions placed on or within the Service or Content.
</p>
<p>
You may not do any of the following while accessing or using the Services: 
(1) Access, tamper with, or use non-public areas of the Services, or the technical delivery systems of SentenceZing’s providers <br>
(2) Probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures<br> 
(3) Access or search or attempt to access or search the Services by any means other than through published interfaces provided by SentenceZing<br>
(4) Forge any TCP/IP packet header or any part of the header information in email or posting, or use the Services to send altered or false source-identifying information<br> 
(5) Interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including sending a virus, overloading, spamming, or by scripting the creation of Content to interfere with or create an undue burden on the Services.
(6) Collect or harvest any personally identifiable information, including account names, from the Website, nor to use the communication systems provided by the Website (e.g. comments, email) for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Website with respect to their User Submissions.
</p><p>
SentenceZing grants the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives of such materials.
</p>

<h2>Passwords</h2>
  </p>
You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. SentenceZing cannot and will not be liable for any loss or damage arising from your failure to safeguard your password. You are solely responsible for the activity that occurs on your account. You must notify SentenceZing immediately of any breach of security or unauthorized use of your account. You may be liable for the losses of SentenceZing or others due to such unauthorized use.
  </p>

<h2>Intellectual Property</h2>
  <p>
    All code, web design, logos, products, domain names, graphics, and distinctive brand features on the Site (excluding Content provided by users) are the intellectual property of SentenceZing, LLC and may not be copied, used, or retransmitted unless by direct written permission. However we give you permission to link to SentenceZing pages on social media sites.
</p><p>
    You retain your rights to any Content you submit, post or display on or through the Services. By using the site, you give SentenceZing LLC worldwide royalty-free license (with the right to sublicense) to use, copy, adapt, broadcast, and publish content in site promotions, story showcases, ebooks sold on the Site, merchandise, and all media in perpetuity. SentenceZing does not however claim authorship of user created content and it may be used by its authors freely as they see fit outside of the site.
</p><p>
You give permission to other SentenceZing users to post links in social media to your content on the site.
</p><p>
 You also hereby grant each user of the Service a non-exclusive license to access your Content through the Service, and to use, reproduce, distribute, display and perform such Content as permitted through the functionality of the Service and under these Terms of Service. 
</p>
<p>
  Any feedback, comments, or suggestions you may provide is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
  </p>

<h2>Copyright</h2>
<p>
You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to SentenceZing all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.
</p><p>
You agree that Content you submit to the Service will not contain third party copyrighted material, nor material that is subject to other third party proprietary rights. If you submit Content that you do not have the rights to use copy, or publish, it may subject you to liability. SentenceZing will not be responsible or liable for any use of your Content by SentenceZing.
</p><p>
To file a copyright infringement notification with SentenceZing, please send us an email with the following information: <br>
(1) A physical or electronic signature of the copyright owner or a person authorized to act on their behalf <br>
(2) Identification of the copyrighted work or works claimed to have been infringed<br>
(3) Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material<br>
(4) Your contact information, including your address, telephone number, and an email address <br>
(5) A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law<br>
(6) A statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
</p><p>
To report alleged copyright infringement appearing on the Services:
sentencezingcustomerservice@gmail.com
</p><p>
We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. SentenceZing may terminate the accounts of repeat infringers. 
</p><p>
 If you believe that your Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the material in your Content, you may send a counter-notice containing the following information to SentenceZing:<br>
(1) Your electronic signature<br>
(2) Identification of the Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was removed or disabled<br>
(3) A statement that you have a good faith belief that the Content was removed or disabled as a result of mistake <br>
(4) Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in Alexandria, Virginia, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
</p><p>
If a counter-notice is received by SentenceZing, we may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the Content provider, member or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at SentenceZing's sole discretion.
</p>

  <h2>Disclaimers and Limitations of Liability  </h2>
  <p>
    Use of the website and any services are at your own risk. The Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. All stories are user generated and SentenceZing LLC is not liable for any offensive content produced. SentenceZing will make reasonable efforts to moderate user created content to remove any inappropriate content and ban users who do not abide by the terms of use.  
  </p>
<p>
We reserve the right at all times to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability to you. 
  </p>
<p>SentenceZing may stop providing the Services to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.
</p><p>
SentenceZing makes no warranty and disclaims all responsibility and liability for: <br>
(1) The completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content OR THE CONTENT OF ANY SITES LINKED TO THIS SITE.<br>
(2) Any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content<br>
(3) The deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services<br>
(4) Whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis<br>
(5) DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES<br>
(6) ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA SentenceZing.com</p>
<p>
 SentenceZing, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS AND PARTNERS DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER WRITTEN, ORAL, EXPRESS, IMPLIED, LEGAL, STATUTORY, CONTRACTUAL, OR IN TORT, AND WHETHER ARISING BY LAW, STATUTE, USAGE OF TRADE, CUSTOM, COURSE OF DEALING OR PERFORMANCE, OR THE PARTIES' CONDUCT OR COMMUNICATION WITH ONE ANOTHER, OR AS A RESULT OF THE NATURE OF THESE TERMS AND CONDITIONS, THE WEBSITE AND YOUR USE THEREOF OR IN CONFORMITY WITH USAGE, EQUITY OR LAW OR OTHERWISE. 
</p><p>
SentenceZing EXPRESSLY DISCLAIMS ANY WARRANTY OR CONDITION OF ANY KIND OF FITNESS FOR A PARTICULAR OR GENERAL PURPOSE, QUALITY, MERCHANTABILITY, WORKMANSHIP, NON-INFRINGEMENT, OR TITLE AND OWNERSHIP. SentenceZing DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND SentenceZing WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. 
</p><p>
  YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
</p><p>
IN NO EVENT SHALL THE AGGREGATE LIABILITY OF SentenceZing EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID SentenceZing.
</p>

  <h2>Waiver and Severability  </h2>
  <p>
The absence of SentenceZing's enforcement of any provision of these Terms is not a waiver of such provision. If any provision of these Terms is determined to be invalid, the remaining provisions of these Terms will remain in effect.
</p>

  <h2>Controlling Law and Jurisdiction  </h2>
<p>
These Terms and any action with regard to the Terms will be governed by the laws of the State of Virginia without regard to any conflict with the laws of your state or country of residence. All legal proceedings arising in connection with the Services will be brought solely in the federal or state courts located in Loudoun County, Virginia, United States.
</p>
Effective: August 25, 2014
<p>
© 2014 SentenceZing, LLC

