<div class="row justify-content-center pt-4" >
  <div class="col-md-10 col-sm-12 text-left" >
<center>
  <h1>ThinQ.tv Terms of Service</h1>
</center>
  <p>
    The following terms shall govern your use of the ThinQ.tv site and interactions with users on it. You agree that use of the website signifies that you have read, understood and agree to be bound by the following terms listed below.  These terms are liable to change at any time. Users will be notified via the updated Terms of Services page on the website. Your continued use of the Websites or services after such changes have been posted means that you agree to the new Terms, even if you have not reviewed the changes. Therefore, you should check the Terms of Service page periodically for updates and changes.
  </p><p>
You may use the Services only if you can form a binding contract with ThinQ.tv and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. Children under 13 are prohibited from using ThinQ.tv. Children 13 and over may participate with the permission and guidance of their parent or guardian.
</p>

  <h2>User Conduct</h2>
  <p>
All text, graphics, photos (collectively referred to as "Content"), whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
</p><p>
    Use of the site signifies your agreement in refraining from Content containing excessive foul language, offensive or derogatory remarks, harassment, hate speech, gratuitous violence, or any sexually explicit material. These are reportable offenses and may result in content deletion, probation, or banning.  Pictures uploaded to user accounts must not be offensive, contain anything illegal, or exhibit any nudity or they will be removed and your account will be banned. ThinQ.tv will not tolerate any cyber bullying or stories using real names without consent or as a defamation of character.
</p><p>
  You agree not to download, distribute, copy, modify, produce, reproduce, transmit, broadcast, display, sell, license, translate, publish, perform or otherwise exploit in any medium any part of the Service or the Content.
</p><p>
You will follow all applicable laws if you publicize or offer any contest, giveaway, or sweepstakes (“promotion”) on ThinQ.tv.
</p><p>
  You agree not to use the Service for the sale of access to the Service nor
the sale of advertising, sponsorships, or promotions placed on or within the Service or Content.
</p>
<p>
You may not do any of the following while accessing or using the Services: <br>
(1) Access, tamper with, or use non-public areas of the Services, or the technical delivery systems of ThinQ.tv’s providers <br>
(2) Probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures<br>
(3) Access or search or attempt to access or search the Services by any means other than through published interfaces provided by ThinQ.tv<br>
(4) Forge any TCP/IP packet header or any part of the header information in email or posting, or use the Services to send altered or false source-identifying information<br>
(5) Interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including sending a virus, overloading, spamming, or by scripting the creation of Content to interfere with or create an undue burden on the Services.
(6) Collect or harvest any personally identifiable information, including account names, from the Website, nor to use the communication systems provided by the Website (e.g. comments, email) for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Website with respect to their User Submissions.
</p><p>
ThinQ.tv grants the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives of such materials.
</p>

<h2>Passwords</h2>
  <p>
You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. ThinQ.tv cannot and will not be liable for any loss or damage arising from your failure to safeguard your password. You are solely responsible for the activity that occurs on your account. You must notify ThinQ.tv immediately of any breach of security or unauthorized use of your account. You may be liable for the losses of ThinQ.tv or others due to such unauthorized use.
  </p>

<h2>Intellectual Property</h2>
  <p>
    All code, web design, logos, products, domain names, graphics, and distinctive brand features on the Site (excluding Content provided by users) are the intellectual property of ThinQ.tv, LLC and may not be copied, used, or retransmitted unless by direct written permission. However we give you permission to link to ThinQ.tv pages on social media sites.
</p><p>
    You retain your rights to any Content you submit, post or display on or through the Services. By using the site, you give ThinQ.tv LLC worldwide royalty-free license (with the right to sublicense) to use, copy, adapt, broadcast, and publish content in site promotions, story showcases, ebooks sold on the Site, merchandise, and all media in perpetuity. ThinQ.tv does not however claim authorship of user created content and it may be used by its authors freely as they see fit outside of the site.
</p><p>
You give permission to other ThinQ.tv users to post links in social media to your content on the site.
</p><p>
 You also hereby grant each user of the Service a non-exclusive license to access your Content through the Service, and to use, reproduce, distribute, display and perform such Content as permitted through the functionality of the Service and under these Terms of Service.
</p>
<p>
  Any feedback, comments, or suggestions you may provide is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
  </p>

<h2>Copyright</h2>
<p>
You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to ThinQ.tv all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.
</p><p>
You agree that Content you submit to the Service will not contain third party copyrighted material, nor material that is subject to other third party proprietary rights. If you submit Content that you do not have the rights to use copy, or publish, it may subject you to liability. ThinQ.tv will not be responsible or liable for any use of your Content by ThinQ.tv.
</p><p>
You may add a Movie to the site and reference clips from Movies on YouTube, however you agree that you will not add graphics or text that you do not have copyright ownership.
</p><p>
To file a copyright infringement notification with ThinQ.tv, please send us an email with the following information: <br>
(1) A physical or electronic signature of the copyright owner or a person authorized to act on their behalf <br>
(2) Identification of the copyrighted work or works claimed to have been infringed<br>
(3) Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material<br>
(4) Your contact information, including your address, telephone number, and an email address <br>
(5) A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law<br>
(6) A statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
</p><p>
To report alleged copyright infringement appearing on the Services:
ThinQ.tvcustomerservice@gmail.com
</p><p>
We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. ThinQ.tv may terminate the accounts of repeat infringers.
</p><p>
 If you believe that your Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the material in your Content, you may send a counter-notice containing the following information to ThinQ.tv:<br>
(1) Your electronic signature<br>
(2) Identification of the Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was removed or disabled<br>
(3) A statement that you have a good faith belief that the Content was removed or disabled as a result of mistake <br>
(4) Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in Phoenix, Arizona, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
</p><p>
If a counter-notice is received by ThinQ.tv, we may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the Content provider, member or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at ThinQ.tv's sole discretion.
</p>

  <h2>Use of Payment Processor </h2>
  <p>
Payment processing services for Storytellers on ThinQ.tv are provided by Stripe and are subject to the <%= link_to("Stripe Connected Account Agreement", "https://stripe.com/us/connect-account/legal", :target => "_blank" ) %>, which includes the <%= link_to("Stripe Connected Account Agreement", "https://stripe.com/us/legal", :target => "_blank" ) %> (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as Storytellers on ThinQ.tv, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of ThinQ.tv enabling payment processing services through Stripe, you agree to provide ThinQ.tv accurate and complete information about you and your business, and you authorize ThinQ.tv to share it and transaction information related to your use of the payment processing services provided by Stripe.
</p>
  <p>Profits from each entire month's ThinQ.tv sales will be deposited in Users' bank accounts on the 7th of the following month.
</p>

  <h2>Organization Pages </h2>
  <p>All users are eligible to create pages on behalf of organizations they belong to. Users
  </p>

  <h2>Fees </h2>
  <p>Payment processing fees are $.30 USD + 3% per successful card charge. ThinQ.tv fees are 5% of each transaction.
  </p>

  <h2>Partnering </h2>
  <p>Storytellers may elect to partner with organizations for marketing purposes. By agreeing to the partnership, storytellers allocate 5% of the amount of the transactions made by fans who clicked through from that particular organization's page.
  </p>

  <h2>Disclaimers and Limitations of Liability  </h2>
  <p>ThinQ.tv, RoleModel Enterprises, LLC, and its assigns are not responsible for fulfillment of items sold on the ThinQ.tv platform. Purchase fulfillment is the sole responsibility of the Storytellers or other users offering the items on the ThinQ.tv platform. All transactions made on the ThinQ.tv platform are in support of Storytellers and their assigns and no guarantee is made regarding the fulfillment of items offered.
  </p>
    <p>Use of the website and any services are at your own risk. The Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. All stories are user generated and ThinQ.tv LLC is not liable for any offensive content produced. ThinQ.tv will make reasonable efforts to moderate user created content to remove any inappropriate content and ban users who do not abide by the terms of use.
  </p>
<p>
We reserve the right at all times to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability to you.
  </p>



<h2>PRIVACY POLICY</h2>
THESE​ ​TERMS​ ​AND​ ​CONDITIONS​ ​OF​ ​USE​ ​ARE​ ​LEGALLY​ ​BINDING.​ ​IT​ ​IS​ ​YOUR RESPONSIBILITY​ ​TO​ ​READ​ ​THESE​ ​TERMS​ ​AND​ ​CONDITIONS​ ​OF​ ​USE​ ​CAREFULLY​ ​PRIOR​ ​TO​ ​PURCHASE, USE​ ​OR​ ​ACCESS​ ​ThinQ.tv. THESE TERMS​ ​AND CONDITIONS APPLY TO ALL ​USES OF ThinQ.tv.
  </p>
<p>
This policy provides details on: <br>
· the information that we collect;<br>
· how we use this information, why we store, and why we retain it; and <br>
· how you can request that your information is updated, corrected, or deleted.
  </p>
<p>
Acceptance of Terms By visiting ThinQ.tv, you are agreeing to the terms of this Privacy Policy and the accompanying Terms of Service, both of which govern your use of ThinQ.tv.
  </p>
<p>
The Information We Collect In the course of operating ThinQ.tv, we will collect (and/or receive) the following types of information:<br><br>
1. Personal Information.<br>
When you sign up on ThinQ.tv, or purchase any product, program or service, you may be required to provide us with personal information about yourself, such as your name, address, email address. We do not collect any personal information from Users when they use ThinQ.tv unless they provide such information voluntarily, such as by signing up. All information we collect and/or receive under this section is collectively called “Personal Information.”<br><br>
2. Order Information.<br>
When you place an Order, you must provide us with certain information about the products and services you are seeking to purchase, along with the method of fulfillment. Such information, which may include mailing address, phone number or social media account handles, is collectively called the “Order Information.”<br><br>
3. Billing Information.<br>
When you wish to purchase a product or service, you will be required to provide certain information in addition to the Personal Information and Order Information noted above. Such information may include a debit card number, credit card number, expiration date, billing address, activation codes, and similar information. Such information is collectively called the “Billing Information.” Although we will have access to the Billing Information, it will also be collected and processed by our third-party payment vendors pursuant to the terms and conditions of their privacy policies and <%= link_to("terms of use", "https://stripe.com/us/connect-account/legal", :target => "_blank" ) %>.<br><br>
4. Other Information.<br>
In addition to the information noted above, we may collect additional information (collectively, the “Other Information”). Such Other Information may include:<br>
a. From You. Additional information about yourself that you voluntarily provide to us (e.g., via a survey), such as product and service preferences, and other information that does not identify you personally.<br>
b. From Your Activity. Information that we automatically collect when you use ThinQ.tv, including, without limitation:<br>
IP addresses, which may consist of a static or dynamic IP address and will sometimes point to a specific identifiable computer or device; browser type and language; referring and exit pages and URLs; date and time; amount of time spent on particular pages; what sections of ThinQ.tv you visit; and similar data; and <br>
Information about your device, including the type of device; universally unique ID (“UUID”); advertising identifier (“IDFA”); MAC address; operating system and version (e.g., iOS, Android or Windows); carrier and country location; hardware and processor information (e.g., storage, chip speed, camera resolution, NFC enabled); network type (WiFi, 3G, 4G, LTE); and similar data. <br>
c. From Cookies. Information that we collect using “cookie” technology. Cookies are small packets of data that a website stores on your computer’s or mobile device’s hard drive so that your computer will “remember” information about your visit. We may use both session cookies (which expire once you close your web browser) and persistent cookies (which stay on your computer until you delete them) to help us collect Other Information and to enhance your experience using ThinQ.tv. If you do not want us to place a cookie on your hard drive, you may be able to turn that feature off on your computer or mobile device. Please consult your Internet browser’s documentation for information on how to do this and how to delete persistent cookies. However, if you decide not to accept cookies from us, the Website may not function properly.<br>
d. Third-Party Analytics. We use third-party analytics services (such as Google Analytics) to evaluate your use of the Websites, compile reports on activity, collect demographic data, analyze performance metrics, and collect and evaluate other information relating to ThinQ.tv and mobile and Internet usage. These third parties use cookies and other technologies to help analyze and provide us the data. By accessing and using ThinQ.tv, you consent to the processing of data about you by these analytics providers in the manner and for the purposes set out in this Privacy Policy.<br>
For more information on Google Analytics, including how to opt out from certain data collection, please visit https://www.google.com/analytics. Please be advised that if you opt out of any service, you may not be able to use the full functionality of the Website. <br>
e. From Other Sources. We also may collect or receive information from third parties, such as Facebook and/or other third-party social media sites.<br>
f. Information Collected by or Through Third-Party Advertising Companies.
We may share Other Information about your activity on ThinQ.tv with third parties for the purpose of tailoring, analyzing, managing, reporting, and optimizing advertising you see on ThinQ.tv. These third parties may use cookies, pixel tags (also called web beacons or clear gifs), and/or other technologies to collect such Other Information for such purposes. Pixel tags enable us, and these third-party advertisers, to recognize a browser’s cookie when a browser visits the site on which the pixel tag is located in order to learn which advertisement brings a user to a given site.<br>
  </p>
<p>
Accessing and Modifying Personal Information and Communication Preferences<br>
If you have registered for ThinQ.V, you may access, review, and make changes to your Personal Information, Billing Information, and certain Other Information by following the instructions found on ThinQ.tv. In addition, you may manage your receipt of marketing and non-transactional communications by clicking on the “unsubscribe” link located on the bottom of any ThinQ.tv email. Customers cannot opt out of receiving transactional emails related to their account or their Orders. We will use commercially reasonable efforts to process such requests in a timely manner. You should be aware, however, that it is not always possible to completely remove or modify information in our subscription databases.
  </p>
<p>
You have the right to withdraw your consent on providing us your personal data, at any time, and to ask us to erase your data.
You may ask to see your data that you gave to us, and thus to exercise your right to access data.
If it happens that data you gave us is incorrect from any reason, you may ask for rectification of your data.
You also have the right to ask for restriction of access to your data, in which case the data shall not be erased, but just access thereto shall be denied.
Where you consented to give us data, or we process your data on the grounds of contract with you, if the processing is carried out by automated means, you may request that we send your data back in a structured way, and thus exercise your right to data portability.
  </p>
<p>
How We Use and Share the Information<br>
We use the Personal Information, the Order Information, the Billing Information, and the Other Information (collectively, the “Information”) to provide our services; to process Orders; to administer rewards and promotional programs; to maintain and improve ThinQ.tv and services to you; to solicit your feedback; and to inform you about our products and services.<br>
ThinQ.tv will access, use, and share the Information as required to process your Orders and provide support to you. When you place an order, the information you enter for enabling fulfillment is sent to the Storyteller offering the item you purchased.<br>
With your permission, third-party applications or services may access your Personal Information. We use standard OAuth (open authorization) to enable you to give permission to share your Personal Information with other websites and services, such as Facebook and Twitter (e.g., when you agree to a pop-up requesting you to allow another application to access your account information). We also use OAuth to allow us to share information about you that is stored by us without sharing your security credentials.<br>
We may employ other companies and individuals to perform functions on our behalf. Examples may include providing technical assistance, Order fulfillment, customer service, and marketing assistance. These other companies will have access to the Information only as necessary to perform their functions and to the extent permitted by law.<br>
In an ongoing effort to better understand our Visitors, customers, and our products and services, we may analyze the Order Information and Other Information in aggregate form in order to operate, maintain, manage, and improve ThinQ.tv and/or our products and services. This aggregate information does not identify you personally. We may share this aggregate data with our affiliates, agents, and business partners. We may also disclose aggregated user statistics in order to describe our products and services to current and prospective business partners and to other third parties for other lawful purposes.<br>
We may share some or all of your Information with any of our parent companies, subsidiaries, joint ventures, or other companies under common control with us.
As we develop our businesses, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, sale of assets, dissolution, or similar event, the Information may be part of the transferred assets.<br>
To the extent permitted by law, we may also disclose the Information: (i) when required by law, court order, or other government or law enforcement authority or regulatory agency; or (ii) whenever we believe that disclosing such Information is necessary or advisable, for example, to protect the rights, property, or safety of ​RoleModel Enterprises, LLC, or others.
  </p>
<p>
Information You Share<br>
Please keep in mind that whenever you voluntarily make your Personal Information available to third parties — for example on message boards or web logs; through email; during webinars, classes, telephone conferences, or coaching calls; or in comment or chat areas — that information can be seen, collected, heard, and/or used by others besides us. We cannot be responsible for any unauthorized third-party use of such information.
  </p>
<p>
How We Protect the Information<br>
We take commercially reasonable steps to protect the Information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. Please understand, however, that no security system is impenetrable. We cannot guarantee the security of our databases, nor can we guarantee that the Information that you supply will not be intercepted while being transmitted to and from us over the Internet. In particular, e-mail sent to or from ThinQ.tv may not be secure, and you should therefore take special care in deciding what information you send to us via email.
  </p>
<p>
Important Notice to Non-U.S. Residents<br>
It is important to note that ThinQ.tv and its servers are operated in the United States. If you are located outside of the United States, please be aware that any Information you provide to us will be transferred to the United States. By using ThinQ.tv and by providing us Information when using our services, you hereby irrevocably consent to this transfer and our use of the Information and data provided by you in accordance with this Privacy Policy.
  </p>
<p>
Children <br>
We do not knowingly collect Personal Information from children under the age of 13 through ThinQ.tv. If you are under 13, please do not give us any Personal Information. We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy Policy by instructing their children to never provide Personal Information through ThinQ.tv without their permission. If you have reason to believe that a child under the age of 13 has provided Personal Information to us, please contact us, and we will endeavor to delete that information from our databases.
  </p>
<p>
California Residents​<br>
ThinQ.tv does not monitor, recognize, or honor any behavioral advertising opt-out or do not track mechanisms, including general web browser “Do Not Track” settings and/or signals.
  </p>
<p>
External Websites<br>
ThinQ.tv may contain links to third-party websites. We have no control over the privacy practices or the content of any of our business partners, advertisers, sponsors, or other websites to which we provide links. As such, we are not responsible for the content or the privacy policies of those third-party websites. You should check the applicable third-party privacy policy and terms of use when visiting any other websites.
  </p>
<p>
Changes to This Privacy Policy<br>
This Privacy Policy is effective as of May 30, 2018. We may change this Privacy Policy from time to time. By accessing ThinQ.tv and/or using our services after we make any such changes to this Privacy Policy, you are deemed to have accepted such changes. Please be aware that, to the extent permitted by applicable law, our use of the Information is governed by the Privacy Policy in effect at the time we collect the Information. Please refer back to this Privacy Policy on a regular basis.
  </p>
<p>

<p>ThinQ.tv may stop providing the Services to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.
</p><p>
ThinQ.tv makes no warranty and disclaims all responsibility and liability for: <br>
(1) The completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content OR THE CONTENT OF ANY SITES LINKED TO THIS SITE.<br>
(2) Any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content<br>
(3) The deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services<br>
(4) Whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis<br>
(5) DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES<br>
(6) ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA ThinQ.tv.com</p>
<p>
 ThinQ.tv, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS AND PARTNERS DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER WRITTEN, ORAL, EXPRESS, IMPLIED, LEGAL, STATUTORY, CONTRACTUAL, OR IN TORT, AND WHETHER ARISING BY LAW, STATUTE, USAGE OF TRADE, CUSTOM, COURSE OF DEALING OR PERFORMANCE, OR THE PARTIES' CONDUCT OR COMMUNICATION WITH ONE ANOTHER, OR AS A RESULT OF THE NATURE OF THESE TERMS AND CONDITIONS, THE WEBSITE AND YOUR USE THEREOF OR IN CONFORMITY WITH USAGE, EQUITY OR LAW OR OTHERWISE.
</p><p>
ThinQ.tv EXPRESSLY DISCLAIMS ANY WARRANTY OR CONDITION OF ANY KIND OF FITNESS FOR A PARTICULAR OR GENERAL PURPOSE, QUALITY, MERCHANTABILITY, WORKMANSHIP, NON-INFRINGEMENT, OR TITLE AND OWNERSHIP. ThinQ.tv DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND ThinQ.tv WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.
</p><p>
  YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
</p><p>
IN NO EVENT SHALL THE AGGREGATE LIABILITY OF ThinQ.tv EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID ThinQ.tv.
</p>

  <h2>Waiver and Severability  </h2>
  <p>
The absence of ThinQ.tv's enforcement of any provision of these Terms is not a waiver of such provision. If any provision of these Terms is determined to be invalid, the remaining provisions of these Terms will remain in effect.
</p>

  <h2>Controlling Law and Jurisdiction  </h2>
<p>
These Terms and any action with regard to the Terms will be governed by the laws of the State of Arizona without regard to any conflict with the laws of your state or country of residence. All legal proceedings arising in connection with the Services will be brought solely in the federal or state courts located in Maricopa County, Arizona, United States.
</p>
<p>
All​ ​Rights​ ​Reserved.​ ​All rights not expressly granted in these Terms and Conditions of Use or express written here are reserved by Company
</p>
<p>
© 2020 RoleModel Enterprises, LLC

</div>
</div>