<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>Password Reset</title>
</head>
<body>
<h1> Reset your password </h1>
  <p>Please go to this link to reset your password, <a href = "<%=@url%>">reset your password</a><br><br>
  Sincerely,<br> crowdpublish.TV</p><br>
<%= image_tag 'maroonLogo.png'%>

</body>
<footer>

</footer>
</html>