.bundle
db/*.sqlite3
log/*.log
tmp/
public/user/
public/uploads/
public/merchandise/
.sass-cache/
config/initializers/aakeys.rb
config/database.yml
config/environments/development.rb
.DS_Store
public/book/
.idea
.ruby-version
coverage/.last_run.json
coverage/.resultset.json
coverage/index.html
