db/*.sqlite3
log/*.log
public/user/
public/uploads/
public/merchandise/
public/book/
coverage/
coverage/index.html
coverage/.resultset.json
coverage/.last_run.json

# Ignore temporary files
Procfile
tmp/
.idea
.ruby-version
.byebug_history
.sass-cache/
.DS_Store
.bundle

# Ignore user configurations
config/application.yml
config/initializers/aakeys.rb
config/database.yml
config/environments/development.rb

# Ignore capistrano files
config/deploy
config/deploy.rb
Capfile
