.bundle
db/*.sqlite3
log/*.log
tmp/
public/user/
#public/assets/
.sass-cache/
config/initializers/aakeys.rb
config/initializers/stripe.rb
config/database.yml
config/environments/development.rb
.DS_Store
