<div class="container-flex" >
<div class="row" >
  <div class="col-xs-12 " style= "background-color: #EdcFFF;" >

    <div class="featured" >
      <b>STORYTELLERS</b><br>
    </div>
    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      Set up your CrowdPublish.TV campaign to offer unique perks to Storylovers who appreciate that you're putting stories out there about characters who are the antithesis to those in pop culture who are famous for being famous. This site walks you through getting set up and helps you develop Perks that only YOU could offer. With CrowdPublish.TV's process, Storylovers will be telling all their friends about your Characters to Respect long before you finish creating the story.<br><br>
    </div>

    <iframe width="630" height="315" src="//www.youtube.com/embed/CJOR0sfaUas" frameborder="0" allowfullscreen></iframe> <br><br>

    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      It's the <%= link_to "Grateful Dead", "http://www.bbc.com/culture/story/20150701-the-grateful-dead-the-band-that-could-save-music", target: "_blank" %> method of selling yourself: Due to big corporate retail and internet sharing, storylovers expect your books and movies to be available for cheap or free. That's OK because your books and movies are the opening to a relationship with new storylovers. Your true fans want to contribute for all the interesting ways you can engage with them. Don't miss out on the opportunity to earn more income by making unique Perks available to storylovers. <br><br>

      With the CrowdPublish.TV process, you also have the option to ask your favorite organizations to hold fundraisers where not only do they earn a percentage of sales, but they CrowdPublicize your stories for you.
      <br><br>

    </div>
  </div>
</div>
</div>
