<div class="container-flex" >
<div class="row" >
  <div class="col-xs-12 " style= "background-color: #EFBFFF;" >

    <div class="featured" >
      <b>ACTORS - FILMMAKERS - AUTHORS</b><br>
    </div>
    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      Set up your CrowdPublish.TV shop to offer unique perks to your most loyal fans. We'll walk you through getting set up and help you develop ideas for perks that only YOU could offer. With CrowdPublish.TV's process, your fans will be telling all their friends about your books or movies long before you're halfway done.<br><br>
    </div>

    <iframe width="630" height="315" src="//www.youtube.com/embed/CvpaUpmlm5w" frameborder="0" allowfullscreen></iframe> <br>

  </div>
</div>
</div>
