<div class="container-flex" >
<div class="row" >
  <div class="col-xs-12 " style= "background-color: #EFBFFF;" >

    <div class="featured" >
      <b>ACTORS - FILMMAKERS - AUTHORS</b><br>
    </div>
    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      Set up your CrowdPublish.TV shop to offer unique perks to your most loyal fans. We'll walk you through getting set up and help you develop perks that only YOU could offer. With CrowdPublish.TV's process, your fans will be telling all their friends about your books or movies long before you're halfway done!<br><br>

      It's the <%= link_to "Grateful Dead", "http://www.bbc.com/culture/story/20150701-the-grateful-dead-the-band-that-could-save-music", target: "_blank" %> method of selling yourself: Due to big corporate retail and internet sharing, customers expect your books and movies to be available for cheap or free. However that's OK because your books and movies are the opening to a relationship with new fans. Your true fans want to contribute for all the fun ways you can engage with them. Don't miss out on the opportunity to earn more income by making unique products and engagement available to your fans. <br><br>

      Get your organizations to hold fundraisers to help you publicize your work.
      <br><br>

    </div>

    <iframe width="630" height="315" src="//www.youtube.com/embed/CvpaUpmlm5w" frameborder="0" allowfullscreen></iframe> <br>

  </div>
</div>
</div>
