<div class="container-flex" >
<div class="row" >
  <div class="col-xs-12 " style= "background-color: #EdcFFF;" >

    <div class="featured">
      <b>MOVIE & BOOK FANS</b><br>
    </div>
    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      Show your favorite actors, filmmakers, and authors that you're their most loyal Fan & they'll reward you with personalized engagement - facebook posts, tweets, livestream chats, access to early drafts, your name in the credits, even naming a character after you. <br><br>
      Got other suggestions for unique Perks? Send your ideas to info@CrowdPublish.TV and we'll put them on our Suggested Perks list. <br><br>
    </div>

    <iframe width="630" height="315" src="//www.youtube.com/embed/YZBrgHysyaE" frameborder="0" allowfullscreen></iframe> <br>

  </div>
</div>
</div>
