<div class="container-flex" >
<div class="row" >
  <div class="col-xs-12 " style= "background-color: #EdcFFF;" >

    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      Set up your ThinQ.tv campaign to offer unique perks to storylovers. <br><br>

      Support stories and get rewarded with sneak preview access and engagement with the stories - facebook posts, tweets, live conversations, your name in the credits, even naming a character after you. <br><br>
    </div>

    <iframe width="630" height="315" src="//www.youtube.com/embed/CJOR0sfaUas" frameborder="0" allowfullscreen></iframe> <br><br>

    <div class="profilebox" style="margin-top:10px; font-size:20px; text-align:left;" >
      It's the Grateful Dead method of selling yourself: Due to big corporate retail and internet sharing, storylovers expect your books and movies to be available for cheap or free. True fans want to contribute for all the interesting ways authors and actors can get them engaged with your stories. <br><br>

    </div>
  </div>
</div>
</div>
