<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Donation Confirmed</title>
  <%= stylesheet_link_tag "mailer" %>
</head>
<body>Your donation has been confirmed,<br><br>
<p>Thank you <%=@user.name%> for donating.<br><br>
  Your donation totals to $<%=@purchase.price_sold%>.<br><br>
  Sincerely, <br><br>
  crowdpublish.TV<br>
  <%= image_tag 'maroonLogo.png'%>
</p>
</body>
<footer>
</footer>
</html>