<!DOCTYPE html>
<html>
<tilte>Welcome</tilte>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>

</head>
<body>
<p> Welcome <%=@username%>, thank you for signing up with crowdpublush.TV. Visit us at <%=@url%></p>
</body>
<footer>

</footer>
</html>