/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.


*/
/* line 6, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 7, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
a:link {
  text-decoration: none;
}

/* line 8, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
a:visited {
  text-decoration: none;
}

/* line 9, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
a:hover {
  text-decoration: none;
  color: blue;
  background-color: transparent;
}

/* line 10, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.alignleft {
  float: left;
}

/* line 13, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.alignright {
  float: right;
}

/* line 18, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.covertitle {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 12.0px;
  line-height: 0.9em;
  color: #880000;
  font-style: italic;
}

/* line 23, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.covername {
  line-height: 0.9em;
  margin: 0.0px 0.0px 0.0px 0.0px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 12.0px;
  color: #2c3651;
}

/* line 27, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.blurb {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 16.0px;
  line-height: 1.0em;
  color: #2c3651;
}

/* line 31, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.fifty {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 12.0px;
  line-height: 0.9em;
  color: #2c3651;
  font-style: italic;
}

/* line 36, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.copyalpha {
  margin: 0.0px 0.0px 0.0px 0.0px;
  text-align: left;
  font-size: 12.0px;
}

/* line 40, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.indexlist {
  font-family: "Tahoma", sans-serif;
  margin: 0.0px 0.0px 0.0px 0.0px;
  text-align: center;
  font-size: 14.0px;
}

/* line 44, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.featured {
  font-family: "Verdana", sans-serif;
  font-weight: 700;
  font-size: 24.0px;
  text-align: center;
  line-height: 1.13em;
  color: #1e1e46;
}

/* line 49, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.helps {
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 21.0px;
  text-align: center;
  line-height: 1.19em;
  color: #1e1e46;
}

/* line 54, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.socialize {
  font-family: "Arial", sans-serif;
  font-size: 19.0px;
  line-height: 1.21em;
  text-align: center;
  color: #1e1e46;
}

/* line 59, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.signupbutton {
  font-family: "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 21.0px;
  line-height: 1.43em;
}

/* line 64, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.signin {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 12.0px;
  color: #2c3651;
}

/* line 70, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/books.css.scss */
.menu {
  text-decoration: none;
  color: #fff;
  font-size: 16.0px;
}
/* line 1, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

/* line 7, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px, 16px;
  line-height: 18px;
}

/* line 13, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 19, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
a {
  text-decoration: none;
}

/* line 24, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 29, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 33, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 39, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 46, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 56, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 8, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.copyalpha {
  margin: 0.0px 0.0px 0.0px 0.0px;
  text-align: left;
  font-size: 12.0px;
}

/* line 12, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.featured {
  font-family: "Verdana", sans-serif;
  font-weight: 700;
  font-size: 16.0px;
  text-align: center;
  line-height: 1.13em;
  color: #1e1e46;
}

/* line 17, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.helps {
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 21.0px;
  text-align: center;
  line-height: 1.19em;
  color: #1e1e46;
}

/* line 22, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.socialize {
  font-family: "Arial", sans-serif;
  font-size: 19.0px;
  line-height: 1.21em;
  text-align: center;
  color: #1e1e46;
}

/* line 27, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.signupbutton {
  font-family: "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 21.0px;
  line-height: 1.43em;
}

/* line 32, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.signin {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 12.0px;
  color: #2c3651;
}

/* line 38, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/static_pages.scss */
.menu {
  text-decoration: none;
  color: #fff;
  font-size: 16.0px;
}
/* line 8, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.covertitle {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 12.0px;
  line-height: 0.9em;
  color: #880000;
  font-style: italic;
}

/* line 13, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.covername {
  line-height: 0.9em;
  margin: 0.0px 0.0px 0.0px 0.0px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 12.0px;
  color: #2c3651;
}

/* line 18, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.copyalpha {
  margin: 0.0px 0.0px 0.0px 0.0px;
  text-align: left;
  font-size: 12.0px;
}

/* line 22, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.indexlist {
  font-family: "Tahoma", sans-serif;
  margin: 0.0px 0.0px 0.0px 0.0px;
  text-align: center;
  font-size: 14.0px;
}

/* line 26, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.featured {
  font-family: "Verdana", sans-serif;
  font-weight: 700;
  font-size: 24.0px;
  text-align: center;
  line-height: 1.13em;
  color: #1e1e46;
}

/* line 31, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.helps {
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 21.0px;
  text-align: center;
  line-height: 1.19em;
  color: #1e1e46;
}

/* line 36, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.socialize {
  font-family: "Arial", sans-serif;
  font-size: 19.0px;
  line-height: 1.21em;
  text-align: center;
  color: #1e1e46;
}

/* line 41, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.signupbutton {
  font-family: "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 21.0px;
  line-height: 1.43em;
}

/* line 46, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.signin {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 12.0px;
  color: #2c3651;
}

/* line 52, /home/lisa/aalisa/biz/crowdpublishtv/app/assets/stylesheets/users.css.scss */
.menu {
  text-decoration: none;
  color: #fff;
  font-size: 16.0px;
}
