<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.TV" content="Where authors and actors earn more money from their loyal fans">
<title>ThinQTV - Crowdfund</title>
</head>

  <div class="helps">
Budget Justified Episode 2 - Email Harassment</div><br>

  <div class="row" style="text-align:left;">
INT. LISA & CHARLIE’S OFFICE<br>
As Lisa works at her desk on her laptop, TIM, goofy, thirty-something engineer, jaded curmudgeon, rushes into Lisa’s office.<br><br>
TIM<br>
Lisa! Did you check your email yet?<br><br>
LISA<br>
Yeah. Thanks for sending that, uh, colorful article.<br><br>
TIM<br>
I am so sorry. There was a cuss word.<br><br>
Lisa’s confused.<br><br>
TIM<br>
I was afraid you’d think it was sexual harassment. They’ll fire us for sexual harassment.<br><br>
LISA<br>
Tim, it was full of quotes from the controllers. I expected there’d be more obscenities.<br><br>
Tim takes a seat in Lisa’s guest chair.<br><br>
TIM<br>
You know the real problem with delays. Poor morale. If New York management treated controllers like they were worth something, controllers might feel like doing their job.<br><br>
LISA<br>
That article didn’t make me feel too sympathetic for them - going to Hooters every night. How did the women controllers feel about that?<br><br>
Tim ignores Lisa’s concern and keeps talking about what he cares about.<br><br>
TIM<br>
The New York controllers sometimes come here for meetings. They’re put up at the Four Seasons, show up in the morning hung over. Got kicked out of the bar more than once for harassing the waitresses.<br><br>
Tim thinks this is hilarious and laughs himself silly.<br><br>
LISA<br>
So, the bars do something when their employees get harassed, but the government does nothing for the controllers.<br><br>
TIM<br>
No, they do. Can’t talk to women. Sexual harassment. Management harasses the controllers, but controllers can’t harass the women. Used to be their entertainment. Management’s taking away all their perks.  <br><br>
Really?<br><br>
LISA<br>
What are the perks of my job?<br><br>
Tim still doesn’t pay attention to Lisa.<br><br>
TIM<br>
Management gets a lot of complaints that controllers are stealing each other's lunches. When someone steals a woman's lunch, it’s sexual harassment. <br><br>
LISA<br>
I left a snack in the refrigerator last night. It was gone this morning. <br><br>
LISA (sarcastic)<br>
I was going to blame it on the janitors. But no. Must have been sexual harassment. <br><br>
<br><br>
  </div>
