ThinQ<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.tv" content="Where authors and actors earn more money from their loyal fans">
<title>ThinQtv - Crowdfund</title>
</head>

  <div class="helps">
Budget Justified Episode 1 - Boss's Affair</div><br>

  <div class="row" style="text-align:left;">
INT. WINDOW<br>
Shot out of a second story window of Federal Agency Headquarters. Looking down, we see BARRY, a fifty-something government engineering manager in a suit, and JANE, a twenty-something professional-looking engineer. They walk toward the entrance of the building. <br><br>
LISA (OS, right behind camera)<br>
Barry and Jane coming to work together? Glad I brought my camera.<br><br>
INT. HALLWAY<br>
The entire screen is covered by rattling blinds as the camera is jolted away from the window. Quick PAN TO CHARLIE, a thirty-something engineer, standing right next to the camera. <br><br>
CHARLIE<br>
Hey Lisa. Whatcha doing with that box?<br><br>
Charlie nods toward the camera.<br><br>
LISA (OS)<br>
Oh. It’s just a software box.<br><br>
Charlie looks toward the window.<br><br>
CHARLIE<br>
I think our boss has a new girlfriend.<br><br>
LISA (OS)<br>
Which boss? <br><br>
CHARLIE <br>
That one.<br><br>
Charlie points out the window at Barry.<br><br>
INT. WINDOW<br>
Barry and Jane out the window, he puts his hand on her back as they enter the building.<br><br>
LISA (OS)<br>
Charlie, that one’s married.<br><br>
INT. LISA & CHARLIE’S OFFICE<br>
Charlie puts down his briefcase and walks into Lisa’s side of their shared office.
LISA, a Tina Fey type, glasses, late thirties, dressed Washington-professional (not Hollywood-“professional”) puts the camera “software box” on a shelf. Charlie motions Lisa over – entice her closer so he can tell her a “secret.”<br><br>
CHARLIE<br>
Why would they come to work together? Barry lives in the Virginia suburbs. Jane lives in Maryland.<br><br>
LISA <br>
Hm. Barry’s wife is in Texas visiting her mom.<br><br>
CHARLIE<br>
No wonder Jane got a promotion. Like I said. A new girlfriend.<br><br>
He slaps Lisa on the butt. Lisa is peeved.<br><br>
INT. LISA & BRIAN’S KITCHEN<br>
BRIAN, a big guy in his late thirties, wearing a dress shirt and tie as though he just got home from work, cuts celery on cutting board at kitchen counter. Knife block, basket of tomatoes, and another cutting board nearby.
Lisa enters, still wearing the white boucle jacket and purple silk pants she had worn to work earlier that day.<br><br>
LISA <br>
Hi Brian.<br><br>
BRIAN <br>
Hi Sweetie. <br><br>
Brian looks toward the camera.<br><br>
BRIAN <br>
Oh, there’s our video camera. I was looking for it earlier. Where was it?<br><br>
LISA <br>
I took it to work. <br><br>
BRIAN <br>
Oh. Why?<br><br>
LISA <br>
There’s a guy at work. Wandering hands. <br><br>
Lisa wiggles hands. <br><br>
Brian looks at the camera, picks up a big knife, looks it over very carefully. A good weapon if he ever needs it. He sighs and puts the knife back down.<br><br>
LISA <br>
I wanted to document what I’m going though. <br><br>
Oh really? Confused look from Brian.<br><br>
LISA <br>
To be able to stand back and take an objective look at what’s happening. Because sometimes I think he’s hilariously goofy. Other times I am pissed. I’m not sure how to feel about it. Or what to do about it.<br><br>
BRIAN <br>
Why don’t you tell somebody?<br><br>
LISA<br>
I’m a subcontractor. I’m not in a position to go around tattling on a federal employee. And if I send an email to my HR, I’m lucky if I get a reply. If I leave a voice mail, I never hear back. So am I supposed to email a complaint about sexual harassment? I don’t even want to think about where that might get forwarded.
<br><br>
  </div>
