<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.TV" content="Where authors and actors earn more money from their loyal fans">
<title>ThinQTV - Crowdfund</title>
</head>

  <div class="helps">
    Lisa's 80s Catholic High School Movie - Poster painting
  </div><br>

  <div class="row" style="text-align:left;">
EXT. BACK COURTYARD<br>
A warm fall afternoon. Kelly, Lisa, Rick, Luke (wearing uniforms) paint posters. Luke gets up and goes over to his backpack.<br><br>
RICK<br>
Do you think we'll have a winning season this year?<br><br>
KELLY<br>
We'll be lucky to have a winning game. <br><br>
Luke picks up a Chick On A Stick hat (like Hot Dog on a Stick) and puts in on. <br><br>
KELLY<br>
That's fashionable. Not.<br><br>
LUKE<br>
I wish I didn't have to work tonight. I hate missing a game. <br><br>
KELLY<br>
So you can watch our boys get humiliated? <br><br>
RICK<br>
Who cares who wins. Nobody goes to watch the game.<br><br>
LUKE<br>
True fact. They go to get drunk under the bleachers. <br><br>
LISA<br>
I go to get away from my parents. <br><br>
LUKE<br>
Looks like we're about done with the poster anyway. <br><br>
LISA<br>
Kelly and I will make sure the posters are hung on the bleachers.<br><br>
LUKE<br>
Have fun. <br><br>
Luke and Rick pick up their backpacks and leave.
Kelly and Lisa pick up the poster and head toward the field.<br><br>

EXT. FOOTBALL FIELD<br>
Kelly and Lisa carry the posters and masking tape to the home bleachers.
Jeff and Dan are sitting with friends on the bleachers. Dan sees them, elbows Jeff, points at Lisa.
Lisa sees them as she and Kelly walk to the bleachers.<br><br>
LISA<br>
We already have some fans.<br><br>
Jeff and Dan bound down the bleachers toward Lisa and Kelly.<br><br>
DAN<br>
Do you need help with those?<br><br>
LISA<br>
Sure. Thanks.<br><br>
Lisa hands Dan one side of a poster. Kelly and Dan take some pieces of masking tape, unroll the poster across the front of the bleachers, and tape it up. Jeff stays by Lisa and tapes their end to the bleachers.<br><br>
JEFF<br>
Are you staying for the game?<br><br>
LISA<br>
Yeah. The JV cheerleaders are going to cheer in the stands. How about you?<br><br>
JEFF<br>
My dad’s doing a school fundraiser before the game, so we’ll be here.<br><br>
They finish putting up the poster.<br><br>
LISA<br>
Thanks.<br><br>
JEFF<br>
No problem.<br><br>
Kelly and Lisa head back toward the school building.
Jeff watches them, pleased with himself.<br><br>

INT. GIRLS RESTROOM<br>
Kelly wears a Dunkin Donuts uniform, combs her hair. Lisa changes into a cheer uniform, does her makeup.<br><br>
KELLY<br>
What are you going to do about dinner?<br><br>
LISA<br>
I guess I'll buy a hot dog at the concession stand.<br><br>
KELLY<br>
Why don't you go home and get dinner.<br><br>
LISA<br>
I can't go home! If my mom sees me there, she'll make me stay home the rest of the night.<br><br>
Kelly is taken aback at Lisa's reaction. She zips up her backpack and slings it over her shoulder.<br><br>
KELLY<br>
Time to make the donuts.<br><br>
LISA<br>
See you Monday.<br><br>
Kelly leaves. Lisa gathers her stuff into her bag.<br><br>
  </div>
