<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.TV" content="Where authors and actors earn more money from their loyal fans">
<title>ThinQTV - Crowdfund</title>
</head>

  <div class="helps">
Lisa's 80s Catholic High School Movie - BBQ</div><br>

  <div class="row" style="text-align:left;">

EXT. COURTYARD<br><br>
Lisa exits the restroom, heads toward her locker and puts her stuff in it. Dan wanders in the distance.
Jeff wanders into the foreground. He sees Lisa, shouts to Dan.<br><br>
JEFF<br>
Found her!<br><br>
Lisa looks surprised, concerned. What are they up to? Jeff runs over to her. Dan comes toward them.<br><br>
JEFF<br>
Lisa! We were afraid you already left.<br><br>
LISA<br>
What’s going on?<br><br>
JEFF<br>
There’s a barbecue over by the baseball field. Come over there with us.<br><br>
LISA<br>
Am I allowed?<br><br>
JEFF<br>
Yeah. My dad’s in charge. He wants you to come eat hamburgers with us.<br><br>
This makes no sense.<br><br>
LISA<br>
He wants me to eat a hamburger?...<br>
Or is he giving me permission to eat one?
JEFF<br>
He's inviting you. As a guest. He wants you to hang out with us.<br><br>
Lisa is pleasantly surprised that an adult is concerned about whether she has dinner.<br><br>
LISA<br>
OK!<br><br>
They run toward the baseball field.<br><br>

EXT. BASEBALL FIELD - DUSK <br>
It's an hour before the game, so the sun is setting. MR. BUFONE barbecues hamburgers on a grill while Dan talks to him nearby. Lisa sits at a table with Jeff. Adults sit at nearby tables. Dan comes over to Lisa.<br><br>
DAN<br>
My dad wants to talk to you.<br><br>
LISA<br>
About what?<br><br>
Dan shrugs. Lisa goes over to Mr. Bufone, cautious, not sure what this is about.<br><br>
MR. BUFONE<br>
Hi Lisa. Nice to meet you. I’m Jeff’s dad. And Dan’s dad too, of course.<br><br>
LISA<br>
Nice to meet you.<br><br>
MR. BUFONE<br>
So. What classes do you have with my boys?<br><br>
LISA<br>
I don’t have any classes with them. <br><br>
Mr. Bufone is a bit puzzled. <br><br>
MR. BUFONE<br>
You’re not a sophomore?<br><br>
LISA<br>
I am. But I'm in the accelerated classes.<br><br>
Mr. Bufone is now surprised. <br><br>
MR. BUFONE<br>
I see... What accelerated classes do you take?<br><br>
LISA<br>
Geometry, English Analysis, Advanced Biology.<br><br>
MR. BUFONE<br>
Do you do well in those classes?<br><br>
LISA<br>
I get straight A’s.<br><br>
Mr. Bufone looks very surprised.<br><br>
EXT. BASEBALL FIELD - DUSK<br><br>
Lisa sits with Dan, Jeff puts a plate with a hamburger by Lisa, then by Dan, then at an empty seat by Lisa and sits down. <br><br>
DAN (to Lisa)
Want a root beer?<br><br>
LISA<br>
Sure. Thanks.<br><br>
Dan looks at Jeff, Jeff nods. Dan gets up and goes toward his dad. Jeff is nervous.<br><br>
JEFF<br>
Um, so, what do you like to do?<br><br>
Lisa thinks a moment.<br><br>
LISA<br>
School dances. I dance to almost every song.<br><br>
JEFF<br>
Even the slow songs?<br><br>
LISA<br>
Sometimes I'll ask whichever boy is nearby to dance. I hate to sit and watch everyone else.<br><br>
Dan comes back with three cans of root beer, hands one each to Jeff and Lisa, sits down.<br><br>
LISA<br>
Thanks.<br><br>
DAN<br>
What about the Christmas Dance? Most of the songs are slow dance and everyone has a date.<br><br>
Under the table, Jeff stomps on Dan's foot.<br><br>
LISA<br>
Christmas Dance is the only one I missed last year.  <br><br>
DAN<br>
Are you going this year?  <br><br>
LISA<br>
Probably not. Unless I ask someone to go with me.<br><br>
Dan pokes Jeff, nods his head toward Lisa. Jeff glares at him to stop it. They get in a slap fight.<br><br>
LISA<br>
Nobody asked me to Homecoming last year either, so I went with Kelly.<br><br>
Dan makes kissy faces at Jeff. Jeff ignores him, keeps his eyes on Lisa.<br><br>
JEFF<br>
Where were you painting those posters we put up this afternoon?<br><br>
LISA<br>
By the home ec room. Or maybe it's the art room. Or both. I don't know. I've never had a class in that room.<br><br>
DAN<br>
You don't take home ec or art?<br><br>
Lisa laughs. Silly boys. Of course not.<br><br>
Mr. Bufone sits down by them with his hamburger.<br><br>
MR. BUFONE<br>
What's your favorite class?<br><br>
LISA<br>
Geometry. I love the proofs. Everyone else hates them because they’re hard. But I like the tough ones.<br><br>
MR. BUFONE<br>
Boys, did you know she gets straight A’s?<br><br>
Jeff and Dan look at each other, look at Lisa, look at the ground.<br><br>
  </div>
