Expectations

This is job experience. Treat this like a job. Therefore:

Stick to a schedule, 10 hours per week
Attend twice a week. If there is a week that you will miss a day, drop in via ThinQ.tv livestream
Push to github four days per week
Do not make pull requests for code that has bugs/is not fully functional and has not been FULLY tested
Do not check your phones or browse for recipes etc. while in SkySong
Pull from master repository first thing before getting into code each day
