Expectations

Stick to a schedule, 10 hours per week
Attend twice a week. If there is a week that you will miss a day, drop in via CrowdPublish.TV livestream
Push to github four days per week
Do not make pull requests for code that has bugs/is not fully functional
Do not check your phones or browse for recipes etc. while in SkySong



