<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @group.name %> 's news & blog</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% if @group.newsurl %>
  <% if @group.newsurl.match /http/ %>
    <div class="blog">
      <iframe frameborder="0" width="800" src= "<%= @group.newsurl %>" height="730"></iframe>
    </div>
  <% elsif @group.twitter %>
    <div class="blog" >
      <a class="twitter-timeline"    
      data-widget-id="375760459510464512"
      data-screen-name="<%= @group.twitter %>" data-show-replies="false"
      data-tweet-limit="5">Tweets by @<%= @group.twitter %> </a>
    </div>
  <% end %>
<% end %>
</div>


