<title>GuruTapas: Where people gather to discuss books -REGISTER AS AN AUTHOR</title>

<body text="#000000" style="background-color:#ffffff; text-align:center; height:1200px;">
<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:850px;height:1200px;">
<div style="position:absolute; left:713px; top:975px; width:103px; height:77px;">
    <img src="http://gurutapas.com/images/transparent.jpg" width="103" height="77" border="0" id="pic_1" name="pic_1" title="" alt=""></div>
<div style="position:absolute; left:9px; top:938px; width:192px; height:25px;">
    <div id="frag_21" style="text-align:left;">
    <!--ONESTAT SCRIPTCODE START-->
    <!--
    // Modification of this code is not allowed and will permanently disable your account!
    // Account ID : 436141
    // Website URL: http://mysite.verizon.net/vze2sdqh/hotcoolengineers/
    // Copyright (C) 2002-2007 OneStat.com All Rights Reserved
    -->
    <div id="OneStatTag"><table border='0' cellpadding='0' cellspacing='0'><tr><td align='center'>
    <script type="text/javascript">
    <!--
    function OneStat_Pageview()
    {
        var d=document;
        var sid="436141";
        var CONTENTSECTION="";
        var osp_URL=d.URL;
        var osp_Title=d.title;
        var t=new Date();
        var p="http"+(d.URL.indexOf('https:')==0?'s':'')+"://stat.onestat.com/stat.aspx?tagver=2&sid="+sid;
        p+="&url="+escape(osp_URL);
        p+="&ti="+escape(osp_Title);
        p+="&section="+escape(CONTENTSECTION);
        p+="&rf="+escape(parent==self?document.referrer:top.document.referrer);
        p+="&tz="+escape(t.getTimezoneOffset());
        p+="&ch="+escape(t.getHours());
        p+="&js=1";
        p+="&ul="+escape(navigator.appName=="Netscape"?navigator.language:navigator.userLanguage);
        if(typeof(screen)=="object"){
           p+="&sr="+screen.width+"x"+screen.height;p+="&cd="+screen.colorDepth;
           p+="&jo="+(navigator.javaEnabled()?"Yes":"No");
        }
        d.write('<a href="http://www.onestatfree.com/aspx/login.aspx?sid='+sid+'" target=_blank><img id="ONESTAT_TAG" border="0" src="'+p+'" alt="This site tracked by OneStatFree.com. Get your own free site tracker."></'+'a>');
    }
    
    OneStat_Pageview();
    //-->
    </script>
    <noscript>
    <a href="http://www.onestatfree.com"><img border="0" src="http://stat.onestat.com/stat.aspx?tagver=2&amp;sid=436141&amp;js=No&amp;" ALT="detect click fraud"></a>
    </noscript>
    </td></tr><tr><td align='center'><div style="COLOR:black;display:none;FONT-FAMILY:'Verdana';"><a href="http://www.onestat.com" style="text-decoration:none;">detect click fraud</a><br></div></td></tr></table></div>
    <!--ONESTAT SCRIPTCODE END-->
    </div></div>

<div style="position:absolute; left:134px; top:0px; width:461px; height:255px;">
    <img src="http://gurutapas.com/images/author.jpg" width="461" height="255" border="0" id="pic_80" name="pic_80" title="" alt=""></div>
<div style="position:absolute; left:586px; top:0px; width:264px; height:241px;">
    <img src="http://gurutapas.com/images/readers.jpg" width="264" height="241" border="0" id="pic_83" name="pic_83" title="" alt=""></div>
<div style="position:absolute; left:0px; top:221px; width:850px; height:36px;">
    <img src="http://gurutapas.com/images/purpleBar.png" width="850" height="36" border="0" id="pic_78" name="pic_78" title="" alt="" onload="OnLoadPngFix()"></div>
<div id="txt_6" style="position:absolute; left:552px; top:273px; width:286px; height:26px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<p class="Body-P0"><span class="Body-C3">This site is still in alpha stage development. </span></p>
</div>
<div style="position:absolute; left:0px; top:0px; width:221px; height:221px;">
    <img src="http://gurutapas.com/images/gurutapas.png" width="221" height="221" border="0" id="pic_77" name="pic_77" title="" alt="" onload="OnLoadPngFix()"></div>

<div id="txt_1" style="position:absolute; left:233px; top:131px; width:481px; height:43px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<span class="Body-D1">Carry a pocket full of books... And AUTHORS</span>
</div>
<div style="position:absolute; left:669px; top:223px; width:32px; height:32px;">
    <map id="map0" name="map0">
        <area shape="poly" coords="32,2,27,0,4,0,0,4,0,32,32,32" href="http://facebook.com/home.php?sk=group_160984513963917" target="_blank" alt="">
    </map>
    <img src="http://gurutapas.com/images/facebk.png" width="32" height="32" border="0" id="pic_75" name="pic_75" title="" alt="" onload="OnLoadPngFix()" usemap="#map0"></div>
<div style="position:absolute; left:710px; top:223px; width:32px; height:32px;">
    <map id="map1" name="map1">
        <area shape="poly" coords="32,29,32,2,29,0,2,0,0,6,0,30,2,32,31,32" href="http://twitter.com/culturefuturist" target="_blank" alt="">
    </map>
    <img src="http://gurutapas.com/images/twitter.png" width="32" height="32" border="0" id="pic_21" name="pic_21" title="" alt="" onload="OnLoadPngFix()" usemap="#map1"></div>
<div style="position:absolute; left:794px; top:223px; width:32px; height:32px;">
    <map id="map2" name="map2">
        <area shape="poly" coords="32,29,32,2,29,0,2,0,0,6,0,30,2,32,31,32" href="http://rolemodelenterprises.com/blog" target="_blank" alt="">
    </map>
    <img src="http://gurutapas.com/images/	wpa35b1175.png" width="32" height="32" border="0" id="pic_39" name="pic_39" title="" alt="" onload="OnLoadPngFix()" usemap="#map2"></div>
<div style="position:absolute; left:752px; top:223px; width:32px; height:31px;">
    <a href="http://www.linkedin.com/company/rolemodel-enterprises/"  target="_blank"><img src="http://gurutapas.com/images/linkedin.png" width="32" height="31" border="0" id="pic_76" name="pic_76" title="" alt="" onload="OnLoadPngFix()"></a></div>

<div id="txt_5" style="position:absolute; left:16px; top:231px; width:655px; height:32px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<p class="Body-P"><span class="Body-C9"><a href="http://gurutapas.com" style="color:#ffffff;text-decoration:none;">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gurutapas.com/howwk.html" style="color:#ffffff;text-decoration:none;" title="What GuruTapas is intended to become">How it works</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gurutapas.heroku.com/calendar" style="color:#ffffff;text-decoration:none;">Event Calendar</a><a href="http://budgetjustified.com" style="color:#ffffff;text-decoration:none;"> </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gurutapas.heroku.com/authors" style="color:#ffffff;text-decoration:none;" title="View the list of authors in the GuruTapas community - or sign up to be a GuruTapas author">Authors</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gurutapas.heroku.com/bookworms" style="color:#ffffff;text-decoration:none;">Bookworms</a></span></p>
</div>
</div>
</body>

  </div>