<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> <% "Support " + @user.name + "'s Projects" %> </title>
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps storytellers increase fan engagement & raise more funds" />
</head>

<% @title="Get Sneak Preview access to " + @user.name + " stories here!" %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content" >
      <div class="container-flex" style="margin-top:-30px; ">
    
  <div class="row " >
    <div class="col-md-6 col-sm-7 col-xs-12" >
      <div class="profilebox" >
        <% if @user.about.present? %> 
          <%= simple_format @user.about.gsub(/\r\n/, '<br>') %> <br><br>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 col-sm-5 col-xs-12 " >
      <% if @user.twitter %>
        <a class="twitter-timeline"    
          data-widget-id="375760459510464512"
          data-screen-name="<%= @user.twitter %>" data-show-replies="false"
          data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      <% end %>
    </div>
  </div>
  
      <br><br>

    </div>
  </div>
</div>
</div>
