<div class="panel panel-primary">
  <div class="panel-heading">Your Upcoming Events</div>
  <div class="panel-body" style="text-align:center">
fdssdf		<% if @events.present? %>
	sdfS		<table class="table">
				<tr>
					<th>Event </th>
					<th>When</th>
					<th></th>
				</tr>
		  	<% @events.sort_by{|t| t.start_at}.each do |event| %>
				<tr style="text-align:center">
					<td><%= link_to event.name, event %></td>
					<td><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p") %></td>
								<%= link_to "Edit", edit_event_path(event) %>
				</tr>
		  	<% end %>
		  	</table>
		<% end %>  
</div>
</div>
		
