<head>
<title> <% "Support " + @user.name + "'s Projects" %> </title>
</head>

<% @title="Get Sneak Preview access to " + @user.name + " stories here!" %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content" >
      <div class="container-flex" style="margin-top:-30px; ">

<% if @user.followers.count > 0 %>
  <% @user.followers.each do |tmpFollower| %>

    <div class="col-md-3 col-sm-4 col-xs-6" >
      <div class="row" style="vertical-align:top; horizontal-align:center; height:250px; width:170px; overflow:hidden;" >
        <% if tmpFollower.profilepic.present? %>
          <%= link_to(image_tag(tmpFollower.profilepic.url.to_s, :height => "170",  :title => tmpFollower.name ),user_profile_path(tmpFollower.permalink)) %>
        <% end %>
      <br><%= link_to tmpFollower.name, user_profile_path(tmpFollower.permalink) %>
      <br><br>
      </div>
    </div>
  <% end %>

<% else  %>
      <div><h1>You Have Zero Followers</h1></div>
<% end %>

    </div>
  </div>
</div>
</div>