
<body >

<%= render 'form' %>

<div id="signup" style="position:absolute; overflow:hidden; 
left:150px; top:330px; z-index:3">

There was an error in saving your information. Make sure to enter your password. <br>

  <%= button_to "Back to Profile", @author, :method=> :get %>

</div>

</body>