<div class="panel panel-primary">
  <div class="panel-heading">Open Discussion Shows</div>
  <div class="panel-body" style="text-align:center">
    <table class="table">
    <tr>
      <th>Date</th>
      <th>Host</th>
      <th>Topic</th>
      <th>Interviewer</th>
      <th>Guest 1</th>
      <th>Guest2</th>
      <th>Submit</th>
    </tr>

    <% require 'date' %>
    <% def date_of_next(day) %>
      <% date = Date.parse(day) %>
      <% delta = date > Date.today ? 0 : 7 %>      
      <% date + delta %>
    <% end %>

    <% Date.today %>
    <% start_at = date_of_next "Tuesday" %>

    <% for i in 0..12 do %>
    <tr style="text-align:center">
          <td class=col-xs-3>
            <% edt = start_at + 1.hours %> 
            <span style="font-size:125%;" id=calendar-time><%= start_at.strftime("%a, %b. %d") %></span>
            <span style="font-size:90%;"id=calendar-time><%= start_at.strftime("%l:%M%P") %> MST</span>
            <span style="font-size:90%;" id=calendar-time><%= edt.strftime("%l:%M%P") %> EST</span>
          </td> 
          <td><% current_user.name %></td>
          <td><%= text_field :topic, :size => 20 %></td>
          <td>d</td>
          <td>f</td>
          <td>g</td>
          <td>h</td>
        
        
    </tr>
    <% end -%>
    </table>
  </div>
</div>

<!-- if interviewer clicked, then topic text box greyed out -->
<!-- if one of guests clicked, topic text box not greyed out -->







