<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="og:url" content="http://ThinQ.TV" />
<meta property="og:image" content="http://ThinQ.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="ThinQTV helps actors, authors increase fan engagement & raise more funds" />
</head>


Your Stripe Account has been linked.

<a href="http://www.ThinQ.TV" target="_blank"> Back to ThinQ.tv</a>
