<div class="row">
  <div class="col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2" style="text-align:left">
<h1>Your purchase history</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Book</th>
    <th>Plan</th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <% if purchase.author_id == current_user.id %>
  <tr>
    <td><%= purchase.author_id %></td>
    <td><%= purchase.book_id %></td>
    <td><%= purchase.plan_id %></td>
    <td><%= link_to 'Details', purchase %></td>
  </tr>
  <% end %>
<% end %>
</table>

  </div>
</div>