<div class="row">
  <div class="col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2" style="text-align:left">

<p id="notice"><%= notice %></p>

<% if @purchase.book_id.present? %>
  <% book = Book.find(@purchase.book_id) %>
  <b><%= book.title %> </b>
  <% user = User.find(book.user_id) %>
  <br>by
<% end %>
<% if @purchase.merchandise_id.present? %>
  <% loot = Merchandise.find(@purchase.merchandise_id) %>
  <b><%= loot.name %> </b>
  <% user = User.find(loot.user_id) %>
  <br>from
<% end %>
  <%= user.name %>

  </div>
</div>