<div class="row">
  <div class="col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2" style="text-align:left">

<p id="notice"><%= notice %></p>
<% if !@itemname.nil? %>
  <b><%= @itemname %> </b>
  <br>by <%= @user.name %>
<% else %>
  <b> Donation </b>
<% end %>
  </div>
</div>