<%= render 'form' %>

<div style="position:absolute; left:350px; top:350px; text-align:left">

<p id="notice"><%= notice %></p>


<p>
  <b>  <% book = Book.find(@purchase.book_id) %>
  <%= book.title %> </b>
  By
  <% user = User.find(book.user_id) %>
  <%= user.name %>
</p>

</div>