footer {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    margin-top: 50px;
    text-align: left;
    background-color:$brand-primary;
    font-family: Helvetica;
    font-size: 12px;

}

#copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}


footer a.f-link{
    color: $brand-gray ; //light grey
    &:hover{
        text-decoration: none;
    }
}

footer p.f-header{
  color: $brand-secondary;
  font-size: 14px;
}

footer div.col-sm-3{
  font-size: 14px;
}

footer small{
  color:$brand-secondary;
}