

#copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}


footer p.f-header{
  color: $brand-secondary;
  font-size: 14px;
}

footer div.col-sm-3{
  font-size: 14px;
}

footer small{
  color:$brand-secondary;
}
