/* This file defines sitewide styles. Place page-specific styles in their own stylesheet. */


// Not really sure what this is for.
html {
    width: 100%;
    overflow-y: scroll;
}

//Wrapper for footer alignment
body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
  overscroll-behavior: none !important;
}
//Wrapper for footer alignment
main {
    flex: 1 !important;
}



//Styles text-heavy pages like FAQ and ToS. Needs to be moved to their specific CSS because it interferes with navigation styling. 
/*li {
  margin-bottom: 10px;  
}
*/

//Prevents textareas from being resized out of their columns
textarea {
  resize: vertical;
}

//Gives a drop shadow to make text readable when we put it over an image
$overlaid-text: 0 0 4px rgba(0,0,0,.8) !important;

//Old styles. Not sure what they're used for.

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}
