.navbar-btn {
    margin-right: 15px;
}
.navbar-brand {
    padding: 4px;
    padding-left: 15px;
}

@media (max-width: 768px) {
	.navbar .navbar-nav .navbar-btn{
		float: none;
		vertical-align: top;
	}
	
	.navbar-btn {
		float: center;
		text-align: center;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

//adds 50px padding to the top of every page so that the navbar is properly positioned
#absoluteWrapper{
  padding-top: 50px;
}
// header formatting
#navbarLogo{
	&:hover{
		transform:scale(1.15) rotate(-12deg);
	}
}



// footer formatting
