// fixes somes spacing issues with buttons

.navbar-btn {
  // bottom padding
  margin-right: 25px;

  .landing-sign-up-btn {
    width: 100px;
  }

  .landing-sign-in-btn {
    width: 100px;
  }
  // signup colors

  .btn-primary {
    color: $brand-gray;
    background-color: $brand-primary;;
    border-color:#771936;
    font: "Helvetica"
  }
  // signin colors

  .btn-default {
    color: $brand-secondary;
    background-color: $brand-primary;
    border-color: $brand-secondary;
    font: "Helvetica"
  }
}
//logo padding and size
.navbar-brand {
  padding: 4px 4px 4px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: $brand-gray;
  font-family: "Helvetica";

}
//is this used anywhere
#absoluteWrapper {
  padding-top: 30px;
}
//when hovering over logo make it slightly bigger
#navbarLogo {
  &:hover {
    transform: scale(1.15) rotate(-12deg);
  }
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
  z-index : 1;
  background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
  visibility: hidden;
	opacity: 0;
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
	margin: 75px auto;
  padding: 20px;
  z-index : 2;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
  h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    z-index : 3;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
}
/*
when this block was deleted - it did not change anything

@media (max-width: 768px) {
	.navbar .navbar-nav .navbar-btn{
		float: none;
		vertical-align: top;
	}

	.navbar-btn {
		float: center;
		text-align: center;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}
*/
