/*
This file overrides values defined in default Bootstrap. Only changed variables are included; the unchanged list can be found at https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss or in variablesREFERENCE.scss, though this will deprecate if Bootstrap is upgraded.
*/

//== Colors

$brand-primary:         #8C1D40; //ASU Maroon
$brand-secondary:       #FFB704; //ASU Gold
$brand-gray:            #DADADA; // light grey
$brand-white:           #F0F0F0;
$brand-black:           #222222;

//== Scaffolding
$link-hover-decoration: underline !default;


//== Typography
//## Font, line-height, and color for body text, headings, and more.

@import url("https://use.typekit.net/fxy5ytx.css");

$font-family-sans-serif:  "neuzerit-grotesk", Avenir, Helvetica, Arial, sans-serif;


//== Style
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

//== Navbar
//
//##

$navbar-margin-bottom: 0px !default;
