@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');

ul {
  list-style-type: circle;
}

ul {
    list-style-type: none;
    padding-left: 0px;

    .inner {
        margin-left: 35px;
        margin-right: 35px;
        /*padding-left: 1em;*/
        overflow: hidden;
        display: none;

        &.show {
          /*display: block;*/
        }
    } 
}

ul li a.toggle {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    background-color: #e0d2c3;
    text-decoration: none;
    box-shadow: 1px 1px #880f42;
    border: 1px solid #880f42;
    background: none;
    padding: 10px 10px;
    font-size: 12pt;
    cursor: pointer;
    color: #880f42;
    padding: 0.75em;
    border-radius: 0.15em;
    transition: color 1s ease;
    list-style: none;
   }

ul li a.toggle:before {
       top: 0;
       border-radius: 0 0 0 0;
       content: "";
       position: absolute;
       left: 0;
       width: 100%;
       height: 0%;
       background: #880f42;
       z-index: -1;
       transition: 1s;
   }

ul li a.toggle:hover::before{
   height: 100%;
}

ul li a.toggle:hover {
    background-size: 100%;
    color: #fff;
    transition: color 1s ease;
   /*background: rgba(0, 0, 0, 0.9);*/  
}

a {
    text-decoration: none !important;
}

.toggle:after {
  content: '\▾';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}