.box
{
    position: relative;
}

.bottom-left 
{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.img-squares 
{
height: 350px;
min-width: auto;
width:100%;
}

.background-web
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; height: 400px;
}

.background-team //this isn't used anywhere
{
  background-image: url(team.jpg);
}
.background-drspeech //this isn't used anywhere
{
  background-image: url(audience.jpg);
}

.text-white
{
  color:white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E0E0E0;
}

.container-hover {
  position: relative;
  width: 50%;
}

.container-hover:hover .overlay {
  opacity: 1;
}

.speaking { 
  margin: 20px auto;
  max-width: 1500px;
  position: relative;
  display: flex; 
  flex-direction: row; 
  } 
          
.speaking:before, 
.speaking:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid #ecd7c6; 
    margin: auto; 
  }

  .team .container{
    min-width:auto;
    max-width: 1400px;
    height: auto;
    padding: 10px;
}
