
.jumbotron p{
  line-height: 1.3em;  
  padding-bottom: 200px; 
  padding-left: 200px; 
  padding-right: 200px;
}

.paragraph1 {
  
  font-size: 18px; 
  padding-top: 2px; 
  line-height: 1.0em;
}

.paragraph2 {
  
  font-size:19px;  
  line-height: 2.0em;
  padding-top: 2px;

}

.button1{
  background-color: #8C1D40; 
  border-radius: 4px; 
  padding-top: 4px
}
.cardHolder {
  width: 100%;
  max-width: 400px;
  height: 400px;
  perspective: 1000px;
}
.cardFlip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardHolder:hover .cardFlip {
  transform: rotateY(180deg); 
}
/* Position the front and back side */
.frontSide{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem; 
  text-align: center;
  background-color: #8C1D40;
  color: #fff;
  height: 444px;
}
.backSide {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #F2EBE4;
  color: #fff;
  transform: rotateY(180deg); 
}


.frontSide img {
  width: 100%;
  height:325px;
  border-radius: 0.5rem; 
}
.backSide p {
  color:#333;
  margin: 1rem;
  font-size: 18px;
  line-height: 1.5em;
}