.box
{
    position: relative;
}

.bottom-left 
{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.img-squares 
{
height: 350px;
min-width: auto;
width:100%;
}

.background-web
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; height: 400px;
}

.background-team //this isn't used anywhere
{
  background-image: url(team.jpg);
}
.background-drspeech //this isn't used anywhere
{
  background-image: url(audience.jpg);
}

.team .container{
    min-width:auto;
    max-width: 1400px;
    height: auto;
    padding: 10px;
}
