.location{
  position:relative;
  width: 100%;
  padding: 0px;
}
.location-icon, .location-icon1, .location-icon2 {
  position: relative;
  width: 100%;
  background: #ecd7c6;
  height: 444px;
  z-index: 99;
  border-radius: 10px;
  transform: translateY(50px);
  transition:1s;
}
.location-icon > img {
  height:325px; 
}
.location-icon1 > img {
  height:325px;
}
.location-icon2 > img {
  height:325px;
}
.location-content, .location-content1, .location-content2{
     position:absolute;
     bottom:0;
     left:0;
     width:100%;
     padding:28px 25px;
     border-radius:10px;
     background:#ecd7c6;
     z-index: 1;
     transform:translateY(20%);
     transition:1s;
  }
.location-content > p{
   color:black;
   font-size:18px;
   padding:0px 0px 10px 0px;
   padding-top: 65px;
   margin:0px;
   }
.location-content1 > p{
   background-position: relative;
   color:black;
   font-size:18px;
   padding:0px 0px 10px 0px;
   padding-top: 65px;
   margin:0px;
   }
.location-content2 > p{
   color:black;
   font-size:18px;
   padding:0px 0px 10px 0px;
   padding-top: 65px;
   margin:0px;
   }
.arrow, .arrow1, .arrow2 {
   position:absolute;
   bottom:10px;
   left:50%;
   transform:translateX(-50%);
   width:40px;
   height: 0.5px;
   z-index:333;
   cursor:pointer;
  }
.arrow > i{
   font-size:30px;
   color:black;
   cursor:pointer;
   transition:0.5s;
  }
.arrow1 > i{
   font-size:30px;
   color:black;
   cursor:pointer;
   transition:0.5s;
  }
.arrow2 > i{
   font-size:30px;
   color:black;
   cursor:pointer;  
   transition:0.5s;
  }
.current.location-icon{
    transform:translateY(-5%);
   }
.current.location-icon1{
    transform:translateY(-5%);
   }
.current.location-icon2{
    transform:translateY(-5%);
   }
.current{
   transform:translateY(80%);
  }
.rotate, .rotate1, .rotate2 {
   transform:rotate(180deg);
   transform-origin:center center;
  }
.fa-border-icon {
    border-width: 3px;
    border-style: solid;
    border-color: orange;
    border-image: initial;
    border-radius: 50% 50% 50% 50%; 
    padding: 6% 9% 6% 9%; 
}