#homeWrapper {
    text-align: center;
    //Prevents space between header and heroImage on Firefox.
    margin-top: -20px;
}
p {
    text-align: left;
}
#heroImage {
    background-image: image-url('heroImage.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    padding-top: 200px;
    padding-bottom: 200px;
}
#heroTitle, #heroImage small {
    color: white;
		text-shadow: $overlaid-text;
}
#haveAccount {
    color: white;
		font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
		text-shadow: $overlaid-text;
}
#haveAccount a {
    color: $brand-secondary;
}

#scroll h1{
    color: white;
    padding-top: 75px;
    position: absolute;
    top: 75vh;
    left: 50%;
    width: 24px;
    height: 24px;
    -webkit-animation: scroll-graphic 1.5s infinite;
    animation: scroll-graphic 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes scroll-graphic {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 20px);
    opacity: 0;
  }
}
@keyframes scroll-graphic {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 20px);
    opacity: 0;
  }
}
.darkBlock {
    background-color: $gray-lighter;
}
#faqBlock, .lightBlock, .darkBlock {
    padding: 30px 20px;
}
#faqBlock {
    padding-top: 70px;
    padding-bottom: 70px;
}
#connectFans {
    min-height: 310px;
}
#lightBlock, #darkBlock {
    padding-top: 80px;
}