#homeWrapper {
    text-align: center;
    //Prevents space between header and heroImage on Firefox.
    margin-top: -20px;
}
p {
    text-align: left;
}
#heroImage {
    background-image: image-url('heroImage.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    padding-top: 200px;
    padding-bottom: 200px;
}
#heroTitle, #heroImage small {
    color: white;
		text-shadow: $overlaid-text;
}
#haveAccount {
    color: white;
		font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
		text-shadow: $overlaid-text;
}
#haveAccount a {
    color: $brand-secondary;
    
}
.darkBlock {
    background-color: $gray-lighter;
}

#faqBlock, .lightBlock, .darkBlock {
    padding: 30px 20px;
}
#faqBlock {
    padding-top: 70px;
    padding-bottom: 70px;
}
#connectFans {
    min-height: 310px;
}
#lightBlock, #darkBlock {
    padding-top: 80px;
}

//Style for event table 
table {
    width: 100%;
    table-layout: fixed;
}
th {
    text-align: center;
}
td {
    white-space: normal !important;
    word-wrap: break-word;
}