@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet');

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    padding-top: 0px;   
}


#buttonTitle {
    padding-top: 30px;
}
#home {
    background-color: #8C1D40;
    text-align: center;
    z-index: 0;
    font-weight: bolder;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#countdown_clock h2 {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 40px;
    color: #8C1D40;
    font-family: Oswald, sans-serif;
}
#countdown_clock {
    text-align: center;
}
#purpose {
    margin-right: 130px;
}

#rewards, #connect {
    clear: both;
    padding: 0px 80px;
}
#rewards h2, #connect h2 {
    font-size: 30px;
    background-color: #8C1D40;
    color: white;
    padding: 15px;
}
#rewards p, #connect p {
    font-size: 20px;
    text-align: left;
}

#clockdiv{
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
#clockdiv > div{
    background: #8C1D40;
    border-radius: 10px;
    display: inline-block;
    height: 80px;
    width: 70px;
}
#clockdiv div > span{
    display: inline-block;
    padding-top: 0px;
}
#clockdivstudy{
    color: #fff;
    display: inline-block;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
#clockdivstudy > div{
    background: #8C1D40;
    border-radius: 10px;
    display: inline-block;
    height: 80px;
    width: 70px;
}
#clockdivstudy div > span{
    display: inline-block;
    padding-top: 0px;
}

#nextEventdiv, #eventCurrentdiv{
    padding: 15px;
}
#nextEventdiv h3, #eventCurrentdiv h3{
    display: inline;
}
#nextEventdiv p, #eventCurrentdiv p{
    display: inline;
    font-size: 20px;
}
#calendar {
    padding-left: 5vw;
}
/* line 124, app/assets/stylesheets/styles/_home.scss */

@media only screen and (max-width: 800px){
   
    .topic_link {
        font-size: 20px;
    }
    #buttonTitle {
        padding-top: 5px;
    }
    #purpose {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 500px){

    #calendar {
        padding-left: 20px;
        padding-right: 0px;
    }
    .topic_link {
        font-size: 15px;
    }
    #buttonTitle {
        padding-top: 2px;
    }
    #rewards, #connect {
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-md-4 {
        padding-left: 50px;
    }
    .col-md-5 h3 {
        padding-left: 80px;
    }
    .col-md-5 p {
        padding-left: 40px;
        padding-right: 10px;
    }
    .col-md-8 {
        padding-left: 40px;
    }
    .enter_email {
        width: 120px;
    }
}

  @media only screen and (max-width: 570px) {
    .row {
      padding-left: 20px;
      padding-right: 20px;
    }
    .livestreamInfo {
      border: 3px solid #8C1D40;
      margin-left: 20px;
      padding: 5px;
    }
    .livestreamInfo h3 {
      color:#8C1D40;
      float:left;
      font-size: 25px;
    }
    .livestreamInfo h4 {
      padding-left: 10px;
      clear:left;
    }
    .col-md-4 {
      padding: 5px 20px;
    }
}

