//This stylesheet is for the Create Perk form.

#suggestedPerks {
    margin-top: 20px;
}

#perkSubmit {
    margin-top: 40px;
}
#eventSubmit {  
    margin-top: 40px;   
}
#stripeAlertText {
    line-height: 33px;
}

#priceField {
    width: 30%;
}
@media only screen and (max-width: 992px) {
    #suggestedPerks {
        position: inherit;
        clear: both;
        float: left;
    }
    #priceField {
        width: 60%;
    }
}