/* This stylesheet is for panels found in views/layouts and for users/controlpanel */

/* _maincalendar */

#calendar td {
  text-align: left;
  border: none;
  border-bottom: 1px solid #dfdada;
  height: 0px;
  font-size: 14px;
  vertical-align: middle !important;
}

#shows-button-panel{
  padding-top: 25px;
}

#calendar-event {
  display: block;
  font-size: 1em;
  font-weight: 600;
}

#calendar-host {
  display: block;
  font-size: 1.50rem;
}

#calendar-time {
  display: block;
  font-size: 1.25rem;
  text-align: center;
}

#social-button {
  display: inline-block;
  padding: 4px;
}
#social-button-in {
  display: inline-block;
  padding-left: 4px;
}

/* CSS for users/controlpanel */
#streamDirections{
  float: right;
  bottom: 60%;
}

#controlpanel-events {
    margin-top: 60px;
    right: 15.5%;
}

/*    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
    }*/

     th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 12px;
      padding: 6px;
      border: 1px solid #999;
      background: #8C1D40;
      text-align: center;
      width: 14.2857142857143%;
    }

     td{
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
      background: #FFF;
      color: #020202;
      height: 150px;

      vertical-align: top;
      font-size: 16px;
      overflow: hidden;
    }

  .notmonth { color: #CCC; }
  .today { background-color: #D7F2FF; }

  #events .caler {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
  }

  #events #month {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    display: inline-block;
    color: black;
    width: 380px;
  }

.tabContainer{
  width: 100%;
  height: auto;
  text-align: center

}
.tabContainer2{
  width: 100%;
  height: auto;
}

.tabContainer .buttonContainer {
  height: 15%;
  /*text-align: center;*/
  padding-left: 70px;
  text-align: center;
  border-color: #FFC627;
  border-width: 1px;
}

.tabContainer2 .buttonContainer {
  height: 15%;
  /*text-align: center;*/
  padding-left: 70px;
}

.tabContainer .buttonContainer button{
  width: 200px;
  float: center;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #8C1D40;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
}

.tabContainer2 .buttonContainer button{
  width: 200px;
  height: 100%;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #8C1D40;
  color: white;
  border-radius: 8px;
  margin-top: 5px;
}

.tabContainer .buttonContainer button:hover{
  background-color: #d7d4d4;
  color: black;
}

.tabContainer .tabPanel{
  height: auto;
  background-color: gray;
  color: white;
  /*text-align: center;*/
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  box-sizing: border-box;
  font-family: sans-serif;
  /*font-size: 22px;*/
  display: none;
}

 #calendar-time {
  display: block;
  font-size: 1.25rem;
  text-align: center;
}

.expand{
  background: none;
  padding: 0;
  border: none;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
