/* This stylesheet is for panels found in views/layouts */

/* _maincalendar */
#calendar td {
  text-align: left;
  vertical-align: middle !important;
}
#calendar-event {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}
#calendar-host {
  display: block;
  font-size: 1.25rem;
}
#calendar-time {
  display: block;
  font-size: 1.25rem;
  text-align: center;
}
#calendar-create  { 
}
#share {    
}
//Padding between Social media buttons
#social-button {
    padding-bottom: 10px;
}
.fb-like {
    padding-top: 3px;
    padding-bottom: 6px;
    }