/* This stylesheet is for panels found in views/layouts and for users/controlpanel */

/* _maincalendar */
#dashboardTabs{
  padding-top: 50px;
}

#calendar td {
  text-align: left;
  vertical-align: middle !important;
}

#shows-button-panel{
  padding-top: 25px;
}

#calendar-event {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.tooltip-inner {
    font-size: 14px;
  }

#calendar-host {
  display: block;
  font-size: 1.50rem;
}

#calendar-time {
  display: block;
  font-size: 1.25rem;
  text-align: center;
}

/* Padding between Social media buttons */ 
#social-button {  
    padding-bottom: 10px; 
} 

.fb-like {  
    padding-top: 3px; 
    padding-bottom: 6px;  
}

/* CSS for users/controlpanel */
#streamDirections{
  float: right;
  bottom: 60%;
}

#controlpanel-events {
    margin-top: 60px;
    right: 15.5%;
}