hr {
    border-top: 4px dotted #872948;
    padding-top: 10px;
}
.event-name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.fb-share-button {
    padding-top: 25px;
    padding-bottom: 5px;
}

.email-events {
    padding-top: 20px;
}
.rsvp-users {
    float: right;
}
#discussionRSVPs {
    margin-left: 65%;
}