.event-name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.email-events {
    padding: 5px;
}

.pop {
	display: none;
	width: 75px;
	background-color: #0077b5;
	text-align: center;
	position: relative;
	margin-top: 10px;
	
}

.pop:after{
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #3B5998 transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	
}
    
.showButton{
	color: #fff;
	background-color: #8C1D40;
	border: #8C1D40;
	padding: 2px 28px;
}	  


.title{
}

.title .text{
	color: #fff;
	position:absolute;
	font-size: 40px;
	text-align:center;
	width: 100%;
	z-index:999;
	left:0;
	right: 0;
	top: 10%;
}

.rsvp-users {
    float: right;
}
#discussionRSVPs {
    margin-left: 65%;
}

.rsvp-dropdown{
	min-width: 260px;
	font-size: 18px;
	height: auto;
    max-height: 400px;
    overflow-x: hidden;
	padding: 0;

	.dropdown-item{
		padding: 8px 15px;

		&:hover{
			background-color: #f1f2f6;
		}
	}
}