.donation-title {
  text-align: center;
  font-weight: 600;
}

.new-purchase-modal-wrapper {
  font-size: 18px;
  margin: 0 auto;
  max-width: 450px;
  padding-top: 80px;

  .modal-content {
    border-radius: 10px;
    border-color: #fff;
  }

  .modal-footer {
    text-align: center;
  }
}

.new-purchase-modal {
  margin: 0 auto;
  max-width: 350px;

  .form-control {
    height: 40px;
    font-size: 18px;
  }

  .form-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .purchase-modal-btn {
    padding: 10px;
    width: 150px;
    height: 35px;
  }
}