//This stylesheet for userpgtemplate.html.erb includes _merchsidebar.html.erb partial and _authorform.html.erb partial

//Page header
#profileBanner {
    height: 300px;
    margin-bottom: 45px;
}
#profileBanner img {
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
}
#profileHeader {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 230px;
}
#profileImage {
    border: 6px solid white;
    height: 150px;
    width: 150px;
    //centers and crops images
    object-fit: cover;
    margin-left: -10px;
}
#profileTitle {
    vertical-align: middle;
    display: inline-block;
}
#profileName {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    color: $brand-secondary;
    font-weight: 600;
    text-shadow: 0 0 4px rgba(0,0,0,.8)
}
#profileDescription {
    color: $brand-secondary;
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(0,0,0,.8)
}

@media (min-width: $screen-xs-min) {
    #profileHeader {
        text-align: left;
    }
    #profileImage {
        margin-left: 0;
    }
    #profileTitle {
        margin-left: 20px;
    }
    #profileDescription {
        padding-left: 3px;
    }
}

//Connect to Stripe alert
#stripeAlert {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

//Merch Sidebar styling
#merchImage {
    max-width: 100%;
}
#merchDescription {
    max-width: 100%;
}

//Merch Sidebar style
#merchSidebar {
    max-height: 700px;
    overflow-y: scroll;
}

//Edit Profile style
#cancelProfileButton {
    display: block;
    width: 20%;
    font-size: .8em;
    padding: 14.5px 16px
}
#saveProfileButton {
    display: block;
    width: 80%;
}
#editProfileButton {
    display: block;
    width: 100%;
}
#joinStream {
    text-align: center;
}