//This stylesheet for userpgtemplate.html.erb includes _merchsidebar.html.erb partial and _authorform.html.erb partial

//Page header "authorform"
.row.no-gutter {
	margin-right:0;
	margin-left:0;
}
.row.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}
#profileImage img {
	//centers and crops images
	object-fit: cover;
	max-height: 300px;
}
#profileBanner {
    max-height: 300px;
}
#profileName {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    color: $brand-secondary;
    font-weight: 600;
    text-shadow: 0 0 4px rgba(0,0,0,.8)
}
#profileDescription {
    color: $brand-secondary;
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(0,0,0,.8)
}

//Merch Sidebar styling
#merchImage {
    max-width: 100%;
}
#merchDescription {
    max-width: 100%;
}

//Merch Sidebar style
#merchSidebar {
    max-height: 700px;
    overflow-y: scroll;
}

//Edit Profile style
#cancelProfileButton {
    display: block;
    width: 20%;
    font-size: .8em;
    padding: 14.5px 16px
}
#saveProfileButton {
    display: block;
    width: 80%;
}
#editProfileButton {
    display: block;
    width: 100%;
}