//This stylesheet for userpgtemplate.html.erb includes _merchsidebar.html.erb partial and _authorform.html.erb partial

//Page header "authorform"

#profileHeader {
	padding: 0;
	margin: 0;
	line-height: 0;
	overflow: hidden;
	width: auto;
}
#profileHeader img {
	vertical-align: bottom;
}
#profileUserImage {
	width: 25vw;
	height: 40vh;
	object-fit: cover;
}
#profileBannerImage {
	width: 75vw;
	height: 40vh;
	object-fit: cover;
}
#profileName {
    text-transform: capitalize;
    color: $brand-secondary;
    font-weight: 600;
    text-shadow: 0 0 4px rgba(0,0,0,.8)
}
#profileDescription {
    color: $brand-secondary;
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(0,0,0,.8)
}

//Merch Sidebar styling
#merchImage {
    max-width: 100%;
}
#merchDescription {
    max-width: 100%;
}

//Merch Sidebar style
#merchSidebar {
    max-height: 700px;
    overflow-y: scroll;
}

//Edit Profile style
#cancelProfileButton {
    display: block;
    width: 20%;
    font-size: .8em;
    padding: 14.5px 16px;
}
#saveProfileButton {
    display: block;
    width: 80%;
}
#editProfileButton {
    display: block;
    width: 100%;
}

//dashboardBox
#dashboardTabs {
	font-weight: 800;
	background-color: $brand-secondary;
	height: 100vh;
	padding-right: 0;
}