<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Donation Confirmed</title>
  <style> 
    body {border: 5px solid #000000; padding:2%;}  
    div.one{margin: 10px auto 10px auto; text-align: left; border: 5px solid #000000; width : 40%;padding: 50px;}
    div.img{margin: 10% auto 10% auto;padding: 5%; }
  </style> 
</head>
<body>
  <div class = "one"> 
    <p> 
    <%=@seller.name %>,<br><br>
    There has been a donation
    The donation totals to $<%=@purchase.pricesold%>.<br><br>
    Sincerely, <br>
    thinq.tv<br><br>
    Visit us at again at <a href= '<%=@home_url%>'>crowdpublish.TV</a><br><br>
    <%= img = image_tag 'maroonLogo.png', size: "200x200"%>
    </p>
  </div>
</body>
<footer>
</footer>
</html>
