<h3>Current Projects To Support</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th>Mission</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @support.each do |project| %>
      <tr>
        <td><%= project[:name] %></td>
        <td><%= project[:creator] %></td>
        <td><%= project[:mission] %></td>
        <td><%= link_to 'Support', project %></td> <% "Run code to send email to author asking permission to post. Add record to Agreements with project_id and group_id=group that curruser owns" %>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
