<html>
  <body>
    <div class="one">
      <h1>Rsvp Created</h1>
      <p>Thank you <%= @user.name %> for creating an rsvp.</p>
      <p>Your Rsvp for this event: <%= link_to "Event", @url %></p>
    </div>
  <body>
  <style> 
    body {border: 5px solid #000000; padding:2%;}  
    div.one{margin: 10px auto 10px auto; text-align: left; border: 5px solid #000000; width : 40%;padding: 50px;}
    div.img{margin: 10% auto 10% auto;padding: 5%; }
  </style> 
</html>
