.cal-nav-action {
  a {
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.event-calendar-pill {
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  background-color: #8C1D40;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.14), 0 6px 8px rgba(0,0,0,0.24);
  }
}

