<h1>Listing agreements</h1>

<table>
  <thead>
    <tr>
      <th>Storyteller</th>
      <th>Organization</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.user_id %></td>
        <td><%= agreement.group_id %></td>
        <td><%= link_to 'Show', agreement %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
