ul {
  list-style-type: circle;
  margin-left: 20px;
}
#content-container {
    width: 640px; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;

}
#content-container p {
    width: 640px; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
p {
  margin-left: 20px;
}

.h3 {
  width: 640px; 
    height: auto;
    margin: 0 auto;
    padding: 10px;

    position: relative;

}



li {
  margin-left: 10px;
}
/*  #880F42 maroon 
    #1CA29B blue FAQ menu
*/
@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');

* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size:1.1em;
}

$color_1: #fff;
$color_2: red;

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    

.form-style-1 {
    li {
        padding: 0;
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
    }
    label {
        margin: 0 0 3px 0;
        padding: 0px;
        display: block;
        font-weight: bold;
    }
    input[type=text] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #BEBEBE;
        padding: 7px;
        margin: 0px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        &:focus {
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }
    }
    input[type=email] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #BEBEBE;
        padding: 7px;
        margin: 0px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        &:focus {
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }
    }
    textarea {
        &:focus {
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }
    }
    select {
        &:focus {
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }
    }
    .field-divided {
        width: 49.5%;
    }
    .field-long {
        width: 100%;
    }
    .field-select {
        width: 100%;
    }
    .field-textarea {
        height: 100px;
    }

    input[type=submit] {
        background: #880f42; /* pinkish maroon*/
        padding: 8px 15px 8px 15px;
        border: none;
        color: $color_1;
        &:hover {
            background: #5a0a2c; /* darker pinkish maroon */
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    
    .required {
        color: $color_2;
    }
    textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    }   
    select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    }
}



body {
    width: 90%;
    text-align: left;
    min-width: auto;
    max-width: auto;
    margin: 1.5em ;
    color: #333;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 2.5em;
}
/*#content-container {
    width: 640px; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}*/
a ul {
	list-style-type: circle;
}

ul {
    list-style-type: none;
    padding: 0;
  
    .inner {
        margin-left: 35px;
        margin-right: 35px;
        padding-left: 1em;
        overflow: hidden;
        display: none;
      
        &.show {
          /*display: block;*/
        }
    }
  
    li {
        margin: .5em 0;
      
       a.toggle  {
            width: 80%;
            /*float: left;*/
            margin: auto;
            display: block;
            margin-bottom: 10px;
            background-color: #880f42;
            text-decoration: none;
            /*background: rgba(0,0,0,0.78);*/
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background-color: #5a0a2c;
                /*background: rgba(0, 0, 0, 0.9);*/
            }
        }
    }
}

a {
    text-decoration: none !important;
}
#submission {
  text-align: center;
  }