@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  width: 100%;
  overflow-y: scroll;
}
/*
body {
  padding-top: 0px;
}
*/
.body-color {
  background-color: #f2f2f2;
}

.carousel-caption {
  width: 100vw;
  margin-top: 0px;
  margin-left: 150px;
  font-size:70px;
  text-align:center;
}
.dot {
  height: 30px;
  width: 35px;
  background-color: #aaa;
  border-radius: 50%;
  display: inline-block;
}
.hometop {
  display: flex; /* equal height of the children */
}
.homeheight {
  flex: 1; /* additionally, equal width */
  padding: 1em;
}
.readerhomeimage {
  background-image: image-url('crowdblur.png');
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.authorhomeimage {
  background-color: #6f6580;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.headerimage {
  text-align:center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.supportgroupimage {
  background-image: image-url('camelbackhouse.png');
  padding-top: 0px;
  padding-bottom: 0px;
}
.hsmovieimage {
  background-image: image-url('paintingPoster.png');
  padding-top: 0px;
  padding-bottom: 0px;
}
.groupimage {
   position: relative;
   width: 100%; /* for IE 6 */
}

grouptext {
   position: absolute;
   bottom: 45px;
   left: 60px;
   color: #fff;
   text-shadow: 1px 1px #000;
   a:link { color : #75b;}
   a:visited { color : #75b;}
   a:hover { text-decoration: none; color : #e6f; text-shadow: 1px 1px #000;}
}
projecttext {
   vertical-align: top;
   position: absolute;
   text-align: left;
   top: 0px;
   left: 10px;
   color: #fff;
   text-shadow: 1px 1px #000000;
   a:link { color : #dbf;}
   a:visited { color : #dbf;}
   a:hover { text-decoration: none; color : #61e; text-shadow: 1px 1px #fff;}
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
}

carousel-inner>.item {
    position: relative;
    max-height: 200px;
}
.carousel-caption {
    position: absolute;
    top: 7%;
    transform: translateY(-7%);
    left: 23%;
    transform: translateX(-23%);
    width: 340px;
}

.navbar-default {
    border-color: #black;
}

.navbar-userpage {
    color:#black;
    background-color: white;
    border-bottom: solid;
    border-width: 3px;
    border-color: #e5e5e5;
    padding-right: 10px;
}

.navbar-grouppage {
    color: #863276;
    background-color: white;
    border-color: #black;
    border-radius:0;
    padding-right: 0px;
}

.navbar-custom {
    color: #eFdFFF;
    border-radius:0;
}
.navbar .navbar-custom > li > a:hover,
.navbar .navbar-custom > li > a:focus {
    color: #eFdFFF;
}
.navbar .navbar-custom > .active > a,
.navbar .navbar-custom > .active > a:hover,
.navbar .navbar-custom > .active > a:focus {
    color: #eFdFFF;
}

.navbar .navbar-nav > li > a {
    color: #863276;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: black;
  background-color: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #863276;
}

.nav-stacked li a {
  font-family:"Arial", sans-serif; font-weight: bold; font-size:22.0px; text-align:left; line-height:1.19em; color:#1e1e46;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h2 {
  letter-spacing: -1px;
  font-weight: normal;
}
h3 {
  margin-top: -10px; //this is being ignored for some reason
}

p {
  line-height: 1.2em;
}

    li {
      list-style-position: outside;
      text-align: left;
      text-indent: -10px;
      margin-left: -5px;
      padding-left: -1em; //why dont any of these work
     }

/* header */

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      text-align: left;
      margin-right: 10px;
      padding-left: 3px
     }
    a:hover {  background-color: transparent; }
  }

header.navbar {
  border-radius: 0;
  top: -20px;
  ul > li:last-child {
    margin-right: 0;
   }
}

.navtable {
  display: table;
  margin: auto;
}

/* footer

footer {
  margin-top: 25px;
  padding-top: 5px;
  margin-right: 10px;
  border-top: 1px solid #000;
  color: black;
  a {
    color: #000;
    &:hover {
      //color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
*/
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}

// Sidebar

sidebar {
  float:left;
  width:350px;
  min-height: 100vh;
  background-color: #D3C9AE;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -40px; //don't know why there's a huge white margin without this
  .wrapper {
    .profile-pic {        //is this used anymore
      margin-right: 5px;
      margin-left: -15px; //where is this extra 15 px from
      padding: 0;
      vertical-align: top;
      width: 150px;
      overflow: hidden;
    }
    .author-info {
      padding: 0;
      width: 40%;
    }
  }
  .author-books {
    .edit_book {
      margin-top: 10px;
      margin-left: -15px; //where is this extra 15 px from
      .book-cover {
        padding-left: 0;
        width: 27%
      }
      .book-info {
        .fifty {
          line-height: 1.1em;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

.post-border {

  border-bottom: solid;
  border-width: 3px;
  border-color: #863276;
  background-color: white;

  -webkit-box-shadow: 5px 5px 3px #e5e5e5;
  -moz-shadow: 5px 5px 3px #e5e5e5;
  box-shadow: 5px 5px 3px #e5e5e5;

  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.important-info {
  background-color: white;
}

center .info-content {
  padding-left: 0;
  margin-top: -20px;
}

// for user site sidebar
#wrapper {
  padding-left: 350px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-top: -40px;
  margin-left: -350px;
  left: 350px;
  width: 350px;
  position: absolute;
  height: 100%;
  max-width: 350px;
  overflow: wrap;

  z-index: 8;
  transition: all 0.4s ease 0s;
  td {
    padding: 0px;
  }
}
#page-content-wrapper {
  width: 100%;

}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }
    #sidebar-wrapper {
      left: 0;
    }
    #wrapper.active {
      position: relative;
      left: 350px;
    }
    #wrapper.active #sidebar-wrapper {
      left: 350px;
      width: 350px;
      transition: all 0.4s ease 0s;
    }
}

.x-centering-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex: 1;
  -webkit-flex: 0 1 100%;
}

.button{
  background-color: #A14690;
  font-size:16px;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  padding-top:10px;
  padding-bottom:8px;
  padding-left:18px;
  padding-right:18px;
  border: none;
  border-radius: 2px;
  color:white;
  text-align:center;
 }

.button:hover {
  background-color: #863276;
}


/*
Notes
Greys
    - 00: #F8F9FA
    - 01: #F1F3F5
    - 02: #E9ECEF
    - 03: #DEE2E6
    - 04: #CED4DA
    - 05: #ADB5BD
    - 06: #868E96
    - 07: #495057
    - 08: #343A40
    - 09: #212529
ASU
    - Gold: #FFC627
    - Maroon: #8C1D40
*/

main {
    padding-top: 64px;
}
p {
    text-align: left;
}
#heroImage {
    background-image: image-url("heroImage.jpg");
    background-color: transparent;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
#homeHero {
    background-color: #495057;
    color: #F8F9FA;
}
.greyBlock {
    background-color: #E9ECEF;
}
#homeHero, #faqBlock, .whiteBlock, .greyBlock {
    padding: 100px 40px;
}
footer {
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
    color: #F8F9FA;
    background-color: #212529;
}