@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  text-align: left;
  width: 100%;
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

body2 {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-userpage {
    color:#2c3651;
    background-color: #2c3651;
    border-color: #fff;
    border-radius:0;
}

.navbar-grouppage {
    color:#681ace;
    background-color: #681ace;
    border-color: #fff;
    border-radius:0;
}

.navbar-custom {
    background-color:#fff;
    color:#2c3651;
    border-radius:0;
}
.navbar .navbar-custom > li > a:hover,
.navbar .navbar-custom > li > a:focus {
    color: #2c3651;
    background-color: #fff;
}
.navbar .navbar-custom > .active > a, 
.navbar .navbar-custom > .active > a:hover, 
.navbar .navbar-custom > .active > a:focus {
    color: #2c3651;
    background-color: #fff ;
}

.navbar .navbar-nav > li > a {
    color: #fff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #2c3651;
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2c3651;
}

.nav-stacked li a {
  font-family:"Arial", sans-serif; font-weight: bold; font-size:22.0px; text-align:left; line-height:1.19em; color:#1e1e46; 
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
}

p {
  line-height: 1.2em;
}


/* header */

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 10px;
    }
  }

header.navbar {
  border-radius: 0;
  top: -20px;
  ul > li:last-child {
    margin-right: 0;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  margin-right: 10px;
  border-top: 1px solid #000;
  color: black;
  a {
    color: #000;
    &:hover {
      //color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}

// Sidebar

sidebar { 
  float:left; 
  width:350px; 
  background-color: #eeeaf2;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  .wrapper {
    .profile-pic {
      margin-right: 5px;
      margin-left: -15px; //where is this extra 15 px from
      padding: 0;
      vertical-align: top;
      width: 150px;
      overflow: hidden;
    }
    .author-info {
      padding: 0;
      width: 40%;
    }
  }
  .author-books {
    .edit_book {
      margin-top: 10px;
      margin-left: -15px; //where is this extra 15 px from
      .book-cover {
        padding-left: 0;
        width: 27%
      }
      .book-info {
        .fifty {
          line-height: 1.1em;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

center .info-content {
  padding-left: 0;
}