#bootstrap-override {
    //apply to all body elements; add id to element css to add weight to selectors 
}

@import "bootstrap-sprockets";
@import "bootstrap";

/* Contents --------------------------------------------------- /
1. Branding
    - Colors are ASU Maroon and Gold
2. Typography
    - Served by Typekit
    - Neuzeit Grotesk in 300, 400, 700, 900
    - Type scale ratio of 1.414
3. Layout
    a. Home
        - darkBlock are light grey rows
        - lightBlock are white rows
4. Working
    - Previous styling that needs to be moved or pruned
*/

/* Branding --------------------------------------------------- */

$brand-primary: #FFC627;
$brand-primary-light: #FFEC99;
$brand-primary-dark: #E67700;

$brand-secondary: #8C1D40;

//$logo-full-large:;
//$logo-small:;

/* Typography --------------------------------------------------- */

@import url("https://use.typekit.net/fxy5ytx.css");

$font-stack: "neuzerit-grotesk", "Avenir", "Helvetica", "Arial", sans-serif !important;

h1#bootstrap-override, h2#bootstrap-override, h3#bootstrap-override, h4#bootstrap-override, h5#bootstrap-override, h6#bootstrap-override {
    font-family: $font-stack;
    font-weight: 700;
}
a#bootstrap-override {
    color: black;
    font-family: $font-stack;
}
h1 {
    font-size: 2.827em;
}
h2 {
    font-size: 1.999em;
}
h3 {
    font-size: 1.414em;
}
p {
    font-family: $font-stack;
    font-weight: 300;
}
small, sup, sub {
    font-family: $font-stack;
    font-size: 0.707em;
}
/*#bootstrap-override a {
    color: black;
    font-family: $font-stack;
}
#bootstrap-override a:visited {
    color: black;
}*/


/* Layout --------------------------------------------------- */
/* Navbar */
main {
    padding-top: 64px; //prevents header from overlapping body
}
p {
    text-align: left;
}

/* Homepage Blocks */
#heroImage {
    background-image: url(/assets/heroImage-4672d242421785c77f3d20da051a0d9d7714f60ac55e871c35121d66cb4c400c.jpg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.jumbotron a, .jumbotron p {
    text-align: center;
}
.darkBlock {
    background-color: #E9ECEF;
}

#homeHero, #faqBlock, .lightBlock, .darkBlock {
    padding: 100px 40px;
}
h3#faqBlock {
    margin-bottom: 6em;
}
/* Buttons */
.btn-huge {
    font-size: 2em;
    margin-top: 4em;
    padding: .8em 2em;
    border-radius: 0.2em;
    text-decoration: none;
    background-color: $brand-primary;
    text-align: center;
    transition: all 0.2s;
}
.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    -webkit-animation: bouncy 5s infinite ease-in;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

//footer

footer p.f-header {
    font-family: $font-stack;
    font-size: .85em;
    margin: 0;
    padding: 0;
}
footer a.f-link {
    color: $brand-primary;
    font-family: $font-stack;
    font-size: 1em;
}
/* Working --------------------------------------------------- */
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  width: 100%;
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}
.body-color {
  background-color: #f2f2f2;
}

.carousel-caption {
  width: 100vw;
  margin-top: 0px;
  margin-left: 150px;
  font-size:70px;
  text-align:center;
}
.dot {
  height: 30px;
  width: 35px;
  background-color: #aaa;
  border-radius: 50%;
  display: inline-block;
}
.hometop {
  display: flex; /* equal height of the children */
}
.homeheight {
  flex: 1; /* additionally, equal width */
  padding: 1em;
}
.readerhomeimage {
  background-image: image-url('crowdblur.png');
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.authorhomeimage {
  background-color: #6f6580;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.headerimage {
  text-align:center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.supportgroupimage {
  background-image: image-url('camelbackhouse.png');
  padding-top: 0px;
  padding-bottom: 0px;
}
.hsmovieimage {
  background-image: image-url('paintingPoster.png');
  padding-top: 0px;
  padding-bottom: 0px;
}
.groupimage { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

grouptext { 
   position: absolute; 
   bottom: 45px; 
   left: 60px;
   color: #fff;
   text-shadow: 1px 1px #000;
   a:link { color : #75b;}
   a:visited { color : #75b;}
   a:hover { text-decoration: none; color : #e6f; text-shadow: 1px 1px #000;}
}
projecttext { 
   vertical-align: top;
   position: absolute;
   text-align: left;
   top: 0px;
   left: 10px;
   color: #fff;
   text-shadow: 1px 1px #000000;
   a:link { color : #dbf;}
   a:visited { color : #dbf;}
   a:hover { text-decoration: none; color : #61e; text-shadow: 1px 1px #fff;}
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
}

carousel-inner>.item {
    position: relative;
    max-height: 200px;
}
.carousel-caption {
    position: absolute;
    top: 7%;
    transform: translateY(-7%);
    left: 23%;
    transform: translateX(-23%);
    width: 340px;
}

/* .navbar-default {
    border-color: #black;
}

.navbar-userpage {
    color:#black;
    background-color: white;
    border-bottom: solid;
    border-width: 3px;
    border-color: #e5e5e5;
    padding-right: 10px;
}

.navbar-grouppage {
    color: #863276;
    background-color: white;
    border-color: #black;
    border-radius:0;
    padding-right: 0px;
}

.navbar-custom {
    color: #eFdFFF;
    border-radius:0;
}
.navbar .navbar-custom > li > a:hover,
.navbar .navbar-custom > li > a:focus {
    color: #eFdFFF;
}
.navbar .navbar-custom > .active > a, 
.navbar .navbar-custom > .active > a:hover, 
.navbar .navbar-custom > .active > a:focus {
    color: #eFdFFF;
}

.navbar .navbar-nav > li > a {
    color: #863276;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: black;
  background-color: transparent;
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
    color: #863276;
}

.nav-stacked li a {
  font-family:"Arial", sans-serif; font-weight: bold; font-size:22.0px; text-align:left; line-height:1.19em; color:#1e1e46; 
}*/

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h2 {
  letter-spacing: -1px;
  font-weight: normal;
}
h3 {
  margin-top: -10px; //this is being ignored for some reason
}

p {
  line-height: 1.2em;
}

    li {
      list-style-position: outside;
      text-align: left;
      text-indent: -10px;
      margin-left: -5px;
      padding-left: -1em; //why dont any of these work
     }

/* header */

  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      text-align: left;
      margin-right: 10px;
      padding-left: 3px
     }
    a:hover {  background-color: transparent; }
  }

/* header.navbar {
  border-radius: 0;
  top: -20px;
  ul > li:last-child {
    margin-right: 0;
   }
}

.navtable {
  display: table;
  margin: auto;
}*/

/* footer */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}

// Sidebar

sidebar { 
  float:left; 
  width:350px; 
  min-height: 100vh;
  background-color: #D3C9AE;
  padding-left: 5px;
#  padding-top: 20px; 
  padding-bottom: 20px;
#  margin-top: -40px; //don't know why there's a huge white margin without this
  .wrapper {
    .profile-pic {        //is this used anymore
      margin-right: 5px;
      margin-left: -15px; //where is this extra 15 px from
      padding: 0;
      vertical-align: top;
      width: 150px;
      overflow: hidden;
    }
    .author-info {
      padding: 0;
      width: 40%;
    }
  }
  .author-books {
    .edit_book {
      margin-top: 10px;
      margin-left: -15px; //where is this extra 15 px from
      .book-cover {
        padding-left: 0;
        width: 27%
      }
      .book-info {
        .fifty {
          line-height: 1.1em;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

.post-border {

#  border-bottom: solid;
#  border-width: 3px;
#  border-color: #863276;
  background-color: white;

  -webkit-box-shadow: 5px 5px 3px #e5e5e5;
  -moz-shadow: 5px 5px 3px #e5e5e5;
  box-shadow: 5px 5px 3px #e5e5e5;

  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.important-info {
  background-color: white;
}

.info-content {
  padding-left: 0;
  margin-top: -20px;
}

// for user site sidebar
#wrapper {
  padding-left: 350px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-top: -40px; 
  margin-left: -350px;
  left: 350px;
  width: 350px;
  position: absolute;
  height: 100%;
  max-width: 350px;
  overflow: wrap;
 
  z-index: 8;
  transition: all 0.4s ease 0s;
  td {
    padding: 0px;
  }
}
#page-content-wrapper {
  width: 100%;

}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }
    #sidebar-wrapper {
      left: 0;
    }
    #wrapper.active {
      position: relative;
      left: 350px;
    }
    #wrapper.active #sidebar-wrapper {
      left: 350px;
      width: 350px;
      transition: all 0.4s ease 0s;
    }
}

.x-centering-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex: 1;
  -webkit-flex: 0 1 100%;
}

.button{
  background-color: #A14690;
  font-size:16px;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  padding-top:10px;
  padding-bottom:8px;
  padding-left:18px;
  padding-right:18px;
  border: none;
  border-radius: 2px;
  color:white;
  text-align:center;
 }

.button:hover {
  background-color: #863276;
} 
