footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
    color: #F8F9FA;
    background-color: #212529;
}
#footer {
    position: relative;
}
#copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}