/*a:hover {
    color: $brand-primary-light;
}*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    text-align: left;
    color: #F8F9FA;
    background-color: #212529;
}
#footer {
    position: relative;
}
#copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}