@import "bootstrap";

//<style type="text/css">
//<!--

.groupname
        {
        font-family:"Tahoma", sans-serif; font-weight:700; font-size:21.0px; text-align:left; line-height:1.19em; color:#2e0c5a; 
        }

//-->
