.btn-lettering {
    font-family : inherit;
    font-size: inherit;
    color: black;

    margin-top: 10px;
}

.user-profile-header{
    list-style-type: none;
    margin: 0;
    padding: 3;
    
    -webkit-box-shadow: 0px 3px 2px #e5e5e5;
    -moz-shadow: 0px 3px 2px #e5e5e5;
    box-shadow: 0px 3px 5px #e5e5e5;

    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    li {
        float: right;
    }

    li a {
        display: block;
        color: #863276;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: transparent;
        color: black;
    }

    .active {
        background-color: transparent;
    }

    #crowdPublishIcon-logo {
        margin-top: 8px;
    }
}

