@import url("https://use.typekit.net/fxy5ytx.css");

$font-stack: "neuzerit-grotesk", "Avenir", "Helvetica", "Arial", sans-serif !important;

nav {
    font-family: $font-stack;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom:5px !important;
    line-height: 3rem;
}

#signButton {
    margin-right: 10px;
}