@import "styles/_faq.scss";
@import "styles/_fellowship.scss";
@import "styles/_home.scss";
//The above sheets should be combined into 1 _staticpages.scss

//Overrides Bootstrap-defined variables
@import "base/variables.scss";
$primary: #8C1D40;
$baseFontFamily: Helvetica !default;
//Bootstrap files
//@import "bootstrap-sprockets";

@import "bootstrap";
@import "font-awesome";
//Global styles
@import "base/globals.scss";
@import "base/header.scss";
@import "base/footer.scss";

//Individual stylesheets loaded here
@import "styles/new.scss";
@import "styles/users.scss";
@import "styles/panels.scss";
@import "styles/show.scss";

@import "styles/stripe-modal.scss";
@import "calendar/styles.scss";
