//All files should be combined into 3 or 4 _x.scss 
@import "base/globals";
//Overrides Bootstrap-defined variables
$primary: #8C1D40;
$baseFontFamily: Arial,Helvetica !default;
//Bootstrap files
//@import "bootstrap-sprockets";

@import "font-awesome";
//Individual stylesheets loaded here
@import "bootstrap";
