/* Contents --------------------------------------------------- /
1. Branding
    - Colors are ASU Maroon and Gold
    - Generally use light for hover and dark for backgrounds
2. Typography
    - Served by Typekit
    - Neuzeit Grotesk in 300, 400, 700, 900
    - Type scale ratio of 1.414

/* Branding --------------------------------------------------- */

$brand-primary: #FFC627;
$brand-primary-light: #FFEC99;
$brand-primary-dark: #B28609;

$brand-secondary: #8C1D40;


/* Typography --------------------------------------------------- */

@import url("https://use.typekit.net/fxy5ytx.css");

$font-stack: "neuzerit-grotesk", "Avenir", "Helvetica", "Arial", sans-serif !important;


body {
    background-color: #fff;
    color: black !important;
    font-family: $font-stack;
    font-size: 1em;
    font-weight: 300;
}
h1 {
    font-family: $font-stack;
    font-weight: 700 !important;
    font-size: 2.827em !important;
}
h2 {
    font-family: $font-stack;
    font-weight: 700 !important;
    font-size: 1.999em !important;
}
h3 {
    font-family: $font-stack;
    font-weight: 700 !important;
    font-size: 1.414em !important;
}
p {
    font-family: $font-stack;
    font-size: 1em;
}
small, sup, sub {
    font-family: $font-stack;
    font-size: 0.707em;
}

a {
  color: $brand-primary;
    &:visited { 
        color: $brand-primary;
    }
    &:hover {
        color: $brand-primary-dark !important;
    }
  text-decoration: none;
}

table td, th {
  padding:0px 30px 0px 10px;
}





/*---------------------------------*/

div {
  &.field, &.actions {
    margin-bottom: 0px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}

label {
    display: block;
}

#video-container {
    margin: 2em auto 0;
    width: 500px;
    padding: 2em;
    background: white;
    -webkit-box-shadow: 0 1px 10px #D9D9D9;
    -moz-box-shadow: 0 1px 10px #D9D9D9;
    -ms-box-shadow: 0 1px 10px #D9D9D9;
    -o-box-shadow: 0 1px 10px #D9D9D9;
    box-shadow: 0 1px 10px #D9D9D9;
}