@import "bootstrap";
// automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//<style type="text/css">
//<!--

.dummyforprecompiletest
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; font-size:14.0px; line-height:1.0em; color:#880000;
        }
.password
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; font-size:14.0px; line-height:1.0em; color:#880000;
        }
.goals
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Arial", sans-serif; font-size:16.0px; line-height:18px; text-align:left;
        }
.tinyspace
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Arial", sans-serif; font-size:4.0px; text-align:left; 
        }
.sidebartitle
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; font-size:14.0px; line-height:1.0em; font-weight:bold; 
        }
.covertitle
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; text-align:center; font-size:12.0px; line-height:0.9em; color:#880000; font-style:italic; 
        }
.covername
        {
        line-height:0.9em; margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; text-align:center; font-size:11.0px; color:#2c3651;  
        }
.hiddenr
        {
        font-family:"Arial", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.6em; color:#000000;
        }
.blacktxt
        {
        font-family:"Arial", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:16.0px; line-height:1.6em; color:#555555; 
        }
.whitetxt
        {
        font-family:"Arial", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-size:22px; line-height:1em; color:#fff; 
        a:link { text-decoration: none; color : #EFBFFF;}
        a:visited { text-decoration: none; color : #EFBFFF;}
        }
.lavenderlink
        {
        font-family:"Arial", sans-serif; text-align:center; font-size:22px; line-height:1.2em; color:#fff; text-shadow: 1px 1px #000; font-weight:bold; 
        a:link { text-decoration: none; color : #eFdFFF;}
        a:visited { text-decoration: none; color : #eFdFFF;}
        a:hover { text-decoration: none; color : #bF8FFF;}
        }
.whitetitle
        {
        font-family:"Arial", sans-serif; margin:0.0px 0.0px 20.0px 0.0px; text-align:center; font-size:42px; line-height:1.6em; color:#fff; font-weight:bold; 
        }
.whitesub
        {
        font-family:"Arial", sans-serif; margin:0.0px 0.0px 20.0px 0.0px; text-align:center; font-size:34px; line-height:1em; color:#fff; font-weight:bold; 
        a:link { text-decoration: none; color : #FFF;}
        a:visited { text-decoration: none; color : #FFF;}
        }
.blacktxta
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.6em; color:#000000;
        }
.blacktxtr
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.6em; color:#000000;
        }
.blacktxtb
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.6em; color:#000000;
        }
.blacktxto
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.6em; color:#000000;
        }
.editbooktxt
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.0em; color:#000000;
        }
.copyalpha
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:12.0px; color:#000000;
        }
.indexlist
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-size:14.0px; line-height:.14em;
        }
.fanbook
        { line-height:.95em;
          table td, th {
            padding:0px 0px 0px 0px;
          }
        }
.featured
        {
        font-family:"Verdana", sans-serif; font-weight:700; font-size:24.0px; text-align:center; 
        line-height:1.13em; color:#1e1e46; 
        }
.helps
        {
        font-family:"Tahoma", sans-serif; font-size:24.0px; text-align:center; line-height:1.19em; color:#1e1e46; 
        }
.username
        {
        font-family:"Tahoma", sans-serif; font-weight:700; font-size:21.0px; text-align:center; line-height:1.19em; color:#1e1e46; 
           a:link { color : #fff;}
        a:visited { color : #fff;}
        }
.txtoverlogo
        {
        vertical-align: text-bottom; font-family:"Tahoma", sans-serif; font-weight:700; font-size:21.0px; text-align:center; line-height:1.19em; color:#1e1e46; 
           a:link { color : #000;}
        a:visited { color : #000;}
        }

.profilebox
        {
        font-family:"Tahoma", sans-serif; font-weight:500; font-size:14.0px; text-align:left; line-height:1.0em; color:#1e1e46; ; line-height:1.2em;
        }
.usergenre
        {
        font-family:"Tahoma", sans-serif; font-weight:400; font-size:14.0px; text-align:left; line-height:1.6em; color:#1e1e46; margin-left:5px;
        }
.socialize
        {
        font-family:"Arial", sans-serif; font-size:19.0px; line-height:1.21em; text-align:center; color:#1e1e46; 
        }
.merchandise
        {
        font-family:"Arial", sans-serif; font-size:21.0px; line-height:1.43em; 
        }
.support
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:19.0px; color:#2c3651; 
        }
.signin
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.blurbcount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.charcount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.viddesc1usercount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.viddesc2usercount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.viddesc3usercount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.youtube1bookcount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.youtube2bookcount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; color:#2c3651; 
        }
.usermenu
        { text-decoration: none; color: #fff; font-size:14.0px; align:left; 
        a:link {color: #EFdFFF;}
        a:visited { color : #EFdFFF;}
        a:hover { color: #2c3651; }
        }
.menu
        { margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; line-height:1.5em; text-decoration: none; color: #fff; font-size:19.0px; 
        }
.smmenu
        { margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; line-height:1.5em; text-decoration: none; color: #fff; font-size:13.0px; 
        }

//-->
