// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//<style type="text/css">
//<!--
body {margin: 0px; padding: 0px;}
 a:link { text-decoration: none}
 a:visited { text-decoration: none}
a:hover {  text-decoration: none; color:blue; background-color:transparent;}
//a:active {color: #885599;}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.Body-P
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400; 
        }
.Body-P0
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:right; font-weight:400; 
        }
.Body-P1
        {
        margin:0.0px 0.0px 5.0px 0.0px; text-align:left; font-weight:400; 
        }
.Body-P2
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:right; font-weight:400; 
        }
.Normal-P
        {
        margin:0.0px 0.0px 8.0px 0.0px; text-align:left; font-weight:400; 
        }
.Body-C
        {
        font-family:"Verdana", sans-serif; font-size:13.0px; 
        line-height:1.23em; 
        }
.Body-C0
        {
        font-family:"Verdana", sans-serif; font-style:italic; 
        font-size:12.0px; color:#ff0000; 
        }
.Body-C1
        {
        font-family:"Verdana", sans-serif; font-style:italic; 
        font-size:13.0px; line-height:1.23em; 
        }
.Body-C2
        {
        font-family:"Verdana", sans-serif; font-weight:700; 
        font-size:13.0px; line-height:1.23em; 
        }
.Body-C3
        {
        font-family:"Trebuchet MS", cursive; font-size:13.0px; 
        line-height:1.38em; 
        }
.Body-C4
        {
        font-family:"Trebuchet MS", sans-serif; font-weight:700; 
        font-size:12.0px; line-height:1.26em; color:#ffffff; 
        }
.Body-C5
        {
        font-family:"Trebuchet MS", sans-serif; font-weight:700; 
        font-size:21.0px; line-height:1.26em; color:#885599; 
        }
.Body-C6
        {
        font-family:"Arial", cursive; font-size:9.0px; 
        line-height:1.38em;         }
.Body-C7
        {
        font-family:"Arial Black", sans-serif; font-weight:700; 
        font-size:21.0px; line-height:1.43em; 
        }
.Body-C8
        {
        font-family:"Arial Black", sans-serif; font-weight:700; 
        font-size:21.0px; line-height:1.43em; color:#c7c5c8; 
        }
.Body-C9
        {
        font-family:"Arial", sans-serif; font-size:16.0px; 
        line-height:1.19em; color:#ffffff; 
        }
.Body-D1
        {
        font-family:"Trebuchet MS", cursive; font-weight:700; 
        font-size:21.0px; line-height:1.43em; color:#ffffff; 
        }
.Body-D2
        {
        font-family:"Arial"; font-size:10.0px; color:#ff0000; 
        line-height:.9em; text-align: center;
        }
.Normal-C
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:16.0px; 
        line-height:1.25em; color:#ffffff; 
        }

//-->
