@import "bootstrap";
// automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//<style type="text/css">
//<!--

.password
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; font-size:14.0px; line-height:1.0em; color:#880000;
        }
.sidebartitle
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; font-size:14.0px; line-height:1.0em; font-weight:bold; 
        }
.covertitle
        {
        margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; text-align:center; font-size:12.0px; line-height:0.9em; color:#880000; font-style:italic; 
        }
.covername
        {
        line-height:0.9em; margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; text-align:center; font-size:11.0px; color:#2c3651;  
        }
.blacktxt
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:15.0px; line-height:1.6em; color:#000000;
        }
.copyalpha
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-size:12.0px; color:#000000;
        }
.indexlist
        {
        font-family:"Tahoma", sans-serif; margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-size:14.0px;   
        }
.fanbook
        {
          table td, th {
            padding:0px 0px 0px 0px;
          }
        }
.featured
        {
        font-family:"Verdana", sans-serif; font-weight:700; font-size:24.0px; text-align:center; 
        line-height:1.13em; color:#1e1e46; 
        }
.helps
        {
        font-family:"Tahoma", sans-serif; font-weight:700; font-size:21.0px; text-align:center; line-height:1.19em; color:#1e1e46; 
        }
.username
        {
        font-family:"Tahoma", sans-serif; font-weight:700; font-size:21.0px; text-align:left; line-height:1.19em; color:#1e1e46; 
        }
.profilebox
        {
        font-family:"Tahoma", sans-serif; font-weight:500; font-size:14.0px; text-align:left; line-height:1.0em; color:#1e1e46; 
        }
.usergenre
        {
        font-family:"Tahoma", sans-serif; font-weight:200; font-size:14.0px; text-align:left; line-height:1.6em; color:#1e1e46; 
        }
.socialize
        {
        font-family:"Arial", sans-serif; font-size:19.0px; line-height:1.21em; text-align:center; color:#1e1e46; 
        }
.signupbutton
        {
        font-family:"Arial Black", sans-serif; font-weight:700; 
        font-size:21.0px; line-height:1.43em; 
        }
.signin
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; 
        color:#2c3651; 
        }
.blurbcount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; 
        color:#2c3651; 
        }
.charcount
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; 
        color:#2c3651; 
        }

.usermenu
        { text-decoration: none; color: #fff; font-size:14.0px; align:left;
        }

.menu
        { margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; line-height:1.5em; text-decoration: none; color: #fff; font-size:15.0px; 
        }
.smmenu
        { margin:0.0px 0.0px 0.0px 0.0px; font-family:"Tahoma", sans-serif; line-height:1.5em; text-decoration: none; color: #fff; font-size:13.0px; 
        }

//-->
