<% if @events.count != 0 %>
  <% if @start_timestudy != nil %>
  <% if (Time.current > Time.find_zone("UTC").parse(@start_timestudy) ) && (Time.current < Time.find_zone("UTC").parse(@start_timestudy) + 1.hour) %>
    <div id="eventCurrentdiv">
        <% if @displaystudy.present? %>
          <% if (Time.current > Time.parse(@start_timestudy)) && (Time.current < Time.parse(@end_timestudy)) %>
            <div id="eventCurrentdiv" class = "align-items-end pb-0 mb-0 pt-5">
              <h3 class = "pt-5" style = "color:#8C1D40" > New to ThinQ?<br> </h3>
              <%= link_to " Drop In Now ", user_viewer_path(@hoststudy.permalink, chatrm: @displaystudy.topic , event: @displaystudy.id), class: "btn btn-primary btn-sm fa fa-video-camera", style: "margin-bottom: 10px; font-size: 30px; border-radius: 5px;" %>
              <br><p>Join our Drop-In to learn more about the platform! </p>
            </div>
          <% end %>
        <% end %>
      <br>
    </div>
  <% elsif Time.current < Time.parse(@start_timestudy) %>
    <div class = "mt-5 pb-0 mb-0 justfy-items-end" id="clockdivstudy">
      <div>
      <span class="daystudy h1"></span>
      <div class="h6 text-warning "><strong>Days</strong></div>
      </div>
      <div>
        <span class="hourstudy h1"></span>
        <div class="h6 text-warning" ><strong>Hours</strong></div>
      </div>
      <div>
        <span class="minutestudy h1"></span>
        <div class="h6 text-warning "><strong>Minutes</strong></div>
      </div>
      <div>
        <span class="secondstudy h1"></span>
        <div class="h6 text-warning"><strong>Seconds</strong></div>
      </div>
      <script>
        initializeClockstudy('clockdivstudy', '<%= @start_timestudy %>');
      </script>
    </div>
    <div id="nextEventdiv">
      <h3>Until <%= link_to @namestudy, event_path(@displaystudy.id), title: @descriptionstudy %>  drop-in opens!</h3> 
      <br>
      Hosted by: <%= link_to @hoststudy.name, @hoststudy.permalink %>
    </div>
  <% end %>
  <% end %>
<% end %>
