<div class="panel panel-primary">
	<div class="panel-heading">
		Create Perk
	</div>
	<div class="panel-body">
		<!--%= render :file => 'merchandises/new' %-->
	</div>
</div>

<!-- Notes:

The merchandises/new form needs to be enabled for this in the controller.

When this works I need to redo the Suggest Perks floaty box.

-->