<div class="card">
	<div class="card-header bg-primary text-white">
		Create Reward
	</div>
	<div class="card-body", style="text-align:center">
		<%= link_to "Create Reward", createperk_path, method: :get, class: "btn btn-lg btn-warning" %>
		<!--%= render :file => 'merchandises/new' %-->
	</div>
</div>

<!-- Notes:
The merchandises/new form needs to be enabled for this in the controller.
When this works I need to redo the Suggest Reward floaty box.
-->