
<div class="card border-primary">

	<div class="card-header bg-primary text-white">
		Create Reward
	</div>
	<div class="card-body text-center">
		<%= link_to "Create Reward", createperk_path, method: :get, class: "btn btn-warning text-black", :style=> "font-size: 1.5em; padding: 10px; width: 100%; width: 200px; font-family: Helvetica;" %>
		<!--%= render :file => 'merchandises/new' %-->
	</div>
</div>
