<footer class="navbar navbar-fixed navbar-inverse">
  <div class="navbar-inner">
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to 'Home', root_path, :style => 'color:#FFFFFF' %></li>
        <li><%= link_to 'Members', users_path, :style => 'color:#FFFFFF' %></li>
        <li><%= link_to 'SIGN UP!', "/signup", :style => 'color:#FFFFFF' %></li>
      </ul>

      <ul class="nav pull-left">
        <li>Questions? Contact Lisa@CrowdPublish.TV </li>
      </ul>
    </nav>
  </div>

  <div class="copyalpha">
    <br> This site is still in alpha stage development 
    <br><br>(C) Copyright 2018, RoleModel Enterprises, LLC. All Rights Reserved.
  </div>
</footer>