<footer class="container-fluid">
    <div class="row" id="footer">
        <div class="col-sm-3 col-sm-offset-1">
            <p class="f-header">Site</p>
            <%= link_to "About", '/aboutus', :class => "f-link" %><br>
            <%= link_to "FAQ", '/faq', :class => "f-link"  %><br>
            <%= link_to "Terms of Service", '/tos', :class => "f-link" %>
        </div>
        <br class="visible-xs-block">
        <div class="col-sm-3">
            <p class="f-header">Contact</p>
            <a href="mailto:info@crowdpublish.tv" alt="Email" target="_blank" class="f-link">info@CrowdPublish.TV</a><br>
        </div>
        <div class="col-sm-3 pull-right" id="copyright">
            <small>&copy; 2018 RoleModel Enterprises, LLC</small>
        </div>
    </div>
</footer>