<sidebar class>
  <div class="groupname" >
    <%= @group.name %>
  </div><br>
  <% if current_user && @group.user_id == current_user.id %>
    <%= button_to "Edit Group", edit_group_path(@group.permalink), :method=> :get %>
    <br><br>
  <% end %> 
  <strong>About Us:</strong>
  <% if @group.about %> 
    <%= simple_format @group.about.gsub(/\n/, '<br>') %>
  <% end %>

</sidebar>
