<script src="https://meet.jit.si/external_api.js"></script>
<script>
	jQuery(document).ready(function($) {
		var domain = "meet.jit.si";
		var options = {
			roomName: "<%= params[:chatrm] %>",
			parentNode: document.querySelector('#meet')
		}
		var api = new JitsiMeetExternalAPI(domain, options);
	});
</script>
<div class="panel panel-primary">
	<div class="panel-heading">
	  <%= @user.name %>'s Live Conversation
	</div>
	<div class="panel-body embed-responsive embed-responsive-16by9">
	  <div class="embed-responsive-item" id="meet"></div>
	</div>
</div>

