<script src="https://meet.jit.si/external_api.js"></script>
<script>
	jQuery(document).ready(function($) {
		var domain = "meet.jit.si";
		var options = {
			roomName: "crowdpublishtv", //<%= @user.permalink %>",
			parentNode: document.querySelector('#meet')
		}
		var api = new JitsiMeetExternalAPI(domain, options);
	});
</script>
<div class="panel panel-primary">
	<div class="panel-heading">
	  <%= @user.name %>'s Live Show
	</div>
	<div class="panel-body embed-responsive embed-responsive-16by9">
	  <div class="embed-responsive-item" id="meet"></div>
	</div>
        <% if user_signed_in? %>
          <% if @user.id == current_user.id %>
            <h4>Instructions for recording to YouTube</h4>
		    <ol>
			<li>Click the <b>&#8942;</b> button in the lower right bar of the viewer above.</li>
			<li>Click 'Start live stream [BETA].'</li>
			<li>Sign in with Google.</li>
			<li>Enter your YouTube key (can be found at the bottom of your <%= link_to 'YouTube Live Dashboard ', "https://www.youtube.com/live_dashboard_splash", :target => "_blank" %>.</li>
            </ol>
          <% end %>
        <% end %>
</div>

<!-- NOTES
If we are going to set differing Host and Viewer Jitsi setups, we'll do it here.
-->
