<script src="https://meet.jit.si/external_api.js"></script>
<script>
	jQuery(document).ready(function($) {
		var domain = "meet.jit.si";
		var options = {
			roomName: "<%= @user.permalink %>",
			parentNode: document.querySelector('#meet'),
			muc_max_occupants = 2
		}
		var api = new JitsiMeetExternalAPI(domain, options);
	});
</script>

<div class="panel panel-primary">
	<div class="panel-heading">
		Stream
	</div>
	<div class="panel-body embed-responsive embed-responsive-16by9">
		<div class="embed-responsive-item" id="meet"></div>
	</div>
</div>

<!-- NOTES
If we are going to set differing Host and Viewer Jitsi setups, we'll do it here.
-->