<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

<div class="container-fluid">
  <div id="events" class="overflow-auto">
    <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date, events: @calendar_events_all, monthNum: 0}%>
  </div>
</div>
<script>
  function adjustCalendar(currentWidth){
    console.log("Running " + currentWidth);
    if(currentWidth > 995){
      console.log("Greater than 1015");
      $(".lgEvents").show();
      $(".smEvents").hide();
    } else {
      $(".lgEvents").hide();
      $(".smEvents").show();
    }
  }

  $(window).resize(function(){
    adjustCalendar($(".caler").width());
  });

  function monthMoreEvents(button){
    $(button).prev().toggle();
    $(button).siblings('.dots').toggle();
    $(button).find('.total').show();
    if($(button).text()=='More Conversations'){
      $(button).text('Less Conversations');
    } else {
      $(button).text('More Conversations');
    }
  }
</script>
