<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<div class="container-fluid">
  <div id="events" class="overflow-auto">
    <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date, events: @calendar_events_all, monthNum: 0}%>
  </div>
</div>
<script>
  function adjustCalendar(currentWidth){
    if(currentWidth > 995){
      $(".lgEvents").show();
      $(".smEvents").hide();
      $(".caler").css("width", "100%");
      $(".caler td").each(function(){
        console.log("Changing height");
        $(this).css("height", "150px");});
    } else {
      $(".lgEvents").hide();
      $(".smEvents").show();
      $(".caler").css("width", "560px");
      $(".caler").css("margin", "auto");
      $(".caler td").each(function(){
        $(this).css("height", "45px");});
    }
  }

  $(document).ready(function(){
    adjustCalendar($(".tabContainer").width());
  });

  $(window).resize(function(){
    adjustCalendar($(".tabContainer").width());
  });

  function monthMoreEvents(button){
    $(button).prev().toggle();
    $(button).siblings('.dots').toggle();
    $(button).find('.total').show();
    if($(button).text()=='More Conversations'){
      $(button).text('Less Conversations');
    } else {
      $(button).text('More Conversations');
    }
  }
</script>
