<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

<div class="container-fluid">
  <div id="events" class="overflow-auto">
    <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date, events: @calendar_events_all, monthNum: 0}%>
  </div>
</div>
<script>
  $(document).ready(function(){
     $(".expand").click(function(){
        $(this).prev().toggle();
        $(this).siblings('.dots').toggle();
        $(this).find('.total').show();
        if($(this).text()=='More Conversations'){
    $(this).text('Less Conversations');
        }
        else{
    $(this).text('More Conversations');
        }
     });
  });
</script>
