<div>


    <h1 class="col-sm-1 pt-3" id="profileAbout" style=" margin-left: 120px"> <%= "About" %> </h1>
    <h6 class="col-sm-7 pt-3 " id="profileAboutDescription" style="margin-left: 70px"> <%= @user.about %> </h6>

    <div class="col-xs-4 col-sm-2 pt-4 text-center">
        <%= link_to "Browse Schedule of Conversations", root_path, :class => "btn btn-lg text-primary", :style => "margin-left: 70px; border-color: #8d1d40;" %>
    </div>
    <div class="col-xs-4 col-sm-2 pt-4 text-center">
        <%= link_to 'Schedule Your Conversation', new_event_path, :class => "btn btn-lg text-primary", :style => "margin-left: 70px; border-color: #8d1d40;" %>
    </div>


</div>
<!--
<% if user_signed_in? %>
<% if current_user.id == @user.id %>


<% end %>
<% end %>
-->
