<div class="col-xs-12 pl-4 text-center">
  <% if user_signed_in? %>
    <% if current_user.id == @user.id %>
      <%= link_to "Browse Schedule of Conversations", root_path, :class => 'btn btn-lg btn-primary' %>
      <%= link_to 'Schedule Your Conversation', new_event_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 50px;" %>
    <% end %>
  <% end %>
</div>
