
<div class="panel panel-primary border border-primary">
	<p class="pt-1 pb-1 pl-3 mb-1 bg-primary text-white">
	Conversation Suggestions
	</p>
	<div class="panel-body">
		<div class="pt-4 pb-4 d-flex justify-content-center" id="shows-button-panel">
            <%= link_to 'Set Up Conversation', new_event_path, :class => "btn btn-lg btn-primary" %>
        </div>
		<div class="ml-3">
			<h4>Pre-Conversation Checklist</h4>
			<ul class="pr-2">
				<li class="pb-2"><%= link_to "Schedule your Conversations", new_event_path %> on the homepage calendar</li>
				<li class="pb-2">Set up custom <%= link_to "Donation or Buy buttons", new_merchandise_path %><br></li>
				<li><%= link_to 'Connect to Stripe', '/login' %></a> to receive your payments<br></li>
			</ul>
		</div>
	</div>
</div>