<div class="panel panel-primary">
	<div class="panel-heading">
		Livestream Directions
	</div>
	<div class="panel-body">
		<h4>Pre-Show Checklist</h4>
		<ul>
			<li>Schedule your show in the calendar by clicking the Set Up Future Show button on the left</li>
			<li>If you want to record, create a <%= link_to 'YouTube Live ', "https://www.youtube.com/live_dashboard_splash", :target => "_blank" %> account. <i>(note: 24 hour hold on new accounts)</i></li>
			<li>Set up custom Donation or Buy buttons </li>
			<li>Connect to Stripe to receive your payments</li>
		</ul>
		<h4>Recording</h4>
		<ol>

			<li>In the livestream viewer on your Profile, click the <b>&#8942;</b> button.</li>
			<li>Click 'Start live stream [BETA].'</li>
			<li>Sign in with Google.</li>
			<li>Enter your YouTube key (can be found at the bottom of your <%= link_to 'YouTube Live Dashboard ', "https://www.youtube.com/live_dashboard_splash", :target => "_blank" %>.</li>
		</ol>
		<h4>Post Previous Shows to Your CrowdPublish.TV page</h4>
		<ol>
			<li>Get the URL for your recorded shows from the <b><a href="https://studio.youtube.com" target="_blank">YouTube Studio Dashboard</a></b>.</li>
			<li>Go to the Profile tab in your Control Panel.</li>
			<li>Under "YouTube Videos," paste the URL for your shows. These will show up on your Profile page.</li>
		</ol>
	</div>
</div>