<div class="col-xs-12" style="text-align:center">
	<% if user_signed_in? %>
		<% if current_user.id == @user.id %>
			<%= link_to "Start Your Live Conversation Now", "https://crowdpublishtv.herokuapp.com/" + @user.permalink, :class => 'btn btn-lg btn-warning' %>
			<%= link_to 'Set Up Future Conversations', new_event_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 50px;" %>
		<% else %>
			<%= link_to "Join Live Conversation", "https://crowdpublishtv.herokuapp.com/" + @user.permalink, :class => 'btn btn-lg btn-warning' %>
		<% end %>

	<% else %>
		<%= link_to "Join Live Conversation", "https://crowdpublishtv.herokuapp.com/" + @user.permalink, :class => 'btn btn-lg btn-warning' %>
	<% end %>
</div>
