<div class ="pt-5">

    <div class="pt-0 text-center" id="appButton1">
        <%= link_to "Browse Conversation Schedule", root_path, :class => "btn btn-lg ", :id => "hollowMaroonButton" %>
    </div>
    <div class="pt-4 text-center" id="appButton2">
        <%= link_to 'Schedule a Conversation', new_event_path, :class=>"btn btn-primary btn-lg" %>
    </div>

        
   
</div>
