<div class="panel panel-primary">
	<h2 class="panel-heading">
	Conversation Suggestions
	</h2>
	<div class="panel-body">
		<h4>Pre-Conversation Checklist</h4>
		<ul>
			<li><%= link_to "Schedule your Conversations", new_event_path %> on the homepage calendar</li>
			<li>Set up custom <%= link_to "Donation or Buy buttons", new_merchandise_path %></li>
			<li><%= link_to 'Connect to Stripe', '/login' %></a> to receive your payments</li>
		</ul>
	</div>
</div>