<div class="panel panel-primary">
	<div class="panel-heading">
		Streaming Directions
	</div>
	<div class="panel-body">
		<h4>Pre-Stream Checklist</h4>
		<ul>
			<li>Schedule your stream in the calendar</li>
			<li>If you want to record, setup your YouTube Live account</li>
			<li>Give the call-in phone number to your guests ahead of time, and provide them with the PIN after starting the stream</li>
			<li>Setup Perks you'd like to offer during the Stream&#8212;this is when they're most visible!</li>
			<li>Connect to Stripe to receive your payments</li>
		</ul>
		<h4>Recording</h4>
		<ol>

			<li>Setup a <%= link_to 'YouTube Live ', "https://www.youtube.com/live_dashboard_splash", :target => "_blank" %> account. <i>(note: 24 hour hold on new accounts)</i></li>
			<li>In video player, click the <b>&#8942;</b> button.</li>
			<li>Click 'Start live stream [BETA].'</li>
			<li>Sign in with Google.</li>
			<li>Enter your YouTube key (can be found at the bottom of your <%= link_to 'YouTube Live Dashboard ', "https://www.youtube.com/live_dashboard_splash", :target => "_blank" %>.</li>
		</ol>
		<h4>Sharing Previous Streams</h4>
		<ol>
			<li>Get the URL for your recorded streams from the <b><a href="studio.youtube.com" target="_blank">YouTube Studio Dashboard</a></b>.</li>
			<li>Go to the Profile tab in your Control Panel.</li>
			<li>Under "YouTube Videos," paste the URL for your streams. These will show up on your Profile page.</li>
		</ol>
	</div>
</div>