
<div class="panel panel-primary border border-primary">
	<p class="pt-1 pb-1 pl-3 mb-1 bg-primary text-white">
	Conversation Suggestions
	</p>
	<div class="panel-body ml-3">
		<h4>Pre-Conversation Checklist</h4>
		<ul>
			<li><%= link_to "Schedule your Conversations", new_event_path %> on the homepage calendar</li>
			<li>Set up custom <%= link_to "Donation or Buy buttons", new_merchandise_path %></li>
			<li><%= link_to 'Connect to Stripe', '/login' %></a> to receive your payments</li>
		</ul>
	</div>
</div>