<div class="panel panel-primary">
	<div class="panel-heading"><%= @user.name %>'s Videos</div>
	<div class="panel-body">
		<% if @user.youtube1? %>
			<div class="col-xs-12">
				<% if @user.youtube1.match(/[0-9A-Za-z]/) && @user.youtube1.length < 20 %>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @user.youtube1 %>" allowfullscreen></iframe>
					</div>
				<% end %>
		</div>
		<% end %>
		<% if @user.youtube2? %>
			<div class="col-xs-12">
				<% if @user.youtube2.match(/[0-9A-Za-z]/) && @user.youtube2.length < 20 %>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @user.youtube2 %>" allowfullscreen></iframe>
					</div>
				<% end %>
		</div>
		<% end %>
		<% if @user.youtube3? %>
			<div class="col-xs-12">
				<% if @user.youtube3.match(/[0-9A-Za-z]/) && @user.youtube3.length < 20 %>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @user.youtube3 %>" allowfullscreen></iframe>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
